<template>
<div class="container">
    <h1 class="message-error">{{getError}}</h1>
    <p v-if="getError && getError === 'Thanks for signing up to our private beta!'" class="content">Yes, soon you'll be able to predict how your e-commerce products will perform on Amazon! You'll be able to get answer those questions such as: "How much do I need to invest to get this product going?" or "Will I make money if I only have 1/2 the sales of the market average?" or "How long before I make my initial investment back?" and many many more insights.</p>
    <p class="content">We review every application. Please check your email for approval. We'll send it in the next 24-48h.</p>
</div>
</template>

<script>
    export default {
        computed: {
            getError () {
                return this.$attrs.message || 'Thanks for signing up to our private beta!';
            }
        }
    }
</script>

<style lang="scss" scoped>
    .message-error {
        font-size: 2rem;
        font-weight: bold;
        text-align: center;
        padding: 5% 0;
    }
    .content {
        margin: 25px;
    }
</style>
