<template>
    <div class="background-light-blue">
    <div class="container">
        <header-support></header-support>
        <div class="container about-us">
            <div class="about-us-block">
                <h2 class="color-dark-gray about-us-title">Predictly was created by e-commerce entrepreneurs for
                    entrepreneurs like yourself.</h2>
                <p class="color-dark-gray about-us-test pb-3">We realized that building a great e-commerce business takes
                    more than just doing product research. </p>
                <p class="color-dark-gray about-us-test pb-3">You need to predict outcomes. You need to understand cash flow. You
                    need to get insight into 'what if...' scenarios. We realized combining all of this was the key to avoiding costly
                    mistakes. It was the key to making more profit. Ultimately it was the key to growing our business. </p>
                <p class="color-dark-grey about-us-test pb-3">But calculating growth requires complex financial modeling. It requires an accurate understanding of compounding growth. Of scenario planning. Of prediction analysis. So we went to the best places we
                    could think of to help us out. We went to Wall Street.</p>
                <p class="color-dark-gray about-us-test pb-3"> We leveraged years and years of hedge fund analysis, prediction
                    modeling, and very complex financial insight to create the calculation engine behind Predictly. But you need more than just accurate predictions to get great insight. So we took it a step further. </p>
                <p class="color-dark-gray about-us-test pb-3"> We went to Silicon Valley to use data science to make Predictly even better. With AI based learning in our sights for the future, Predictly will continue to be the most accurate and powerful insights tool you can use.</p>
                <p class="color-dark-gray about-us-test pb-3">It's the best way to predicit
                    'what if...' scenarios so you can avoid costly mistakes. It's the best way to predict the growth of your business. It's the best way to use your product research data to find the profit and
                    success that you want.</p>
                <p class="color-dark-gray about-quote">We use it all the time to help us.
                    We hope you will too.</p>
                <p class="color-dark-gray about-quote pb-2">Here's to growth and success in your business.</p>
                <p class="color-dark-gray about-quote">From all of us at Predictly.</p>
            </div>

        </div>
    </div>

    </div>
</template>

<script>
    import HeaderSupport from '../../../layouts/HeaderMain';
    export default {
        components: {
            HeaderSupport
        },
        data() {
            return {
                showModalLogin: false,
            }
        },
        methods: {
        },
        computed: {
        }

    }
</script>

<style lang="scss" scoped>
    @import '~@/_variables.scss';

    .about-us {
        max-width: 688px;
    }

    .about-us-block {
        margin-top: 70px;
    }

    .about-us-title {
        font-weight: 600;
        font-size: 2rem;
        line-height: 38px;
        align-items: center;
        padding-bottom: 24px;
    }

    .about-us-text {
        font-style: normal;
        font-weight: normal;
        font-size: 1.125rem;
        line-height: 26px;
    }

    .about-quote {
        white-space: pre-line;
        font-style: italic;
        font-weight: normal;
        line-height: 26px;
    }
    .text-bottom {
        font-style: normal;
        font-weight: 600;
        font-size: 2rem;
        line-height: 38px;
    }
</style>
