<template>
    <div class="background-light-blue">
    <div class="container">
        <header-support></header-support>
        <div class="container faq">
            <div class="faq-block">
                <h2 class="color-dark-gray faq-title">How do I compare products to sell on Amazon?</h2>
                <p class="color-dark-gray faq-text">There are a ton of tools in the market that can help you with
                    product research. These tools allow you to
                    see how products are selling, what their average sales point are, and allow you to track things like
                    BSR (Best Seller Rank). But you'll still need to figure out how much you'll need to invest, how much
                    inventory you'll need to buy, and understand the different sales scenarios that might happen if you
                    go for the product. Predictly gives you this insight, so you can make more money, and avoid bad
                    products that won't do well in the market.</p>
            </div>
            <div class="faq-block">
                <h2 class="color-dark-gray faq-title">How do I know how much money it will cost to start?</h2>
                <p class="color-dark-gray faq-text">Calculating your starting cost is more than just picking a number.
                    Predictly helps you understand your estimated starting cost so you can get insight into how much it
                    will take to launch your product.</p>
            </div>
            <div class="faq-block">
                <h2 class="color-dark-gray faq-title">How do I choose the best product?</h2>
                <p class="color-dark-gray faq-text">Choosing the best product does not happen by choosing the highest monthly sales volume. You need to look at a other factors as well. Sales price, sales volume, initial investment cost and more, are just some of the things you'll need to consider. No need to get stressed about it all - Predictly does this at the click of a button so you can truely see which product is best.</p>
            </div>
            <div class="faq-block">
                <h2 class="color-dark-gray faq-title">How do I know how long it will take me to get my money back?</h2>
                <p class="color-dark-gray faq-text">One of the most important factors in any business is how you manage
                    your cashflow. Predictly helps you understand how long it will take to make your initial investment
                    back, so you can buy more product and grow your business.</p>
            </div>
            <div class="faq-block">
                <h2 class="color-dark-gray faq-title">How do I know how much profit I will make?</h2>
                <p class="color-dark-gray faq-text">Profit is more than sales price and product cost. Predictly gives you insight into how much profit you will make when your other business factors (like marketing, re-investing in inventor, and more) are calculated.</p>
            </div>
            <div class="faq-block">
                <h2 class="color-dark-gray faq-title">How do I know when I will need to re-order inventory?</h2>
                <p class="color-dark-gray faq-text">This is one of the most overlooked factors when starting a business.
                    Growth is going well, but you need to re-order even more inventory to keep up with the growht. This
                    means you'll need to put in more than just your initial investment. Predictly helps you understand
                    when and how much you'll need - so you can fuel growth the right way.</p>
            </div>
            <div class="faq-block">
                <h2 class="color-dark-gray faq-title">How do I try Predictly for free?</h2>
                <p class="color-dark-gray faq-text">Simply click on the Google or Facebook "Sign-Up" to get started. We offer a free detailed and comprehensive product assessment for any one product you'd like to look at. </p>
            </div>
            <div class="faq-block">
                <h2 class="color-dark-gray faq-title">How do I compare more than 2 products? </h2>
                <p class="color-dark-gray faq-text">You've spent time and money doing research on great products - use
                    Predictly to compare them against each other to really find out which one is best. This will help
                    you save thousands of dollars on buying the wrong products, and help your business make more profit.
                    You'll need an Advanced or Pro account to compare products and get detailed insights. Here you can
                    compare up to 5 products at once, and save searches so you can re-visit your insights later.</p>
            </div>
            <div class="faq-block">
                <h2 class="color-dark-gray faq-title">How do I know what prediction model to select?</h2>
                <p class="color-dark-gray faq-text">Predictly allows you to select 5 default prediction models. Very
                    Conservative, Conservative, Average, Growth, and Impact. Each model will adjust the algorithm to
                    provide you with a great understanding of how the product will perform. Paid members can adjust
                    Predictly factors manually - fine tuning estimations to exactly your liking. If you're just getting
                    started, we recommend sticking with the built in prediction models.</p>
            </div>
            <div class="faq-block pb-4">
                <h2 class="color-dark-gray faq-title">How do I use my current research tool with Predictly?</h2>
                <p class="color-dark-gray faq-text">Predictly works with data from different Amazon research tools. Use your resarch tool to find great products, and Predictly to predict your product performance. Simply export your product data from your favorite research tool, and drag-and-drop it into Predictly to get an instant analysis. Not using a product research tool? No problem. You can easily manually enter your data in just a few steps to get the same great analysis.</p>
            </div>
        </div>
    </div>
    </div>
</template>

<script>
    import HeaderSupport from '../../../layouts/HeaderMain';

    export default {
        components: {
            HeaderSupport
        },
        computed: {
        }
    }
</script>

<style lang="scss" scoped>
    @import '~@/_variables.scss';

    .faq {
        max-width: 688px;
    }

    .faq-block {
        margin-top: 70px;
    }

    .faq-title {
        font-weight: 600;
        font-size: 2rem;
        line-height: 38px;
        align-items: center;
        padding-bottom: 24px;
    }

    .faq-text {
        font-style: normal;
        font-weight: normal;
        font-size: 1.125rem;
        line-height: 26px;
    }
</style>
