<template>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <h4 class="title">Support</h4>
                    <p class="support-info color-dark-blue mt-5">Please contact us any time if you have any questions,
                        suggestions, or faced issues. ​​​​​​​We are open to feedback.</p>
                    <form>
                        <div class="mt-5 d-flex flex-column align-items-center">
                            <select-input :options="getTopics" @input="onSelect"/>
                            <label class="base-label form-text" :class="{ error: $v.form.topic.$error}">topic</label>
                        </div>
                        <div class="mt-5 d-flex flex-column align-items-center"
                             :class="{ error: $v.form.message.$error}">
                            <textarea class="support-input base-input" v-model="form.message" cols="10"
                                      rows="3"></textarea>
                            <label class="base-label form-text">message</label>
                        </div>
                    </form>
                    <div class="d-flex justify-content-center mt-5">
                        <button class="btn-blue btn-md" @click="sendData" :disabled="loader">Send</button>
                    </div>
                </div>
            </div>
        </div>
        <contact-icon/>
    </div>
</template>

<script>
    import {required} from 'vuelidate/lib/validators'
    import ContactIcon from '../../../components/ContactIcon'
    import SelectInput from "../../../components/SelectInput";

    export default {
        components: {
            ContactIcon,
            SelectInput
        },
        data() {
            return {
                form: {
                    topic: '',
                    message: ''
                },
                topics: [],
                loader: false
            }
        },
        validations: {
            form: {
                topic: {
                    required
                },
                message: {
                    required
                },
            }
        },
        computed: {
            getTopics() {
                return this.topics.map(topic => topic.name);
            }
        },
        methods: {
            onSelect(option){
                this.form.topic = option;
            },
            sendData() {
                this.loader = true;
                this.$v.form.$touch();
                let isValid = !this.$v.form.$invalid;
                if (isValid) {
                    let form = this.form;
                    axios.post('/api/v1/support/feedback/send', form)
                        .then(({data}) => {
                            this.loader = false;
                            this.form.topic = '';
                            this.form.message = '';
                            this.$v.form.$reset();
                            this.$swal('Your message has been sent!')
                        })
                        .catch((error) => {
                            this.loader = false;
                            console.log(error);
                        });
                }
            }
        },
        created() {
            axios.get('/api/v1/support/feedback')
                .then(({data}) => {
                    this.topics = data.result;
                })
        }
    }
</script>

<style scoped lang="scss">
    @import '~@/_variables.scss';

    .support-info {
        font-size: 0.875rem;
        line-height: 22px;
    }

    .support-input {
        width: 542px;
        text-align: left;
        font-size: 1rem;
    }

    select {
        font-size: 1rem;
    }
    .error {
        color: $red;
    }
</style>
