<template>
	<modal @close="closeModal" class="modal-instruction">
		<div slot="header" class="d-flex flex-column align-items-center">
			<h3 class="header-modal">How to get your product CSV file from Unicorn Smasher</h3>
			<img src="/dist/images/logo_unicorn-hover.svg" alt="jungle-scout" width="150">
		</div>

		<div slot="body" class="modal-width">
			<p>Predictly lets you easily upload your product research by .csv file. You don't have to do any
				work, just download the .csv from Unicorn Smasher and upload it to Predictly. We'll do the rest.</p>
			<p>Here's how:</p>
			<p><b>Step 1:</b> You’ll need to have the Unicorn Smasher Chrome extension installed, and you’ll need to be
				on Amazon. Type in the product you want to do research on, and hit the Unicorn Smasher Chrome extension
				button. You’ll see data that looks like this:</p>
			<img src="/dist/images/unicorn-smasher-1.png" alt="unicorn-smasher" width="650" class="mb-3">
			<p><b>Step 2:</b> Once you see the data, look to the bottom right side of the menu under the product data.
				You’ll see a little “To CSV” button. Click on this to download the CSV data for this product. It’ll look
				like this:</p>
			<img src="/dist/images/unicorn-smasher-2.png" alt="jungle-scout" width="350" class="mb-3">
			<p><b>Step 3:</b> Now just upload this product CSV file to Predictly to have it in your product list. From
				here you can easily analyze your product and get great prediction insights!</p>
		</div>
		<div slot="footer"></div>
	</modal>
</template>

<script>
	import Modal from '../../../../components/Modal.vue'

	export default {
		components: {
			Modal
		},
		methods: {
			closeModal() {
				this.$emit('close');
			}
		}
	}
</script>
<style scoped lang="scss">
	@import '~@/_modal.scss';
</style>
