<template>
	<modal @close="closeModal" class="modal-instruction">
		<div slot="header" class="d-flex flex-column align-items-center">
			<h3 class="header-modal">How to get your product CSV file from Jungle Scout</h3>
			<img src="/dist/images/logo-jungle-scout-hover-color.png" alt="jungle-scout" width="150">
		</div>

		<div slot="body" class="modal-width">
			<p>Predictly lets you easily upload your product research by .csv file. You don't have to do any
				work, just download the .csv from Jungle Scout and upload it to Predictly. We'll do the rest.</p>
			<p>Here's how:</p>
			<p><b>Step 1:</b> You'll need to be on Amazon and have the Jungle Scout Chrome extension installed.</p>
			<p><b>Step 2:</b> Type in the product you're looking to research. Once the results come up, click on the JS
				chrome extension. You'll see all of your product research data. It'll look like this:</p>
			<img src="/dist/images/jungle-scout-1.jpg" alt="jungle-scout" width="650" class="mb-3">
			<p><b>Step 3:</b> Click on the three lines in the top left corner where it says “Menu”</p>
			<img src="/dist/images/js-menu.png" alt="jungle-scout" width="150" class="mb-3">
			<p><b>Step 4:</b> Click on the button that says “Download CSV”. When you click on this your CSV file for the
				product will be saved. </p>
			<img src="/dist/images/js-csv-download.png" alt="jungle-scout" width="350" class="mb-3">
			<p><b>Step 5:</b> Just upload this product CSV file to Predictly to have it in your product list. From here
				you can easily analyze your product and get great prediction insights!</p>
		</div>
		<div slot="footer"></div>
	</modal>
</template>

<script>
	import Modal from '../../../../components/Modal.vue'

	export default {
		components: {
			Modal
		},
		methods: {
			closeModal() {
				this.$emit('close');
			}
		}
	}
</script>
<style scoped lang="scss">
	@import '~@/_modal.scss';
</style>
