<template>
	<modal @close="closeModal" class="modal-instruction">
		<div slot="header" class="d-flex flex-column align-items-center">
			<h3 class="header-modal">How to get your product CSV file from Helium 10</h3>
			<img src="/dist/images/logo_helium.svg" alt="helium" width="150">
		</div>

		<div slot="body" class="modal-width">
			<p>Predictly lets you easily upload your product research by .csv file. You don't have to do any
				work, just download the .csv from Helium 10 and upload it to Predictly. We'll do the rest.</p>
			<p>Here's how:</p>
			<p><b>Step 1:</b> You’ll need to have the Helium 10 Chrome extension installed, and you’ll need to be on
				Amazon. Type in the product you want to do research on, and hit the Helium 10 Chrome extension button.
			</p>
			<p><b>Step 2:</b> Click on the X-Ray Amazon Research button to get a ton of information about your product.
			</p>
			<img src="/dist/images/helium-1.png" alt="jungle-scout" width="650" class="mb-3">
			<p><b>Step 3:</b> Once you see the data, look to the bottom right hand corner. You’ll see a little download
				button. Click on this to download the CSV data for this product. It’ll look like this:</p>
			<img src="/dist/images/helium-2.png" alt="jungle-scout" width="650" class="mb-3">
			<p><b>Step 4:</b> Now just upload this product CSV file to Predictly to have it in your product list. From
				here you can easily analyze your product and get great prediction insights! </p>
		</div>
		<div slot="footer"></div>
	</modal>
</template>

<script>
	import Modal from '../../../../components/Modal.vue'

	export default {
		components: {
			Modal
		},
		methods: {
			closeModal() {
				this.$emit('close');
			}
		}
	}
</script>
<style scoped lang="scss">
	@import '~@/_modal.scss';
</style>
