<template>
	<modal @close="closeModal" class="modal-instruction">
		<div slot="header" class="d-flex flex-column align-items-center">
			<h3 class="header-modal">How to get your product CSV file from Viral Launch</h3>
			<img src="/dist/images/logo_viral.svg" alt="viral" width="150">
		</div>

		<div slot="body" class="modal-width">
			<p>Predictly lets you easily upload your product research by .csv file. You don't have to do any
				work, just download the .csv from Viral Launch and upload it to Predictly. We'll do the rest.</p>
			<p>Here's how:</p>
			<p><b>Step 1:</b> You’ll need to have the Viral Launch installed. Click on Market Intelligence. Type in the
				product you want to get insights and data on. You’ll see data that looks like this:</p>
			<img src="/dist/images/viral-launch1.jpg" alt="viral-launch" width="650" class="mb-3">
			<p><b>Step 2:</b> Once you see the data, look to the right hand side above the data. You’ll see a little
				“Export” button. Click on this to download the CSV data for this product.</p>
			<p><b>Step 3:</b> Now you can upload this product CSV file to Predictly to have it in your product list.
				From here you can easily analyze your product and get great prediction insights!</p>
		</div>
		<div slot="footer"></div>
	</modal>
</template>

<script>
	import Modal from '../../../../components/Modal.vue'

	export default {
		components: {
			Modal
		},
		methods: {
			closeModal() {
				this.$emit('close');
			}
		}
	}
</script>
<style scoped lang="scss">
	@import '~@/_modal.scss';
</style>
