<template>
    <modal @close="closeModal">
        <h3 slot="header" class="header-modal">Get Answers</h3>
        <form slot="body">
            <div class="form-group">
                <label for="inputEmail">Email</label>
                <input type="email"
                       class="form-control"
                       id="inputEmail"
                       placeholder="Enter email"
                       :class="{ 'error-input': $v.form.email.$error}"
                       v-model="form.email">
            </div>
            <div class="form-group">
                <label for="formControlTextarea">Question</label>
                <textarea class="form-control"
                          id="formControlTextarea"
                          rows="3"
                          placeholder="Enter question"
                          :class="{ 'error-input': $v.form.question.$error}"
                          v-model="form.question">
                </textarea>
            </div>
        </form>
        <div class="d-flex justify-content-center" slot="footer">
            <button class="btn-blue btn-md" @click="sendData" :disabled="loader">Send Question</button>
        </div>

    </modal>
</template>

<script>
    import Modal from '../../../components/Modal.vue'
    import {required, email} from 'vuelidate/lib/validators'

    export default {
        components: {
            Modal
        },
        data() {
            return {
                form: {
                    email: '',
                    question: ''
                },
                loader: false
            }
        },
        validations: {
            form: {
                email: {
                    required,
                    email
                },
                question: {
                    required
                }
            }
        },
        methods: {
            closeModal() {
                this.$emit('close');
            },
            sendData() {
                this.loader = true;
                this.$v.form.$touch();
                let isValid = !this.$v.form.$invalid;
                if (isValid) {
                    let form = this.form;
                    axios.post('/api/v1/support/question/send', form)
                        .then(({data}) => {
                            this.loader = false;
                            this.form.email = '';
                            this.form.question = '';
                            this.closeModal();
                            this.$swal('Your question has been sent!')
                        })
                        .catch((error) => {
                            this.loader = false;
                            console.log(error);
                        });
                }
            },
        }
    }
</script>
<style scoped lang="scss">
    @import '~@/_variables.scss';

    .header-modal {
        font-size: 1.25rem;
        color: $dark-blue;
        text-align: center;
        margin-top: 25px;
    }

    .btn-md {
        padding: 8px 86px 11px;
    }

    .error-input {
        border: 1px solid $red;
    }

    form {
        min-width: 264px;
    }

    label {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 23px;
        color: $dark-gray;
    }

    input, textarea {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 23px;
        color: $dark-gray;
        background: $white;
        border: 1px solid rgba(69, 77, 105, 0.2);
        box-sizing: border-box;
        border-radius: 8px;
    }

</style>
