@import "variables";

@mixin btn-style($text-color, $bg-color: $white, $hover-bg-color: $white) {
  outline: none;
  min-width: 141px;
  min-height: 44px;
  padding: 8px 25px 11px;
  font-size: 0.8rem;
  cursor: pointer;

  font-weight: bold;
  border-radius: 50px;
  background-color: $bg-color;
  color: $text-color;
  border: 1px solid $border-color;

  &.btn-sm {
	min-width: 90px;
	min-height: 44px;
	font-size: 0.805rem;
	padding: 8px 20px 11px;
  }
  &.btn-md {
	min-width: 124px;
	min-height: 44px;
	font-size: 0.805rem;
	padding: 8px 25px 11px;
  }
  &.btn-lg {
	min-width: 177px;
	min-height: 48px;
	font-size: 1rem;
	padding: 10px 30px 10px;
  }

  &.btn-xl {
	min-width: 226px;
	min-height: 64px;
	font-size: 1rem;
	padding: 15px 30px 18px;
  }

  &:hover {
	background-color: $hover-bg-color;
  }

  &:focus {
	outline: none;
  }
}

.btn-blue {
  @include btn-style($white, $blue, $over-dark-blue);
}

.btn-light-blue {
  @include btn-style($blue, $light-blue, $over-light-blue);
}

.btn-over-light-blue {
  @include btn-style($blue, $over-light-blue, $light-blue);
}

.btn-white {
  @include btn-style($blue);
}

.btn-facebook {
  @include btn-style($white, $facebook-blue, $facebook-blue);
}

.btn-gmail {
  @include btn-style($white, $google-red, $google-red);
}

.btn-red {
  @include btn-style($red);
}

.btn-gray {
  @include btn-style($white, $gray, $dark-gray);
}

.swal-footer {
  display: flex;
  justify-content: center;
}

.swal-button--cancel {
  border: 1px solid $blue !important;
  @include btn-style($blue, $white, $white);
}

.swal-button--cancel:hover {
  background-color: $white !important;
}

.swal-button--confirm {
  @include btn-style($white, $blue, $over-dark-blue);
}

.swal-button--confirm:hover {
  background-color: $blue !important;
}

button:focus {
  outline: 0;
}
