@import '~@/_variables.scss';

.header-section {
    background-color: $over-light-blue;
    padding-top: 80px;
    padding-bottom: 33px;
    position: relative;
    min-height: 628px;
}

.header-title {
    font-size: 2.5rem;
    font-weight: 100;
    line-height: 70px;
}

.header-sub-title {
    font-style: normal;
    font-weight: bold;
    font-size: 2.5rem;
}

.header-text {
    max-width: 414px;
    font-size: 1rem;
    font-weight: 300;
    line-height: 26px;
    white-space: pre-line;

}

.img-arrow {
    height: 100px;
    transform: rotate(170deg);
}

.text {
    font-style: normal;
    font-weight: 300;
    font-size: 0.875rem;
    line-height: 20px;
    text-align: center;
}

.btn-block {
    max-width: 217px;
}

.btn-gmail {
    width: 217px;
}

.btn-facebook {
    width: 217px;
}

.btn-email {
    width: 100%;
    justify-content: center;
    display: flex;
    margin: 0 auto;
}

.screen-wrapper {
    margin-top: 133px;
    position: absolute;
    top: 50px;
    right: 0;
}

.screen {
    position: relative;
    padding: 20px 0 20px 25px;
    background: $white;
    box-shadow: -10px -10px 24px rgba(82, 96, 196, 0.1), -10px -10px 6px rgba(82, 96, 196, 0.03);
    border-radius: 50px 0 0 0;
}

.img-screen-header-cropped {
    max-width: 545px;
}

.img-screen-header-big {
    max-width: 855px;
}

.logos {
    .amazon-logo, .etsy-logo, .shopify-logo {
        height: 26px;
        width: 26px;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }

    .amazon-logo {
        position: absolute;
        left: -50px;
        bottom: 100px;
        background-image: url("/dist/images/logo_amazon-gray.svg");
    }

    .shopify-logo {
        position: absolute;
        left: -50px;
        bottom: 60px;
        background-image: url("/dist/images/logo_shopify-gray.svg");
    }

    .etsy-logo {
        position: absolute;
        left: -50px;
        bottom: 20px;
        background-image: url("/dist/images/logo_etsy-gray.svg");
    }
}

.feature-wrapper {
    padding-bottom: 100px;
}

.feature-section {
    position: relative;
    background: linear-gradient(to top, $over-light-blue 0%, $over-light-blue 50%, $white 50%, $white 100%);

    &:before {
        width: 50%;
        content: "";
        background-color: $white;
        height: 95%;
        position: absolute;
        left: 0;
        border-bottom-right-radius: 100px;
    }

    &:after {
        width: 50%;
        content: "";
        background-color: $over-light-blue;
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        border-top-left-radius: 100px;
        float: left;

    }
}

.feature-block {
    z-index: 100;
    padding: 140px 0;
}

.radio-header {
    font-style: normal;
    font-weight: bold;
    font-size: 1.25rem;
    line-height: 31px;
}

.radio-text {
    font-style: normal;
    font-weight: 300;
    font-size: 1rem;
    line-height: 26px;
    max-width: 260px;
    margin-left: 30px;
}

.header-feature {
    font-style: normal;
    font-weight: bold;
    font-size: 2rem;
    line-height: 50px;
    color: $dark-gray;
}

.feature-screen-wrapper {
    padding-top: 200px;
    z-index: 100;
    width: 60%;

    .feature-screen {
        margin-right: 30px;
        overflow: initial;
        //
        //& > img {
        //    max-width: 774.33px;
        //    max-height: 478.54px;
        //}
    }
}

.typed {
    height: 65px;
}

.info-section {
    padding: 112px 10%;
}

.info-box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 70px;
    justify-content: center;
    max-width: 1080px;
    margin: 0 auto;
}

.info-item {
    & > img {
        padding-right: 24px;
    }
}

.icon-red {
    border: 2px solid $red;
    padding: 2px;
    border-radius: 50%;
    background-color: $white;
}

.icon-green {
    border: 2px solid $green;
    padding: 4px;
    border-radius: 50%;
    background-color: $white;
}

.icon-gray {
    border: 2px solid $gray;
    padding: 2px;
    border-radius: 50%;
    background-color: $white;
}


@keyframes MoveUpDown {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(10px);

    }
    100% {
        transform: translateY(0px);
    }
}

.slider-section {
    background-color: $over-light-blue;
    position: relative;

    .slider-quote {
        padding-top: 130px;
        padding-bottom: 38px;
        max-width: 500px;

        .slider-text {
            padding-top: 40px;
            max-width: 600px;
            font-size: 1.625rem;
            line-height: 47px;
        }

        .author {
            .author-name {
                padding-top: 54px;
                font-weight: 600;
                font-size: 1.25rem;
                line-height: 29px;
            }

            .author-position {
                font-size: 1rem;
            }
        }
    }

    .image-face {
        width: 250px;
        height: 250px;
        border: 2px solid $over-light-gray;
        padding: 12px;
        border-radius: 50%;
    }
}

.answers-section {
    padding: 0 10%;

    .answer-section-title {
        text-align: center;
        margin: 112px 0 40px 0;
        font-weight: 600;
        font-size: 2rem;
        line-height: 38px;
    }

    .answers {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 30px;
        justify-content: center;
        max-width: 1080px;
        margin: 0 auto;
    }

    .answer-box {
        max-width: 480px;

        h5 {
            font-weight: 600;
            font-size: 1.25rem;
            line-height: 29px;
        }
    }

    .btn-blue {
        margin-bottom: 112px;
    }
}

.apps-section {
    position: relative;
    height: 625px;
    background: linear-gradient(to top, $white 0%, $white 50%, $over-light-blue 50%, $over-light-blue 100%);

    &:before {
        width: 40%;
        content: "";
        background-color: $over-light-blue;
        height: 100%;
        position: absolute;
        left: 0;
        border-bottom-right-radius: 100px;
    }

    &:after {
        width: 60%;
        content: "";
        background-color: $white;
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        border-top-left-radius: 100px;
        float: left;

    }

    .apps-text-block-wrapper {
        margin-top: 140px;
        margin-left: 140px;
        z-index: 100;
    }

    .apps-text-block {
        margin: 0 auto;
    }

    .apps-section-title {
        padding-top: 40px;
        font-weight: 600;
        font-size: 2rem;
        line-height: 38px;
        white-space: pre-line;
    }

    .apps-section-text {
        font-style: normal;
        font-weight: 300;
        font-size: 1rem;
        line-height: 26px;
        max-width: 404px;
    }

    .apps {
        padding: 42px 75px;
        margin-left: 95px;
        background-color: $white;
        box-shadow: 0 0 60px rgba(69, 77, 105, 0.05), 0 0 6px rgba(69, 77, 105, 0.01);
        border-radius: 16px;
        margin-top: 140px;
        z-index: 100;
        display: flex;
        flex-wrap: wrap;
        max-width: 532px;
        max-height: 384px;
        justify-content: center;

        & > img {
            flex-basis: 50%;
            padding: 0 15px;
            margin-bottom: 29px;
            max-width: 160px;
            max-height: 60px;
        }
    }
}

.answers-section {
    height: 695px;
}

.sign-up-section {
    background-color: $over-light-blue;
}

.sign-up-text {
    max-width: 500px;
    margin-left: 15%;
    padding: 139px 0;
}

.sign-up-block {
    position: relative;
    height: 580px;

    h2 {
        white-space: pre-line;
        font-style: normal;
        font-weight: bold;
        font-size: 2.5rem;
        line-height: 58px;
    }

    .chart-image {
        position: absolute;
        bottom: 0;
        right: 0;
        max-height: 687px;
    }
}

.icons-rating {
    z-index: 1000;
    position: absolute;
    right: 102px;
    top: 148px;
}

.icon-item {
    margin: 0 5px 5px 0;
    width: 55px;
    height: 55px;
    box-shadow: 0 0 30px rgba(82, 96, 196, 0.05);
    border-radius: 10px;
    background-color: $white;
    padding: 15px;
}

.icon-item-camera, .icon-item-joystick, .icon-item-kitchen, .icon-item-t-shirt {
    margin: 0 5px 5px 0;
    box-shadow: 0 0 30px rgba(82, 96, 196, 0.05);
    border-radius: 6px 16px 16px 8px;
}

.icon-item-camera {
    width: 100px;
    background: $purple;
}

.icon-item-joystick {
    width: 211px;
    background: $green;
}

.icon-item-kitchen {
    width: 155px;
    background: $dark-pink;
}

.icon-item-t-shirt {
    width: 185px;
    background: $orange;
}

.img-screen-header-big {
    display: none
}

.btn-radio {
    cursor: pointer;
}

@media (min-width: 1920px) {
    .header-section {
        min-height: 743px;
    }
    .img-screen-header-cropped {
        display: none;
    }
    .img-screen-header-big {
        display: block;
    }
    .screen {
        padding: 36px 42px 59px 40px;
        margin-right: 20px;
        margin-bottom: 20px;
        border-radius: 50px;
    }
    .apps-section-text {
        display: none;
    }
    .apps-section {
        background: $beige;
        flex-direction: column-reverse;

        .apps-section-title {
            white-space: nowrap;
            font-size: 2.625rem;
            margin-left: 0;
            text-align: center;
            margin-bottom: 40px;
        }

        .apps-text-block-wrapper {
            margin-left: 0;
        }

        .apps {
            background: none;
            box-shadow: none;
            margin: 0 auto;
            max-width: none;

            & > img {
                flex-basis: 0;
                padding: 0 15px;
            }
        }

        &:before {
            background: none;
        }

        &:after {
            background: none;
        }
    }
    .icons-rating {
        right: 377px;
    }
    .sign-up-text .btn-block {
        margin: 0 auto;
    }
    .logos {
        position: absolute;
        left: 0;
        bottom: -22px;
    }
    .feature-screen-wrapper {
        padding: 140px 150px;
    }
}


@media (max-width: 1165px) {
    .info-box {
        grid-template-columns: 1fr 1fr;
        grid-gap: 30px 15%;
    }

}

@media (max-width: 1111px) {
    .header-sub-title {
        font-size: 2rem;
    }
    .header-text {
        max-width: 350px;
    }
    .header-wrapper {
        display: flex;
        flex-direction: column;
    }
    .feature-wrapper {
        padding-bottom: 0;
    }
    .apps-section {
        padding: 0;
    }
}

@media (max-width: 992px) {
    .img-screen-header-cropped {
        max-width: 350px;
    }
    .header-text {
        max-width: 318px;
    }
}

@media (max-width: 1200px) {
    .feature-screen-wrapper .feature-screen > img {
        max-width: 515px;
    }

}

@media (max-width: 1012px) {
    .icons-rating {
        display: none;
    }
    .sign-up-block h2 {
        font-size: 2rem;
    }
    .slider-section .slider-image {
        display: none;
    }
    .header-sub-title {
        font-size: 2rem;
    }
    .feature-screen-wrapper .feature-screen > img {
        max-width: 371px;
    }
}

@media (max-width: 768px) {
    .slider-section .slider-image {
        display: none;
    }
    .slider-section .slider-quote .slider-text {
        font-size: 1.5rem;
    }
    .screen {
        display: none;
    }
    .feature-screen {
        display: none;
    }
    .header-title {
        font-size: 1.5rem;
    }
    .header-info {
        margin: 0 auto;
    }
    .header-sub-title {
        font-size: 1.5rem;
    }
    .info-box {
        grid-template-columns: 1fr;
        grid-gap: 30px 15%;
    }
    .screen > img {
        width: 300px;

    }
    .sign-up-section > img {
        width: 250px;
    }
    .sign-up-block h2 {
        font-size: 2rem
    }
    .feature-section {
        background: none;

        .feature-block {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &:before {
            background: none;
        }

        &:after {
            background: none;
        }
    }
    .apps-section {
        padding: 0;
        background: $beige;
        flex-direction: column-reverse;

        .apps-section-title {
            font-size: 1.625rem;
            margin-left: 0;
            text-align: center;
            margin-bottom: 40px;
            white-space: pre-line;
        }

        .apps-section-text {
            display: none;
        }

        .apps-text-block-wrapper {
            margin-left: 0;
        }

        .apps {
            background: none;
            box-shadow: none;
            margin: 0 auto;
        }

        &:before {
            background: none;
        }

        &:after {
            background: none;
        }
    }
    .icons-rating {
        display: none;
    }
    .chart-image {
        display: none;
    }
}

@media (max-width: 576px) {
    .answers-section .answers {
        grid-template-columns: 1fr;
    }
}


