@import "variables";

.base-input {
    width: 100%;
    outline: none;
    border: none;
    color: $dark-blue;
    border-bottom: 1px solid $light-gray;
    font-size: 0.8rem;
    text-align: center;
    background-color: $white;
    padding-bottom: 14px;

    &:focus {
        color: $blue;
        border-bottom-color: $blue;
    }
}

.edit-data-input {
    outline: none;
    border: none;
    color: $dark-blue;
    border-bottom: 1px solid $blue;

    &:focus {
        color: $blue;
        background-color: $white !important;
        border-bottom: 1px solid $blue !important;
    }
}

.base-select {
    outline: none;
    border: none;
    color: $dark-blue;
    border-bottom: 1px solid $light-gray;
    font-size: 0.8rem;
    text-align: center;
    background-color: $white;
}
.base-label {
    text-align: center;
    font-size: 0.75rem;
    color: $gray-blue;
}

.base-input:focus + .base-label {
    color: $blue;
}

.number-input {
    width: 100%;
    font-size: 1rem;
}

.error > input {
    border-bottom: 1px solid $red;
}

.error > label {
    color: $red !important;
}
