@import "variables";

html {
    font-size: 1rem;
}

html, body {
    font-family: 'Be Vietnam', sans-serif;
    background-color: $white;
    box-sizing: border-box;
}

.title {
    margin-top: 102px;
    font-size: 1.75rem;
    font-weight: 500;
    color: $dark-blue;
}

.factor-span {
  font-size: 1.25rem;
  color: $dark-blue;
  text-decoration: none solid rgb(55, 62, 89);
}

.sub-title-block {
    margin-top: 62px;

    .sub-title {
        font-size: 1rem;
        border-bottom: 3px solid $purple;
        margin-right: 70px;
    }
}

.user-block {
    border-right: 1px solid $light-gray;
}

.block-details {
    margin-top: 25px;

    .user-label {
        font-size: 0.75rem;
        font-weight: 700;
    }

    .user-value {
        font-size: 0.875rem;
    }
}

.block-icon {
    padding: 10px;

    &:hover {
        border-radius: 50%;
        background-color: $light-blue;
    }
}

.icon {
    cursor: pointer;

    &:hover {
        color: $blue;
    }
}

.my-table-th {
    font-size: 0.75rem;
    color: $gray-blue;
}
.number-profit {
    border-bottom: 2px solid $blue;
    font-size: 1.125rem;
    color: $dark-blue;
    text-decoration: none solid rgb(55, 62, 89);
    padding: 0 2px;
}
.notification-error {
    padding: 8px 15px;
    border-radius: 14px;
    background-color: $dark-blue;
    background-size: cover;
    color: $white;
    max-width: 300px;
    text-decoration: none solid rgb(255, 255, 255);
    text-align: center;
    font-size: 0.75rem;
}
.my-table-td {
    font-size: 0.875rem;
    color: $dark-blue;
}
.table th, .table td {
    vertical-align: middle !important;
}

.typed-cursor {
    width: 2px;
    height: 30px;
    display: inline-block;
    background-color: $blue;
}

.background-light-blue {
    background-color: $over-light-blue;
}

.background-white {
    background-color: $white;
}
.custom-vue-slider {
    padding: 7px 4px !important;
    position: absolute !important;
    width: 136px !important;
    margin-left: 10px !important;
}
#dropzone {
    .dz-error-mark, .dz-success-mark, .dz-error-message {
        display: none;
    }
    .dz-details {
        max-width: 170px;
    }
}
#dropzonePreview {
    .dz-error-mark, .dz-success-mark, .dz-error-message,{
        display: none;
    }
    button {
        margin: 0 19px;
    }
}

.carousel-3d-container {
    .carousel-3d-slide {
        background: $white;
        padding: 20px;
        box-shadow: 0px 10px 60px rgba(16, 86, 152, 0.05);
        border-color: $white !important;
        border-radius: 16px;
        &.right-1 {
            transform: translateX(90%) translateY(-75%) translateZ(-200px) !important;
        }
        &.left-1 {
            transform: translateX(-90%) translateY(-75%) translateZ(-200px) !important;
        }
        &.current {
            width: 400px !important;
            height: 358px !important;
            transform: translateZ(385px) !important;
        }
    }
}

.line-chart #line-chart{
    width: 100% !important;
}

