@import '~@/_variables.scss';

.modal-tutor-title {
  font-size: 1.25rem;
  color: $dark-blue;
  text-decoration: none solid rgb(55, 62, 89);
  text-align: center;
}

.modal-tutor-subtitle {
  font-size: 1.125rem;
  color: $dark-blue;
  text-decoration: none solid rgb(55, 62, 89);
  line-height: 25.6px;
}

.modal-tutor-p {
  font-size: 1rem;
  color: $dark-blue;
  text-decoration: none solid rgb(55, 62, 89);
  line-height: 25.6px;
  white-space: pre-line;
}

.modal-tutor-img {
  max-width: 1266px;
  border-radius: 20px;
  background-size: cover;
  border: 1px solid $light-gray;
  margin-bottom: 20px;
}

.modal-btn-skip {
  position: absolute;
  right: 0;
}
