// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$indigo: #6574cd;
$pink: #f66d9b;
$orange: #F19E71;
$yellow: #ffed4a;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$light-gray: #d1d4e8;
$white: #ffffff;
$purple: #8a9eec;
$blue: #5260c4;
$light-blue: #eaeeff;
$dark-gray: #454d69;
$over-light-blue: #f5f7ff;
$dark-blue: #373e59;
$over-dark-gray: #212529;
$gray-blue: #616787;
$red: #f27171;
$light-purple: #e1e4fa;
$over-dark-blue: #4247a8;
$gray: #b2b4cf;
$green: #72c4ac;
$facebook-blue: #3B5998;
$google-red: #D44638;
$over-light-gray: #C4C4C4;
$dark-pink: #AF8BC9;
$beige: #FCFCFF;
$light-green: #72c4ac;

$colors-map: (
    "indigo": $indigo,
    "pink": $pink,
    "orange": $orange,
    "yellow": $yellow,
    "green": $green,
    "teal": $teal,
    "cyan": $cyan,
    "light-gray": $light-gray,
    "white": $white,
    "purple": $purple,
    "blue": $blue,
    "light-blue": $light-blue,
    "dark-gray": $dark-gray,
    "over-light-blue": $over-light-blue,
    "dark-blue": $dark-blue,
    "over-dark-gray": $over-dark-gray,
    "gray-blue": $gray-blue,
    "red": $red,
    "light-purple": $light-purple,
    "over-dark-blue": $over-dark-blue,
    "gray": $gray,
    "facebook-blue": $facebook-blue,
    "google-red": $google-red,
    "over-light-gray": $over-light-gray,
    "dark-pink": $dark-pink,
    "beige": $beige,
    "light-green": $light-green
);
