<template>
    <div>
    <div class="container">
        <h4 class="title">My account</h4>
        <div class="row">
            <div class="col-md-4 col-sm-8 user-block">
                <div class="sub-title-block d-flex">
                    <h5 class="sub-title color-dark-blue pb-3">Account details</h5>
<!--                    <div @click.stop="showModalEditAccount = true" class="block-icon">-->
<!--                        <icon name="ico-edit" size="md" class="color-light-gray icon"/>-->
<!--                    </div>-->

                </div>
                <div class="block-details">
                    <h6 class="user-label color-gray-blue">Full name</h6>
                    <p class="user-value color-dark-blue mt-3">{{getProfile.name}}</p>
                </div>
                <div class="block-details">
                    <h6 class="user-label color-gray-blue">Email</h6>
                    <p class="user-value color-dark-blue mt-3">{{getProfile.email}}</p>
                </div>
                <div>
<!--                    <button class="btn-white btn-md mt-3 pl-0" @click.stop="showModalChangePassword = true">Change password</button>-->
                    <br/>
                    <button-facebook :process="'Connect'" v-if="getProviders && !getProviders.includes('facebook')" class="btn-account"/>
                    <br/>
                    <button-google process="Connect" v-if="getProviders && !getProviders.includes('google')" class="btn-account"/>

                </div>
                <div class="sub-title-block d-flex">
                    <h5 class="sub-title color-dark-blue pb-3">Application settings</h5>
                    <div class="block-icon" @click.stop="showModalEditMarketplace = true">
                        <icon name="ico-edit" size="md" class="color-light-gray icon"/>
                    </div>
                </div>
                <div class="block-details">
<!--                    <h6 class="user-label color-gray-blue">Place where I sell my products</h6>-->
<!--                    <p class="user-value color-dark-blue mt-3">Amazon</p>-->
                </div>
            </div>
        </div>

        <modal-edit-account v-if="showModalEditAccount" @close="showModalEditAccount = false"/>
        <modal-edit-marketplace v-if="showModalEditMarketplace" @close="showModalEditMarketplace = false"/>
        <modal-change-password v-if="showModalChangePassword" @close="showModalChangePassword = false"/>
    </div>
        <contact-icon/>
    </div>
</template>

<script>
    import ModalEditAccount from "../../../components/modals/ModalEditAccount";
    import ModalEditMarketplace from "../modals/ModalEditMarketplace"
    import ModalChangePassword from "../../../components/modals/ModalChangePassword";
    import ContactIcon from '../../../components/ContactIcon'
    import {USER_REQUEST} from "../../../store/actions/user";
    import ButtonFacebook from "../../../components/ButtonFacebook";
    import ButtonGoogle from "../../../components/ButtonGoogle";
    export default {
        components: {
            ButtonFacebook,
            ButtonGoogle,
            ModalEditAccount,
            ModalEditMarketplace,
            ModalChangePassword,
            ContactIcon
        },
        data() {
            return {
                showModalEditAccount: false,
                showModalEditMarketplace: false,
                showModalChangePassword: false,
            }
        },
        methods: {},
        computed: {
            getProfile(){
                return this.$store.getters.getProfile
            },
            getProviders(){
                if(this.getProfile && this.getProfile.providers) {
                    return this.getProfile.providers;
                }

            },

        },
        created() {
            this.$store.dispatch(USER_REQUEST);
        }
    }
</script>

<style scoped lang="scss">
    .btn-account {
        min-width: 190px;
    }
</style>

