<template>
    <div class="d-flex justify-content-center pb-5 mt-4 mb-4">
        <button class="btn-blue btn-md" @click.stop="showModalGetAnswer = true">Contact Us</button>
        <modal-get-answer v-if="showModalGetAnswer" @close="showModalGetAnswer = false"/>
    </div>
</template>

<script>
    import ModalGetAnswer from "../modals/ModalGetAnswer";
    export default {
        components: {
            ModalGetAnswer
        },
        data() {
            return {
                showModalGetAnswer: false
            }
        }
    }
</script>
