<template>
    <div class="container">
        <h4 class="title">Admin account</h4>
        <div class="row">
            <div class="col-4 user-block">
                <div class="sub-title-block d-flex">
                    <h5 class="sub-title color-dark-blue pb-3">Account details</h5>
<!--                    <div @click.stop="showModalEditEmail = true" class="block-edit">-->
<!--                        <icon name="ico-edit" size="md" class="color-light-gray edit"/>-->
<!--                    </div>-->
                </div>
                <div class="block-details">
                    <h6 class="user-label color-gray-blue">Email</h6>
                    <p class="user-value color-dark-blue mt-3">{{getCurrentUser.email}}</p>
                </div>
<!--                <div>-->
<!--                    <button class="btn-white btn-md mt-3 pl-0" @click.stop="showModalChangePassword = true">Change password</button>-->
<!--                </div>-->


            </div>
        </div>
        <modal-change-password v-if="showModalChangePassword" @close="showModalChangePassword = false"/>
        <modal-edit-email v-if="showModalEditEmail" @close="showModalEditEmail = false"/>

    </div>
</template>

<script>
    import ModalChangePassword from "../../../components/modals/ModalChangePassword";
    import ModalEditEmail from "../modals/ModalEditEmail";

    export default {
        components: {
            ModalChangePassword,
            ModalEditEmail
        },
        data() {
            return {
                showModalChangePassword: false,
                showModalEditEmail: false
            }
        },
        computed: {
          getCurrentUser(){
              return this.$store.getters.getCurrentUser;
          }
        },
        methods: {}
    }
</script>
