<template>
    <div>
        <section class="header-section">
            <div class="header-wrapper d-flex container">
                <div class="header-info flex-grow-1">
                    <h1 class="header-title color-dark-gray mb-0">Predict your:</h1>
                    <div class="typed">
                        <vue-typed-js
                            :strings="strings"
                            :typeSpeed="50"
                            :backSpeed="50"
                            :fadeOutDelay="1000"
                            :loop="true"
                            :cursorChar="'&nbsp'"
                            :autoInsertCss="true">
                            <h2 class="typing header-sub-title color-blue"></h2>
                        </vue-typed-js>
                    </div>
                    <p class="header-text color-dark-gray">Get valuable insight about how your product will perform, before you buy inventory or invest in it.</p>
                    <div class="d-flex" v-if="!isAuthenticated">
                        <div class="btn-block">
                            <button-facebook :process="'Sign Up via'"/>
                            <br>
                            <button-google process="Sign Up via"/>

                            <p class="text color-dark-gray mt-2 mb-1">or</p>
                            <button class="btn-over-light-blue btn-md btn-email" @click.stop="showModalEmail = true">
                                Sign Up via Email
                            </button>
                        </div>
                        <img src="/dist/images/img-arrow-signup.png" alt="arrow" class="img-arrow">
                    </div>

                </div>
            </div>
            <div class="screen-wrapper">
                <div class="screen">
                    <img src="/dist/images/ui-screen-hero.jpg" alt="screen"
                         class="img-screen-header-cropped">
                    <img src="/dist/images/ui-screen-hero-all.jpg" alt="screen" class="img-screen-header-big">
                    <div class="logos">
                        <div class="amazon-logo"></div>
                        <div class="shopify-logo"></div>
                        <div class="etsy-logo"></div>
                    </div>
                </div>
            </div>
        </section>
        <section class="info-section">
            <div class="info-box">
                <div class="info-item d-flex align-items-center">
                    <img src="/dist/images/icon_1.svg" alt="icon_1">
                    <p>Found products with great research tools? Compare products against each other and know which one to really invest in</p>
                </div>
                <div class="info-item d-flex align-items-center">
                    <img src="/dist/images/icon_2.svg" alt="icon_2">
                    <p>See how price and monthly sales affect your profit margin so you can make money on every product</p>
                </div>
                <div class="info-item d-flex align-items-center">
                    <img src="/dist/images/icon_3.svg" alt="icon_3">
                    <p>Quickly and easily know how much it will cost to invest in your next product</p>
                </div>
                <div class="info-item d-flex align-items-center">
                    <img src="/dist/images/icon_4.svg" alt="icon_4">
                    <p>Avoid costly mistakes and bad products by seeing how they'll perform before you order inventory</p>
                </div>
                <div class="info-item d-flex align-items-center">
                    <img src="/dist/images/icon_5.svg" alt="icon_5">
                    <p>Know when and how fast you’ll get your initial money back</p>
                </div>
                <div class="info-item d-flex align-items-center">
                    <img src="/dist/images/icon_6.svg" alt="icon_6">
                    <p>Use your product research tool data with Predictly to get ahead of your competition</p>
                </div>
            </div>
        </section>
        <section class="feature-section">
            <div class="container">
                <div class="feature-wrapper d-flex justify-content-between">
                    <div class="feature-block">
                        <h3 class="header-feature">Features</h3>
                       <div class="d-flex flex-column radio-block">
                            <div class="d-flex align-items-center btn-radio" @click="setIndexSlide(0)" >
                                <icon name="ico-ellipse" size="xs" class="mr-3 btn-radio" :class="currentIndex === 0 ? 'color-blue':'color-light-gray'" />
                                <h5 class="radio-header" :class="currentIndex === 0 ? 'color-dark-gray':'color-light-gray'">Get an edge </h5>
                            </div>
                            <p class="radio-text" :class="currentIndex === 0 ? 'color-dark-gray':'color-light-gray'">Quickly compare up to 5 product predictions at once and see which is best </p>
                        </div>
                        <div class="d-flex flex-column radio-block">
                            <div class="d-flex align-items-center btn-radio" @click="setIndexSlide(1)">
                                <icon name="ico-ellipse" size="xs" class="mr-3 btn-radio" :class="currentIndex === 1 ? 'color-blue':'color-light-gray'"  />
                                <h5 class="radio-header" :class="currentIndex === 1 ? 'color-dark-gray':'color-light-gray'">Powerful recommendations</h5>
                            </div>
                            <p class="radio-text" :class="currentIndex === 1 ? 'color-dark-gray':'color-light-gray'">Get valuable insight about your product, so you can make better decisions</p>
                        </div>
                         <div class="d-flex flex-column mt-5 radio-block" >
                            <div class="d-flex align-items-center btn-radio" @click="setIndexSlide(2)">
                                <icon name="ico-ellipse" size="xs" class="mr-3 " :class="currentIndex === 2 ? 'color-blue':'color-light-gray'" />
                                <h5 class="radio-header" :class="currentIndex === 2 ? 'color-dark-gray':'color-light-gray'">Get smart insight</h5>
                            </div>
                            <p class="radio-text" :class="currentIndex === 2 ? 'color-dark-gray':'color-light-gray'">See the full picture, with accurate insights about your products future performance</p>
                        </div>
                    </div>
                    <div class="feature-screen-wrapper">
                        <carousel-3d ref="mycarousel" class="feature-screen" :perspective="0" :space="400" :display="3" :clickable="false">
                            <slide :index="0">
                                <div class="feature-screen-item">
                                    <img src="/dist/images/ui-screen-5-products.jpg" alt="screen-3">
                                </div>
                            </slide>
                            <slide :index="1">
                                <div class="feature-screen-item">
                                    <img src="/dist/images/ui-screen-1-product.jpg" alt="screen-2">
                                </div>
                            </slide>
                            <slide :index="2">
                                <div class="feature-screen-item">
                                    <img src="/dist/images/ui-screen-2-products.jpg" alt="screen-1">
                                </div>

                            </slide>
                        </carousel-3d>
                    </div>
                </div>
            </div>

        </section>
        <section class="slider-section">
            <div class="container">
            <div class="d-flex justify-content-around align-items-center">
                <div class="slider-quote">
                    <icon name="icon_quote" size="md" class="color-blue"/>
                    <h2 class="slider-text color-dark-gray">This tool is beyond amazing. I get accurate predictions about how much money I'll need to invest in my product, and how it will perform over time? Awesome. Makes decision making so much easier.
                        <span class="color-blue font-weight-bold"></span>
                    </h2>
                    <div class="author color-dark-gray">
                        <p class="author-name">Katie Towsend </p>
                        <p class="author-position">Managing Partner,<br/> Brand Accomplished</p>
                    </div>
                </div>
                <div class="slider-image">
                    <img src="/dist/images/image-face.png" alt="image_1" class="image-face">
                </div>
            </div>
            </div>
        </section>
        <section class="apps-section d-flex">
            <div class="apps">
                <img src="/dist/images/logo_junglescout.svg" alt="logo_junglescout">
                <img src="/dist/images/logo_helium.svg" alt="logo_helium">
                <img src="/dist/images/logo_amz.svg" alt="logo_amz">
                <img src="/dist/images/logo_unicorn.svg" alt="logo_unicorn">
                <img src="/dist/images/logo_viral.svg" alt="logo_viral">
                <img src="/dist/images/camelcamellogo.png" alt="logo_camel">
            </div>
            <div class="apps-text-block-wrapper">
                <div class="apps-text-block">
                    <h2 class="apps-section-title color-dark-gray">Use data from
                        your favorite apps</h2>
                    <p class="apps-section-text mt-4 color-dark-gray"> We support data formats from plenty of research
                        tools. Just drag-n-drop
                        your exported data into Predictly, or quickly enter it manually and you'll get it analyzed instantly.</p>
                </div>
            </div>
        </section>
        <section class="answers-section">
            <h2 class="answer-section-title color-dark-gray">How Do I...? </h2>
            <div class="answers">
                <div class="answer-box">
                    <h5 class="color-dark-gray">How do I choose the best product?</h5>
                    <p class="color-dark-gray">Choosing the best product does not happen by choosing the highest monthly sales volume. You need to look at a other factors as well. Sales price, sales volume, initial investment cost and more, are just some of the things you'll need to consider. No need to get stressed about it all - Predictly does this at the click of a button so you can truely see which product is best.</p>
                </div>
                <div class="answer-box">
                    <h5 class="color-dark-gray">How do I know how much profit I will make?</h5>
                    <p class="color-dark-gray">Profit is more than sales price and product cost. Predictly gives you insight into how much profit you will make when your other business factors (like marketing, re-investing in inventor, and more) are calculated.  </p>
                </div>
                <div class="answer-box">
                    <h5 class="color-dark-gray">How do I try Predictly for free?</h5>
                    <p class="color-dark-gray">Simply sign up with your Google or Facebook account, or enter your email to get started. You'll get access to accurate and powerful product assessments for any one product you'd like to look at. </p>
                </div>
                <div class="answer-box">
                    <h5 class="color-dark-gray">How do I use my current research tool with Predictly?</h5>
                    <p class="color-dark-gray">Predictly works with data from different Amazon research tools. Use your resarch tool to find great products, and Predictly to predict your product performance. Simply export your product data from your favorite research tool, and drag-and-drop it into Predictly to get an instant analysis. Not using a product research tool? No problem. You can easily manually enter your data in just a few steps to get the same great analysis. </p>
                </div>
            </div>
            <div class="d-flex justify-content-center mt-5">
                <router-link :to="{ name: 'faq'}" tag="button" class="btn-blue btn-lg" @click.native="$scrollToTop">
                    Ask a question
                </router-link>
            </div>
        </section>
        <section class="sign-up-section">
            <div class="sign-up-block d-flex">
                <div class="sign-up-text">
                    <h2 class="color-dark-gray">Start predicting the success of your next
                        product today</h2>
                    <div class="d-flex" v-if="!isAuthenticated">
                        <div class="btn-block">
                            <button-facebook :process="'Sign Up via'"/>
                            <br>
                            <button-google process="Sign Up via"/>

                            <p class="text color-dark-gray mt-2 mb-1">or</p>
                            <button class="btn-over-light-blue btn-md btn-email"  @click.stop="showModalEmail = true">
                                Sign Up via Email
                            </button>
                        </div>
                        <img src="/dist/images/img-arrow-signup.png" alt="arrow" class="img-arrow">
                    </div>
                </div>
                <div class="icons-rating">
                    <div class="icon-block d-flex">
                        <img src="/dist/images/icon-camera.svg" alt="icon-camera" class="icon-item">
                        <div class="icon-color icon-item-camera"></div>
                        <icon name="ico-sm-thumbsdown" size="md" class="mr-3 mt-2 color-red icon-red"/>
                    </div>
                    <div class="icon-block d-flex">
                        <img src="/dist/images/icon-joystick.svg" alt="icon-joystick" class="icon-item">
                        <div class="icon-color icon-item-joystick"></div>
                        <icon name="ico-thumb-up" size="md" class="mr-2 mt-2 color-green icon-green"/>
                    </div>
                    <div class="icon-block d-flex">
                        <img src="/dist/images/icon-kitchen.svg" alt="icon-kitchen" class="icon-item">
                        <div class="icon-color icon-item-kitchen"></div>
                        <div>
                            <icon name="ico-sm-thumbsok" size="md" class="mr-2 mt-2 color-gray icon-gray"/>
                        </div>

                    </div>
                    <div class="icon-block d-flex">
                        <img src="/dist/images/icon-t-shirt.svg" alt="icon-t-shirt" class="icon-item">
                        <div class="icon-color icon-item-t-shirt"></div>
                        <icon name="ico-thumb-up" size="md" class="mr-2 mt-2 color-green icon-green"/>
                    </div>
                </div>
                <img src="/dist/images/chart-home-page.png" alt="chart" class="chart-image">
            </div>
        </section>
    <modal-sign-up-email v-if="showModalEmail" @close="showModalEmail = false"/>
    </div>
</template>

<script>
    import { Carousel3d, Slide } from 'vue-carousel-3d';
    import ButtonGoogle from "../../components/ButtonGoogle";
    import ButtonFacebook from "../../components/ButtonFacebook";
    import ModalSignUpEmail from "../../components/modals/ModalSignUpEmail";

    export default {
        components: {
            ModalSignUpEmail,
            Carousel3d,
            Slide,
            ButtonGoogle,
            ButtonFacebook
        },
        data() {
            return {
                showModalEmail: false,
                currentIndex: 0,
                strings: ['Return on investment', 'Sales', 'Product cost', 'Breakeven point', 'Margin', 'Revenue']
            }
        },
        methods: {
            setIndexSlide(index) {
                this.currentIndex = index;
                this.$refs.mycarousel.goSlide(index);
            }
        },
        computed: {
            isAuthenticated() {
                return this.$store.getters.isAuthenticated
            },
        },

    }
</script>

<style scoped lang="scss">
    @import '~@/_home.scss';
</style>
