<template>
<div class="page">
  <div class="header">
    <div class="container">
        <a href="//predictly.io"><img src="/dist/images/logotype.svg" alt="logo"></a>
    </div>
  </div>

  <!-- <div class="banner pt-5 pb-5">
    <div class="container">
      <h1 class="header-title color-dark-gray mb-0">Predict your:</h1>
      <div class="typed">
          <vue-typed-js
              :strings="strings"
              :typeSpeed="50"
              :backSpeed="50"
              :fadeOutDelay="1000"
              :loop="true"
              :cursorChar="'&nbsp'"
              :autoInsertCss="true">
              <h2 class="typing header-sub-title color-blue"></h2>
          </vue-typed-js>
      </div>
      <p class="header-text color-dark-gray">Get valuable insight about how your product will perform, before you buy inventory or invest in it.</p>
    </div>
  </div> -->


  <div class="content pb-5">
    <div class="container">
      <div class="pt-5 pb-5">
      <a href="//predictly.io"><strong>&lt;&lt;&lt; Back to Home</strong></a>
      </div>

      <div class="row">
        <div class="col">
          <div>
            <h3>Sign in below</h3>
            <div class="form-group">
              <label for="username">Email</label>
              <input type="email" name="username" id="username" class="form-control" v-model="form.email"  />
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" name="password" id="password" class="form-control" v-model="form.password">
            </div>
            <div class="form-group"><button class="btn btn-primary" @click="validateLogin">Sign In</button></div>
            <div class="form-group">-OR-</div>
            <div class="form-group">
              <button class="btn btn-google" @click="signInGoogle">
                <icon name="icon_gmail" size="xs" class="mr-2"/>
                Login With Google
              </button>
              <!-- <button class="btn btn-fb">
              <icon name="icon_facebook" size="xs" class="mr-2"/>
              Login With Facebook
              </button> -->
            </div>
          </div>
        </div>

        <div class="col">
            <h3>Not yet signed up?</h3>
            <div class="form-group">
              <label for="register-name">Name</label>
              <input type="text" name="register-name" id="register-name" class="form-control"  v-model="register.name" />
            </div>
            <div class="form-group">
              <label for="register-email">Email</label>
              <input type="email" name="register-email" id="register-email" class="form-control"  v-model="register.email" />
            </div>
            <div class="form-group">
              <label for="register-password">Password</label>
              <input type="password" name="register-password" id="register-password" class="form-control" v-model="register.password">
            </div>
            <div class="form-group">
              <label for="register-confirm-password">Confirm Password</label>
              <input type="password" name="register-confirm-password" id="register-confirm-password" class="form-control" v-model="register.confirmPassword">
            </div>
            <div class="form-group">
              <p>By clicking Sign Up, you agree to our <a target="_blank" href="https://predictly.io/terms-of-service/">Terms Of Service</a>.</p>
              <button class="btn btn-primary" @click="validateSignUp">Sign Up</button>
            </div>
        </div>
      </div>
    </div>
  </div>


</div>
</template>
<script>
import {AUTH_REQUEST_EMAIL} from "../../store/actions/auth";
import {USER_REQUEST} from "../../store/actions/user";
import {required, email, sameAs, minLength} from 'vuelidate/lib/validators';
import {AUTH_REQUEST, AUTH_LINK} from "../../store/actions/auth";

export default {
  data() {
    return {
      strings: ['Return on investment', 'Sales', 'Product cost', 'Breakeven point', 'Margin', 'Revenue'],
      form: {
        email:'',
        password:''
      },
      register: {
        name: null,
        email: null,
        password: null, confirmPassword: null 
      }
    }
  },
  validations: {
      form: {
          email: {
              required,
              email
          },
          password: {
              required,
              minLength: minLength(6)
          },
      },
      register: {
        name: { required },
        email: { required, email },
        password: { required, minLength: minLength(6) },
        confirmPassword: { required, sameAsPassword: sameAs('password') },
      }
  },
  methods: {
    isEmpty(i) {
      return (i === null || i.length == 0);
    },
    isEmail(i) {
      const re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      return re.test(String(i).toLowerCase());
    },
    validateLogin() {
      var errors = [];
      var email = this.form.email;
      var password = this.form.password;

      if (this.isEmpty(email)) {
        errors.push("Email is required.");
      } else {
        if (!this.isEmail(email)) {
          errors.push("The email you entered is not valid.");
        }
      }

      if (this.isEmpty(password)) {
        errors.push("Password is required.");
      }

      if (errors.length > 0) {
          this.$swal("Login Error",
              errors.join("\n"),
              'error',
          )
      } else {
        this.signInEmail();
      }

    },
    signInEmail(){
        this.$v.form.$touch();
        let isValid = !this.$v.form.$invalid;
        if (isValid) {
            let form = this.form;
            let process = 'sign-in';
            let self = this;
            this.$store.dispatch(AUTH_REQUEST_EMAIL, { form, process }).then(() => {
                console.log("LOGIN SUCCESS");
                self.$router.push({name: "payment"});
            }).catch(errors => {
              console.error(errors);
              this.$swal("Login error", "Login failed.", "error");
            });
        }
    },
    validateSignUp() {
      var errors = [];
      var name = this.register.name;
      if (this.isEmpty(name)) {
        errors+=("Name is required.\n");
      } else {
        if (name !== null && (name > 0 && name < 2)) {
          errors+=("Name must be at least 2 characters.\n");
        }
      }

      if (this.isEmpty(this.register.email)) {
        errors+="Email is required.\n";
      } else {
        if (!this.isEmail(this.register.email)) {
          errors+="The email you entered is not valid.\n";
        }
      }

      if (this.isEmpty(this.register.password)) {
        errors+="Password is required.\n";
      } else {
        if (this.register.password.length > 0 && this.register.password.length < 6) {
          errors+="Password must be at least 6 characters long.\n";
        } else {
          if (this.register.password !== this.register.confirmPassword) {
            errors+="The password you entered do not match.\n";
          }
        }
      }

      if (errors.length > 0) {
          this.$swal("Signup Error",
              errors,
              'error',
          )
      } else {
        this.signUpEmail();
      }
    },
    signUpEmail() {
      this.$v.register.$touch();
      let isValid = !this.$v.register.$invalid;
      if (isValid) {
          let form = this.register;
          delete form['confirmPassword'];
          let process = 'sign-up';
          this.$store.dispatch(AUTH_REQUEST_EMAIL, { form, process }).then((data) => {
              this.$router.push({name: 'payment'});
          }).catch(errors => {
            this.$swal("Signup Error", errors.join("\n"), "error");
          });
      }
    },
    signInGoogle() {
        
        this.$gAuth.getAuthCode().then(code => {
          let data = {
            code: code,
            provider: 'google',
            process: 'sign-in'
          };

          console.log("code", data);

          this.$store.dispatch(AUTH_REQUEST, data).then(response=>{
            console.log("server response",response)
            this.$router.push("/payment");
          }).catch(errors => {
              console.error(errors);
              this.$swal("Login error", "Login failed.", "error");
          })
        })
    }
  }
};
</script>


<style scoped lang="scss">
  .page {
    background: #F5F7FF;
    height: 100vh;
  }

  .header {
    padding: 10px 0px;
  }

  .banner {
    height: 220px;
  }

  .content {
    background: #fff;
  }

  .btn-google {
    background: #D44638;
    color: #fff;
  }
  .btn-fb {
    background: #3B5998;
    color: #fff;
  }
  .btn-signup {
    background: #00cc4e;
    color: #fff;
  }
</style>
