<template>
    <div class="result-item">
        <div class="d-flex justify-content-end mr-2" @click="sortItems">
            <icon name="ico-sort-desc" size="sm" class="color-blue cursor-pointer"/>
        </div>
        <h5 v-html="title"></h5>
        <div class="product d-flex align-items-center ml-4 mr-4 info mt-4" v-for="item in products" :key="item.avatar">

            <div v-if="title === 'Investment return in'" class="product-name product-click d-flex align-items-center"
                 :style="{borderColor: item.status}"
                 @click.stop="openTable(item)">
                <img :src="item.avatar" alt="img product" @error="imageLoadError">
            </div>
            <div v-else class="product-name d-flex align-items-center" :style="{borderColor: item.status}">
                <img :src="item.avatar" alt="img product" @error="imageLoadError">
            </div>

            <div v-if="title === 'Investment return in'" class="product-status flex-shrink-1 mr-2 product-click"
                 :style="{backgroundColor: item.status, width: item.width}" @click.stop="openTable(item)"/>
            <div v-else class="product-status flex-shrink-1 mr-2" :style="{backgroundColor: item.status, width: item.width}"/>

            <div class="product-cost" v-if="title === 'Self-sustainability in'">
                {{checkNull(item.value)}}
            </div>
            <div class="product-cost show-cursor" v-else-if="title === 'Investment return in'"
                 @click.stop="openTable(item)">{{checkNull(item.value)}}
            </div>
            <div class="product-cost" v-else>{{item.value}}</div>
            <template v-if="title === 'Initial investment'">
                <icon name="ico-thumb-up" size="md" class="mr-2 color-green ml-1 border-icon-green my-icon"
                      v-if="item.status === '#72c4ac'"/>
            </template>
        </div>
        <img class="path" src="/dist/images/Path-factors.svg" alt="path" v-if="showPath">
        <modal-table v-if="showTable" @close="showTable = false" :product="currentItem"/>
    </div>
</template>

<script>
    import ModalTable from "../../../modals/ModalTable";

    export default {
        components: {
            ModalTable
        },
        props: {
            title: String,
            items: Array,
            showPath: Boolean
        },
        data() {
            return {
                currentItem: null,
                showTable: false,
                products: []
            }
        },
        watch: {
            items() {
                this.products = this.items
            }
        },
        methods: {
            imageLoadError(e) {
                e.target.src = "/dist/images/product-image.png"
            },
            sortItems() {
                this.$emit('sortItems', this.title)

            },
            openTable(item) {
                this.showTable = true;
                this.currentItem = item;
            },
            checkNull(value) {
                if (parseInt(value.replace(/[^0-9]/g, '')) < 0 || value === 'null mo') {
                    return 'never';
                } else {
                    return value;
                }

            },
        },
        created() {
            this.products = this.items
        }
    }
</script>

<style scoped lang="scss">
    @import '~@/_variables.scss';

    .result-item {
        position: relative;
        border-radius: 24px;
        background-color: $over-light-blue;
        background-size: cover;
        text-align: center;
        padding: 25px 0 30px;
        .path {
            position: absolute;
            right: -30px;
            top: 50%;
            transform: translateY(-50%);
        }
        .my-icon {
            width: 100%;
        }
        h5 {
            font-size: 1rem;
            color: $dark-blue;
            text-decoration: none solid rgb(55, 62, 89);
        }

        .cursor-pointer {
            cursor: pointer;
        }


        .info {
            font-size: 1.875rem;
            color: $dark-gray;
            font-weight: 600;
            text-decoration: none solid rgb(69, 77, 105);

            img {
                margin: 0 8px;
                width: 35px;
                padding-bottom: 2px;
            }
        }

    }

    .show-cursor {
        cursor: pointer;
    }

    .product-name {
        background-color: $white;
        font-size: 1.3rem;
        color: $purple;
        text-decoration: none solid rgb(138, 158, 236);
        text-align: center;
        font-weight: bold;
        // width: 60px;
        width: 40px;
        // height: 60px;
        height: 40px;
        border: 1px solid $green;
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;

        img {
            width: 35px !important;
            margin: 0px !important;
        }
    }

    .product-status {
        min-width: 20px;
        // height: 60px;
        height: 40px;
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
        background-color: $green;
        background-size: cover;
        opacity: 0.8;
    }

    .product-click:hover {
        cursor: pointer;
        opacity: 1;
    }

    .product-cost {
        width: 75px;
        font-size: 0.8rem;
        color: $dark-gray;
        text-decoration: none solid rgb(69, 77, 105);
    }

    @media (max-width: 1196px) {
        .product-cost {
            font-size: 0.7rem;
        }
    }
</style>
