<template>
    <div class="d-flex informations justify-content-center">
        <div class="mr-5">
            <p v-if="competitors">
                <icon :name="getThumbCompetitors.name" :size="getThumbCompetitors.size" class="mr-2" :class="getThumbCompetitors.color"/>
                Already <b>{{competitors}}</b>
                competitors
            </p>
            <p v-if="competitors">
                <icon :name="getThumbMonthlySales.name" :size="getThumbMonthlySales.size" class="mr-2" :class="getThumbMonthlySales.color"/>
                Average monthly sales:
                <b>${{monthlySales}}/<span class="mo-small">mo</span></b>
            </p>
            <p>
                <icon :name="getThumbInitialInvestment.name" :size="getThumbInitialInvestment.size" class="mr-2" :class="getThumbInitialInvestment.color"/>
                Initial investment for MOQ:
                <b>${{initialInvestment}}</b>
            </p>
        </div>
        <div>
            <p>
                <icon :name="getThumbInvestmentReturnIn.name" :size="getThumbInvestmentReturnIn.size" class="mr-2" :class="getThumbInvestmentReturnIn.color"/>
                Initial investment back in:
                <b>{{investmentReturnIn}}
                    <span
                        class="mo-small">mo</span></b>
            </p>
            <p>
                <icon :name="getThumbSelfSustainabilityIn.name" :size="getThumbSelfSustainabilityIn.size" class="mr-2" :class="getThumbSelfSustainabilityIn.color"/>
                Growth sustained by profit in: <b>{{selfSustainabilityIn}}<span class="mo-small"> mo</span></b>
            </p>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            calculateResult: Object
        },
        computed: {
            competitors(){
                return this.calculateResult && this.calculateResult.product && this.calculateResult.product.competitors? this.calculateResult.product.competitors : '';
            },
            monthlySales() {
                if(this.calculateResult && this.calculateResult.product && this.calculateResult.product.monthlySales && this.calculateResult.product.cost) {
                    return this.$isNumberCommaInsteadDot(parseInt(this.calculateResult.product.monthlySales * this.calculateResult.product.cost));
                }
            },
            initialInvestment() {
                return this.calculateResult ? this.$isNumberCommaInsteadDot(this.calculateResult.initialInvestment) : '';
            },
            investmentReturnIn() {
                return this.calculateResult ? this.calculateResult.investmentReturnIn : '';
            },
            selfSustainabilityIn() {
                return this.calculateResult ? this.calculateResult.selfSustainabilityIn : '';
            },
            getThumbCompetitors(){
                if(this.competitors >= 1 && this.competitors <= 19) {
                    return {
                        name: "ico-thumb-sm-up",
                        color: "color-green ml-1",
                        size: "ss"
                    }
                } else if (this.competitors >= 20 && this.competitors <= 39) {
                    return {
                        name: "ico-sm-thumbsok",
                        color: "color-gray",
                        size: "sm"
                    }
                } else {
                    return {
                        name: "ico-sm-thumbsdown",
                        color: "color-red",
                        size: "sm"
                    }

                }
            },
            getThumbMonthlySales(){
                let monthlySales = this.calculateResult ? this.calculateResult.monthlySales : null;
                if(monthlySales >= 0 && monthlySales <= 2900) {
                    return {
                        name: "ico-sm-thumbsdown",
                        color: "color-red",
                        size: "sm"
                    }
                } else if (monthlySales >= 3000 && monthlySales <= 14999) {
                    return {
                        name: "ico-sm-thumbsok",
                        color: "color-gray",
                        size: "sm"
                    }
                } else {
                    return {
                        name: "ico-thumb-sm-up",
                        color: "color-green ml-1",
                        size: "ss"
                    }

                }
            },
            getThumbInitialInvestment (){
                let initialInvestment = this.calculateResult ? this.calculateResult.initialInvestment : null;
                if(initialInvestment >= 0 && initialInvestment <= 2999) {
                    return {
                        name: "ico-thumb-sm-up",
                        color: "color-green ml-1",
                        size: "ss"
                    }
                } else if (initialInvestment >= 3000 && initialInvestment <= 4999) {
                    return {
                        name: "ico-sm-thumbsok",
                        color: "color-gray",
                        size: "sm"
                    }
                } else {
                    return {
                        name: "ico-sm-thumbsdown",
                        color: "color-red",
                        size: "sm"
                    }

                }
            },
            getThumbInvestmentReturnIn (){
                let investmentReturnIn = this.calculateResult ? this.calculateResult.investmentReturnIn : null;
                if(investmentReturnIn >= 0 && investmentReturnIn <= 59) {
                    return {
                        name: "ico-thumb-sm-up",
                        color: "color-green ml-1",
                        size: "ss"
                    }
                } else if (investmentReturnIn >= 60 && investmentReturnIn <= 120) {
                    return {
                        name: "ico-sm-thumbsok",
                        color: "color-gray",
                        size: "sm"
                    }
                } else {
                    return {
                        name: "ico-sm-thumbsdown",
                        color: "color-red",
                        size: "sm"
                    }

                }
            },
            getThumbSelfSustainabilityIn (){
                let selfSustainabilityIn = this.calculateResult ? this.calculateResult.selfSustainabilityIn : null;
                if(selfSustainabilityIn >= 0 && selfSustainabilityIn < 4) {
                    return {
                        name: "ico-thumb-sm-up",
                        color: "color-green ml-1",
                        size: "ss"
                    }

                } else if (selfSustainabilityIn >= 4 && selfSustainabilityIn <= 8) {
                    return {
                        name: "ico-sm-thumbsok",
                        color: "color-gray",
                        size: "sm"
                    }
                } else {
                    return {
                        name: "ico-sm-thumbsdown",
                        color: "color-red",
                        size: "sm"
                    }

                }
            }
        }
    }
</script>

<style scoped lang="scss">
    @import '~@/_variables.scss';

    .informations {
        padding: 15px 25px 18px;
        border-radius: 24px;
        background-color: $over-light-blue;
        margin: 0 5px 27px;
        z-index: 300;
        position: relative;

        p {
            font-size: 0.875rem;
            color: $dark-blue;
            text-decoration: none solid rgb(55, 62, 89);

            .mo-small {
                font-size: 0.7rem;
            }

        }
    }

</style>
