<template>
    <div class="parent-table">
        <h5 class="title-details">Other details</h5>
        <table class="other-details-table mb-5 mt-5">
            <tr class="head-table">
                <th class="th-name">Product</th>
                <th>Product cost</th>
                <th>Minimum order quantity</th>
                <th>Breakeven sales price</th>
                <th>Breakeven sales</th>
                <th>Amazon fee</th>
            </tr>
            <tr v-for="result in calculateResult" :key="result.id">
                <td class="td-name td-value d-flex align-items-center">
                    <img :src="result.product.avatar" alt="product img" class="img-product" @error="imageLoadError">
                    <p class="mt-3">{{result.product.name}}</p>
                </td>
                <td class="td-value">
                    <span @click.stop="setTune('Product cost', result.cost, result.product)">
                        ${{$isNumberCommaInsteadDot(result.cost)}}
                        <icon name="ico-sm-edit" size="sm" class="color-light-gray icon"/>
                    </span>
                </td>
                <td class="td-value">

                    <span @click.stop="setTune('Minimum order quantity', result.minimumOrderQuantity, result.product)">
                        {{result.minimumOrderQuantity}} units
                        <icon name="ico-sm-edit" size="sm" class="color-light-gray icon"/>
                    </span>
                </td>
                <td>${{$isNumberCommaInsteadDot(result.breakEvenSalesPrice)}}</td>
                <td>{{result.breakEvenSalesQuantity}} units</td>
                <td>{{getMarketplace.fee}} %</td>
            </tr>
        </table>
        <modal-tune v-if="showModal" @close="showModal = false" :label="currentLabel" :value="currentValue" :product="currentProduct"/>
    </div>
</template>

<script>
    import ModalTune from "../../../modals/ModalTune";
    export default {
        components: {
            ModalTune
        },
        props: {
            calculateResult: Array
        },
        data() {
            return {
                showModal: false,
                currentLabel: '',
                currentValue: null,
                currentProduct: null
            }
        },
        computed: {
          getMarketplace(){
              if(this.$store.getters.getLastSession && this.$store.getters.getLastSession.marketplace){
                  return this.$store.getters.getLastSession.marketplace;
              }

          }
        },
        methods: {
            imageLoadError(e) {
                e.target.src = "/dist/images/product-image.png";
            },
            setTune(label, value, product) {
                this.showModal = true;
                this.currentLabel = label;
                this.currentValue = value;
                this.currentProduct = product;
            }
        }
    }
</script>

<style scoped lang="scss">
    @import '~@/_variables.scss';

    .title-details {
        font-size: 1.375rem;
        color: $dark-gray;
        text-decoration: none solid rgb(69, 77, 105);
        line-height: 26px;
        text-align: center;
        font-weight: 600;
        margin-top: 58px;
    }

    .img-product {
        width: 50px;
    }

    .icon {
        visibility: hidden;
    }

    .td-value:hover {
        cursor:pointer;
        .icon {
            visibility: visible;
        }
    }

    .parent-table {
        overflow-x: auto;

        .other-details-table {
            width: 100%;

            .head-table {
                margin-bottom: 30px;
            }

            tr:not(:nth-child(-n+2)) {
                border-top: 1px solid $light-gray;
            }

            th {
                font-size: 0.75rem;
                color: $gray-blue;
                text-decoration: none solid rgb(97, 103, 135);

                &:not(.th-name) {
                    text-align: right;
                }
            }

            td {
                font-size: 0.875rem;
                color: $dark-blue;
                text-decoration: none solid rgb(55, 62, 89);

                &:not(.td-name) {
                    text-align: right;
                }
            }

            .td-name {
                span {
                    font-size: 1rem;
                    color: $purple;
                    text-decoration: none solid rgb(138, 158, 236);
                    text-align: center;
                    margin-right: 20px;
                    font-weight: bold;
                }
            }

            tr > td, tr > th {
                // padding: 1rem 0;
                padding: 0.4rem 0;
            }
        }
    }
</style>
