<template>
    <div class="result-item">
        <h5 v-html="title"></h5>
        <div class="info d-flex justify-content-center align-items-center" @click.stop="showTable = true">
            <template v-if="title === 'Self-sustainability in'">
                {{items[0] ? checkNull(items[0]):''}}
                <icon v-if="parseInt(items[0]) < 4" name="ico-thumb-up" size="md" class="color-green ml-3 border-icon-green" />
                <icon v-else-if="parseInt(items[0]) >= 4 && parseInt(items[0]) <= 8" name="ico-sm-thumbsok" size="md" class="color-gray ml-3 border-icon-green" />
                <icon v-else name="ico-sm-thumbsdown" size="md" class="color-red ml-3 border-icon-red"/>
            </template>
            <template v-else>
                {{items[0] ? checkNull(items[0]):''}}
            </template>

        </div>
        <img class="path" src="/dist/images/Path-factors.svg" alt="path" v-if="showPath">
        <modal-table v-if="showTable" @close="showTable = false" :product="product"/>
    </div>
</template>

<script>
    import ModalTable from "../../../modals/ModalTable";
    export default {
        props: {
            title: String,
            items: Array,
            showPath: Boolean,
            product: Object
        },
        components: {
            ModalTable
        },
        data(){
            return {
                showTable: false
            }
        },
        methods: {
			checkNull(value){
                if(parseInt(value.replace(/[^0-9]/g,'')) < 0 || value === 'null mo') {
                    return 'never';
                } else {
                    return value;
                }

            }
        }
    }
</script>

<style scoped lang="scss">
    @import '~@/_variables.scss';

    .result-item {
        position: relative;
        border-radius: 24px;
        background-color: $over-light-blue;
        background-size: cover;
        text-align: center;
        padding: 25px 0 30px;

        .path {
            position: absolute;
            right: -30px;
            top: 50%;
            transform: translateY(-50%);
        }

        h5 {
            font-size: 1rem;
            color: $dark-blue;
            text-decoration: none solid rgb(55, 62, 89);

        }

        .info {
            cursor: pointer;
            font-size: 1rem;
            color: $dark-gray;
            font-weight: 600;
            text-decoration: none solid rgb(69, 77, 105);

            img {
                margin: 8px;
                width: 35px;
            }
        }

    }
</style>
