<template>
    <div class="transition-elements">
        <transition :name="transitionName" mode="out-in">
            <div class="result-block" v-if="showProfitTimeline" key="profit-timeline">
                <compare-result-calculate v-if="calculateResultItems.length > 1" :title="'Initial investment'"
                                          :showPath="true" :items="getInitialInvestmentWithAvatar" @sortItems="sortItems"/>
                <single-result-calculate v-else :title="'Initial investment'" :showPath="true"
                                         :items="getSingleInitialInvestment" />

                <compare-result-calculate v-if="calculateResultItems.length > 1" :title="'Investment return in'"
                                          :showPath="true" :items="getInvestmentReturnInWithAvatar"  @sortItems="sortItems"/>
                <single-result-calculate v-else :title="'Investment return in'" :showPath="true"
                                         :items="getSingleInvestmentReturnIn" :product="calculateResultItems[0]"/>


                <compare-result-calculate v-if="calculateResultItems.length > 1" :title="'Self-sustainability in'"
                                          :showPath="true" :items="getSelfSustainabilityInWithAvatar" @sortItems="sortItems"/>
                <single-result-calculate v-else :title="'Self-sustainability in'" :showPath="true"
                                         :items="getSingleSelfSustainabilityIn"/>

                <compare-result-calculate v-if="calculateResultItems.length > 1"
                                          :title="`Total revenue in <span class='number-profit'>12</span> mo`"
                                          :showPath="false" :items="getTotalProfitWithAvatar" @sortItems="sortItems"/>
                <single-result-calculate v-else :title="`Total revenue in <span class='number-profit'>12</span> mo`"
                                         :showPath="false" :items="getSingleTotalProfit"/>

            </div>

            <div class="d-flex flex-column align-items-center chart" v-else key="chart">
                <h5 class="chart-title">Revenue timeline</h5>
                <div class="w-100">
                    <line-chart :chartdata="chartData" :options="chartOptions" :styles="myStyles" css-classes="line-chart"/>
                    <div class="d-flex justify-content-center mt-3">
                        <div class="chart-text mr-4 d-flex align-items-center"><div class="circle-small mr-2"></div>Investments return point</div>
                        <div class="chart-text d-flex align-items-center"><div class="circle-big mr-2"></div>Self-sustainability point</div>
                    </div>

                </div>
            </div>
        </transition>

        <modal-table v-if="showTable" @close="showTable = false"/>
    </div>
</template>

<script>
    import LineChart from '../../../components/Chart.vue';
    import ModalTable from "../../../modals/ModalTable";
    import CompareResultCalculate from "./CompareResultCalculate";
    import SingleResultCalculate from "./SingleResultCalculate";

    export default {
        components: {
            SingleResultCalculate,
            CompareResultCalculate,
            LineChart,
            ModalTable
        },
        props: {
            chartData: Object,
            chartOptions: Object,
            showProfitTimeline: Boolean,
            calculateResult: Array
        },
        data() {
            return {
                showTable: false,
                order: false,
                calculateResultItems: [],
                sums: {
                    initialInvestment: 0,
                    totalProfit: 0
                },
                compares: {
                    initialInvestment: 0,
                    totalProfit: 0
                },
                equals: {
                    initialInvestment: true,
                    totalProfit: true
                }
            }
        },
        watch: {
            calculateResult() {
                // this.calculateResultItems = this.calculateResult;
                this.caclulateDisplay();
            }
        },
        computed: {
            myStyles () {
                return {
                    height: `427px`,
                    width: '100%',
                    position: 'relative'
                }
            },
            getSingleInitialInvestment() {
                return this.calculateResultItems.map(item => '$' + this.$isNumberCommaInsteadDot(item.initialInvestment))
            },
            getSingleInvestmentReturnIn() {
                return this.calculateResultItems.map(item => item.investmentReturnIn + ' mo')
            },
            getSingleSelfSustainabilityIn() {
                return this.calculateResultItems.map(item => item.selfSustainabilityIn + ' mo')
            },
            getSingleTotalProfit() {
                return this.calculateResultItems.map(item => '$' + this.$isNumberCommaInsteadDot(item.totalProfit))
            },
            getInitialInvestmentWithAvatar() {
                return this.calculateResultItems.map((item, index, array) => {
                    const compareIndex = (index === 0 ? (index + 1) : (index - 1));
                    return {
                        initialInvestment: item.initialInvestment,
                        avatar: item.product.avatar,
                        value: '$' + this.$isNumberCommaInsteadDot(item.initialInvestment),
                        status: (item.initialInvestment === this.compares.initialInvestment && !this.equals.initialInvestment)? '#72c4ac': '#d1d4e8',
                        width: ((item.initialInvestment / this.sums.initialInvestment) * 100) + "%"
                    }
                });
            },
            getInvestmentReturnInWithAvatar() {
                return this.calculateResultItems.map((item, index, array) => {
                    const compareIndex = (index === 0 ? (index + 1) : (index - 1));
                    return {
                        initialInvestment: item.initialInvestment,
                        cashConversionCycle: item.cashConversionCycle,
                        avatar: item.product.avatar,
                        value: item.investmentReturnIn + ' mo',
                        status: item.investmentReturnIn >= array[compareIndex].investmentReturnIn || item.investmentReturnIn === null ? '#d1d4e8':'#72c4ac',
                        width: item.investmentReturnIn >= array[compareIndex].investmentReturnIn
                            ? '100%'
                            : ((item.investmentReturnIn / array[compareIndex].investmentReturnIn) * 100) + '%'
                    }
                });
            },
            getSelfSustainabilityInWithAvatar() {
                return this.calculateResultItems.map((item, index, array) => {
                    const compareIndex = (index === 0 ? (index + 1) : (index - 1));
                    return {
                        initialInvestment: item.initialInvestment,
                        avatar: item.product.avatar,
                        value: item.selfSustainabilityIn + ' mo',
                        status: item.selfSustainabilityIn >= array[compareIndex].selfSustainabilityIn || item.selfSustainabilityIn === null  ? '#d1d4e8':'#72c4ac',
                        width: item.selfSustainabilityIn >= array[compareIndex].selfSustainabilityIn
                            ? '100%'
                            : ((item.selfSustainabilityIn / array[compareIndex].selfSustainabilityIn) * 100) + '%'
                    }
                });
            },
            getTotalProfitWithAvatar() {
                return this.calculateResultItems.map((item, index, array) => {
                    const compareIndex = (index === 0 ? (index + 1) : (index - 1));
                    return {
                        initialInvestment: item.initialInvestment,
                        avatar: item.product.avatar,
                        value: '$' + this.$isNumberCommaInsteadDot(item.totalProfit),
                        status: (item.totalProfit === this.compares.totalProfit && !this.equals.totalProfit)? '#72c4ac': '#d1d4e8',
                        width: ((item.totalProfit/this.sums.totalProfit)*100) + '%'
                    }
                });
            },
            transitionName() {
                return this.showProfitTimeline ? 'left' : 'right';
            },
        },
        methods: {
            sortItems(title){
                this.order = !this.order;
                if(title === 'Initial ivestment') {
                    this.calculateResultItems = _.orderBy(this.calculateResultItems, 'initialInvestment', [this.order ? 'desc' : 'asc']);
                } else if(title === 'Investment return in'){
                    this.calculateResultItems = _.orderBy(this.calculateResultItems, 'investmentReturnIn', [this.order ? 'desc' : 'asc']);
                } else if (title === 'Self-sustainability in') {
                    this.calculateResultItems = _.orderBy(this.calculateResultItems, 'selfSustainabilityIn', [this.order ? 'desc' : 'asc']);
                } else {
                    this.calculateResultItems = _.orderBy(this.calculateResultItems, 'totalProfit', [this.order ? 'desc' : 'asc']);
                }
            },
            getTwoLettersName(product) {
                let str = product.name.substring(0, 2);
                return str.charAt(0).toUpperCase() + str.slice(1).toLowerCase();
            },
            caclulateDisplay() {
                var sample = [];
                var firstRun = true;
                var initialInvestment; var totalProfit;
                this.calculateResult.forEach(data=>{
                    this.sums.initialInvestment += data.initialInvestment;
                    this.sums.totalProfit += data.totalProfit;

                    if (firstRun) {
                        initialInvestment = data.initialInvestment;
                        totalProfit = data.totalProfit;
                        firstRun = false;
                    } else {
                        if (data.initialInvestment !== initialInvestment) {
                            this.equals.initialInvestment = false;
                        } 
                        if (data.totalProfit !== totalProfit) {
                            this.equals.totalProfit = false;
                        }
                    }

                    sample.push({
                        initialInvestment: data.initialInvestment,
                        totalProfit: data.totalProfit
                    });
                })
                if (sample.length > 0) {
                    // initialInvestment
                    sample = sample.sort((a,b)=>{
                        if (a.initialInvestment > b.initialInvestment) { return 1; }
                        else if (a.initialInvestment < b.initialInvestment) { return -1; }
                        else { return 0; }
                    })
                    this.compares.initialInvestment = Array.from(sample)[0].initialInvestment;
                    
                    // totalProfit
                    sample = sample.sort((a,b)=>{
                        if (a.totalProfit > b.totalProfit) { return -1; }
                        else if (a.totalProfit < b.totalProfit) { return 1; }
                        else { return 0; }
                    });
                    this.compares.totalProfit = Array.from(sample)[0].totalProfit;
                }
                
                this.calculateResultItems = this.calculateResult;
            }
        },
        created() {
            // this.calculateResultItems = this.calculateResult;
            this.caclulateDisplay();
        }
    }
</script>
<style scoped lang="scss">
    @import '~@/_variables.scss';

    .transition-elements {
        overflow-x: hidden;
    }

    .border-icon-green {
        border: 1px solid $green;
        border-radius: 50%;
        padding: 4px;
    }

    .border-icon-red {
        border: 1px solid $red;
        border-radius: 50%;
        padding: 4px;
    }

    .result-block {
        margin: 5px;
        display: grid;
        grid-template-columns: 22% 22% 22% 22%;
        grid-gap: 20px;
        justify-content: space-between;

    }

    .show-table:hover {
        cursor: pointer;
        color: $blue !important;
    }

    .circle-big {
        width: 22px;
        height: 22px;
        border: 2px solid $purple;
        background-color: $white;
        background-size: cover;
        box-shadow: 0px 0px 15px rgba(138, 158, 236, 0.3);
        border-radius: 50%;
    }
    .circle-small {
        width: 14px;
        height: 14px;
        border: 2px solid $purple;
        background-color: $white;
        background-size: cover;
        box-shadow: 0px 0px 15px rgba(138,158,236,0.3);
        border-radius: 50%;
    }
    .chart-text {
        font-size: 0.75rem;
        color: $dark-gray;
        text-decoration: none solid rgb(69, 77, 105);
    }
    .chart {
        border-radius: 20px;
        background-color: $over-light-blue;
        padding: 20px 12px;
    }

    .left-enter-active {
        animation: slideLeftIn 0.3s;
    }

    .left-leave-active {
        animation: slideRightOut 0.3s;
    }

    .right-enter-active {
        animation: slideRightIn 0.3s;
    }

    .right-leave-active {
        animation: slideLeftOut 0.3s;
    }

    @keyframes slideRightIn {
        from {
            transform: translateX(2000px);
        }
        to {
            transform: translateX(0px);
        }
    }

    @keyframes slideRightOut {
        from {
            transform: translateX(0px);
        }
        to {
            transform: translateX(2000px);
        }
    }

    @keyframes slideLeftIn {
        from {
            transform: translateX(-2000px);
        }
        to {
            transform: translateX(0px);
        }
    }

    @keyframes slideLeftOut {
        from {
            transform: translateX(0px);
        }
        to {
            transform: translateX(-2000px);
        }
    }

    @media (max-width: 991px) {
        .result-block {
            grid-template-columns: 47% 47%;
        }
    }
    @media (max-width: 772px) {
        .result-block {
            grid-template-columns: 45% 45%;
        }
    }
    @media (max-width: 693px) {
        .result-block {
            justify-content: center;
            grid-template-columns: 100%;
        }
    }
</style>
