<template>
    <section class="container">
        <h5 class="mb-5">Where do you plan on selling your products?</h5>
        <div class="marcetplaces">
            <div class="marcetplace-item" v-for="marketplace in getMarketplacesPrimary" :key="marketplace">
                <div class="amazon-img" @click="attachMarketplace(marketplace)"/>
            </div>
            <div class="marcetplace-item">
                <div class="shopify-img"/>
                <p class="coming-soon">Coming soon...</p>
            </div>
            <div class="marcetplace-item">
                <div class="etsy-img"/>
                <p class="coming-soon">Coming soon...</p>
            </div>
            <div class="marcetplace-item">
                <div class="other-img"/>
                <p class="coming-soon">Coming soon...</p>
            </div>
        </div>
    </section>
</template>

<script>
    import {GET_MARKETPLACES, SESSION_ATTACH_MARKETPLACE} from "../../store/actions/marketplace";
    import {SESSION_ACTIVE} from "../../store/actions/session";

    export default {
        data() {
            return {

            }
        },
        computed: {
            getMarketplaces(){
                return this.$store.getters.getMarketplaces
            },
            getMarketplacesPrimary(){
                return this.getMarketplaces.filter(function(item) {
                    return item.category === 'primary'
                });
            }

        },
        methods: {
           async attachMarketplace(marketplace){
                await this.$store.dispatch(SESSION_ACTIVE);
                let sessionId = this.$store.getters.getSessionId;
                this.$store.dispatch(SESSION_ATTACH_MARKETPLACE, { marketplace, sessionId }).then(() => {
                    this.$router.push({name: "create-product"});
                });
            }
        },
        created() {
            this.$store.dispatch(GET_MARKETPLACES);
        }
    }
</script>

<style scoped lang="scss">
    @import '~@/_variables.scss';

    section {
        margin-top: 53px;
    }

    h5 {
        font-size: 1.25rem;
        color: $dark-blue;
        text-decoration: none solid rgb(55, 62, 89);
        line-height: 30px;
        text-align: center;
    }

    .marcetplaces {
        margin: 100px 0;
        padding-bottom: 50px;
        display: grid;
        grid-template-columns: 194px 194px 194px 194px;
        grid-gap: 30px;
        justify-content: center;
    }

    .marcetplace-item {
        justify-self: center;
        cursor: pointer;
        border: 1px solid $light-purple;
        border-radius: 20px;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        height: 158px;
        padding: 34px 22px;

        & > div {
            height: 90px;
            width: 150px;
        }

        .amazon-img {
            background-image: url("/dist/images/amazon-logo.svg");
        }

        .shopify-img {
            background-image: url("/dist/images/shopify-logo.svg");
        }

        .etsy-img {
            background-image: url("/dist/images/etsy-logo.svg");
        }

        .other-img {
            background-image: url("/dist/images/other-place.svg");
        }
    }

    .marcetplace-item:hover {
        box-shadow: 0px 0px 10px rgba(82, 96, 196, 0.2);

        .amazon-img {
            background-image: url('/dist/images/amazon-logo-hover.svg');
        }
    }
    .coming-soon {
        font-size: 0.75rem;
        margin-top: 30px;
        text-align: center;
        color: $gray;
    }

    @media (max-width: 991px) {
        .marcetplaces {
            grid-template-columns: 194px 194px;
        }
    }

    @media (max-width: 500px) {
        .marcetplaces {
            grid-template-columns: 194px;
        }
    }
</style>
