<template>
    <modal @close="closeModal">
        <div slot="body">
            <form>
                <div class="mt-5 d-flex flex-column align-items-center" :class="{ error: $v.form.marketplace.$error}">
<!--                    <select-input :options="['Amazon', 'Other']" @input="onSelect" class="select-width"/>-->
<!--                    <label class="base-label form-text">place where I sell products</label>-->
                    <p>under construction</p>
                </div>
            </form>
        </div>
        <div slot="footer" class="d-flex flex-column flex-sm-row justify-content-sm-between">
<!--            <button class="btn-blue btn-lg mb-sm-3 mx-auto" @click="editData">Save changes</button>-->
        </div>
    </modal>
</template>

<script>
    import Modal from '../../../components/Modal.vue'
    import {required} from 'vuelidate/lib/validators'
    import SelectInput from "../../../components/SelectInput";
    export default {
        components: {
            Modal,
            SelectInput
        },
        data() {
            return {
                form: {
                    marketplace: ''
                }
            }
        },
        validations: {
            form: {
                marketplace: {
                    required
                },
            }
        },
        methods: {
            onSelect(option){
                // this.form.topic = option;
            },
            closeModal() {
                this.$emit('close');
            },
            editData() {
                this.$v.form.$touch();
                let isValid = !this.$v.form.$invalid;
                if (isValid) {
                    //post data
                }
            }
        }
    }
</script>
<style scoped lang="scss">
    @import '~@/_variables.scss';

    .account-input {
        width: 399px;
    }
    select {
        text-align-last: center;
        font-size: 1rem;
    }
    .select-width {
        width: 300px;
        text-align: center;
    }
</style>
