<template>
    <div class="container">
        <h3 class="title color-dark-blue mb-5">My products</h3>
        <my-products :products="getProducts" @added-comparison="addedComparison"></my-products>
        <div class="bottom-block d-flex justify-content-center mb-5">
            <template v-if="getSessionProducts.length >= 1">
                <router-link class="btn-lg btn-analyze d-flex justify-content-center"
                             :class="[getSessionProducts.length >= 1 ? 'btn-blue' : 'btn-gray']"
                             :disabled="getSessionProducts.length < 1"
                             :to="{ name: 'uploaded-products'}"
                             tag="button">Analyze {{getSessionProducts.length}} products
                </router-link>
            </template>
        </div>
    </div>

</template>

<script>
    import MyProducts from "../components/MyProducts";
    import ModalForm from "../modals/ModalForm";
    import {SESSION_ACTIVE, SESSION_LAST} from "../../../store/actions/session";
    import {PRODUCT_GET} from "../../../store/actions/product";
    import {SESSION_ATTACH_MARKETPLACE} from "../../../store/actions/marketplace"
    export default {
        components: {
            MyProducts,
            ModalForm
        },
        data() {
            return {
                showModalInstruction: false,
                showModalForm: false,
                comparison_products: [],
            }
        },
        computed: {
            getProducts() {
                return this.$store.getters.getProducts
            },
            getSessionProducts() {
                return this.$store.getters.getSessionProducts
            }
        },
        methods: {
            addedComparison(comparison_products) {
                this.comparison_products = comparison_products;
            }
        },
        async created() {
            await this.$store.dispatch(SESSION_LAST).then((data)=>{
                let marketplace = data.result.marketplace;
                this.$store.dispatch(SESSION_ACTIVE).then(()=>{
                    let sessionId = this.$store.getters.getSessionId;
                    this.$store.dispatch(SESSION_ATTACH_MARKETPLACE, { marketplace, sessionId });
                });
            });
            await this.$store.dispatch(PRODUCT_GET);
        }
    }
</script>

