<template>
    <div class="container">
        <h4 class="title">Users</h4>
        <div class="d-flex justify-content-between mt-5">
            <!--            <button class="btn-blue" @click.stop="showModalCreateUser = true">Add new user</button>-->
            <!-- filters -->
            <!--            <div>-->
            <!--                <input type="text" placeholder="Find..." v-model="filterText" class="input-filter" @change="doFilter">-->
            <!--            </div>-->

        </div>
        <div class="d-flex mt-4">
            <vuetable ref="vuetable"
                      v-show="!loading"
                      :fields="fields"
                      :api-mode="false"
                      :data="users"
                      pagination-path=""
                      pagination-component="VuetablePagination"
                      @vuetable:pagination-data="onPaginationData"
            >
                <div slot="verified" slot-scope="props">
                    <label class="switch">
                        <input type="checkbox" @change="verifiedUser(props.rowData)" :checked="props.rowData.verified">
                        <span class="slider round"></span>
                    </label>
                </div>
                <div slot="free" slot-scope="props">
                    <label class="switch">
                        <input type="checkbox" @change="switchFree(props.rowData)" :checked="props.rowData.free">
                        <span class="slider round"></span>
                    </label>
                </div>
                <div slot="actions" slot-scope="props">
                    <router-link class="details color-blue"
                                 :to="{ name: 'user-details', params: { id: props.rowData.id }}" tag="span">Details
                    </router-link>
                </div>
            </vuetable>
        </div>
        <div class="d-flex justify-content-between pb-4">
            <div class="count-page color-dark-gray">
				<template v-if="users.length > 9">
					Shown <select name="count_page" id="count_page" class="base-select" v-model="getUserParam.limit">
							<option :value="limit" v-for="limit in limits" :key="limit">{{limit}}</option>
						</select> of {{users.length}}
				</template>
            </div>
            <div class="d-flex" >
                <div @click="prevButton">
                    <icon name="ico-arrow-right" size="sm" class="color-light-gray ico-left"/>
                </div>
                <span class="current-page color-dark-gray">{{currentPage}}</span>
                <div @click="nextButton" v-if="users.length > 9">
                    <icon name="ico-arrow-right" size="sm" class="color-light-gray ico-right"/>
                </div>

            </div>
        </div>

        <modal-create-user v-if="showModalCreateUser" @close="showModalCreateUser = false"/>

    </div>
</template>

<script>
    import Vuetable from 'vuetable-2/src/components/Vuetable.vue'
    import VuetablePagination from 'vuetable-2/src/components/VuetablePagination'
    import VuetablePaginationInfo from 'vuetable-2/src/components/VuetablePaginationInfo'
    import PaginationMixin from 'vuetable-2/src/components/VuetablePaginationMixin.vue'
    import ModalCreateUser from "../../modals/ModalCreateUser";
    import {GET_USERS, UNVERIFY_USER, VERIFY_USER, SWITCH_FREE_USER} from "../../../../store/actions/admin/adminUsers";

    export default {
        components: {
            Vuetable,
            VuetablePagination,
            VuetablePaginationInfo,
            PaginationMixin,
            ModalCreateUser
        },
        data() {
            return {
                currentPage: 1,
                perPage: 10,
                limits: [10, 20, 50, 100],
                limit: 10,
                offset: 0,
                getUserParam: {
                    limit: 10,
                    offset: 0
                },
                showModalCreateUser: false,
                loading: false,
                users: [],
                columns: ['Email', 'Full name', 'Registered'],
                filterText: '',
                fields: [
                    {
                        name: 'email',
                        title: 'Email',
                        titleClass: 'text-left  border-0 my-table-th',
                        dataClass: 'text-left my-table-td'
                    },
                    {
                        name: 'name',
                        title: 'Full name',
                        titleClass: 'text-left  border-0 my-table-th',
                        dataClass: 'text-left my-table-td'
                    },
                    {
                        name: 'registered_at',
                        title: 'Registered',
                        titleClass: 'text-right  border-0 my-table-th',
                        dataClass: 'text-right my-table-td'
                    },
                    {
                        name: '__slot:verified',
                        title: 'Verified',
                        titleClass: 'text-right  border-0 my-table-th',
                        dataClass: 'text-right my-table-td'
                    },
                    {
                        name: '__slot:free',
                        title: 'Free',
                        titleClass: 'text-right border-0 my-table-th',
                        dataClass: 'text-right my-table-td'
                    },
                    {
                        name: '__slot:actions',
                        title: 'Actions',
                        titleClass: 'text-right border-0 my-table-th',
                        dataClass: 'text-right my-table-td'
                    }
                ],
            }
        },
        watch: {
            'getUserParam.limit'(val) {
                this.getUserParam.offset = 0;
                this.getUsers();
            },
        },
        methods: {
            prevButton() {
                if (this.currentPage !== 1) {
                    this.getUserParam.offset -= 10;
                    this.getUserParam.limit = 10;
                    this.currentPage -= 1;
                    this.getUsers();
                }
            },
            nextButton() {
                if (this.users.length >= 10) {
                    this.getUserParam.offset += 10;
                    this.getUserParam.limit = 10;
                    this.currentPage += 1;
                    this.getUsers();
                }
            },
            onPaginationData(paginationData) {
                this.$refs.pagination.setPaginationData(paginationData);
            },
            doFilter() {
                //console.log(this.filterText)
            },
            async getUsers() {
                await this.$store.dispatch(GET_USERS, this.getUserParam).then((data) => {
                    this.users = data.result;
                });
            },
            verifiedUser(user) {
                if (user.verified) {
                    this.$store.dispatch(UNVERIFY_USER, user).then(data => {
                        this.getUsers();
                    }).catch(err => {
                        this.$swal(err.data.message);
                    })
                } else {
                    this.$store.dispatch(VERIFY_USER, user).then(data => {
                        this.getUsers();
                    }).catch(err => {
                        this.$swal(err.data.message);
                    })

                }
            },
            switchFree(user) {
                console.log(user);
                this.$store.dispatch(SWITCH_FREE_USER, user).then(data => {
                    console.log(data);
                    this.getUsers();
                }).catch(err => {
                    this.$swal(err.data.message);
                })
            },
            onPaginationData(paginationData) {
                this.$refs.pagination.setPaginationData(paginationData);
            },
            onChangePage(page) {
                this.$refs.vuetable.changePage(page);
            }
        },
        mounted() {
            this.$refs.vuetable.$on('vuetable:load-success', (response) => {
                this.loading = false
            })
        },
        created() {
            this.getUsers();
        }
    }
</script>

<style scoped lang="scss">
    @import '~@/_variables.scss';

    .input-filter {
        width: 339px;
        height: 30px;
        padding: 0px 10px;
        border: 1px solid $light-gray;
        border-radius: 2px;
        font-size: 12px;
        color: $light-gray;

        &:focus {
            outline: none;
        }
    }

    .count-page {
        font-size: 0.75rem;
        line-height: 26px;
    }

    .details {
        font-size: 0.75rem;
        line-height: 18px;
        font-weight: bold;
        cursor: pointer;
    }

    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
    }

    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }

    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

    input:checked + .slider {
        background-color: $blue;
    }

    input:focus + .slider {
        box-shadow: 0 0 1px $blue;
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }

    /* Rounded sliders */
    .slider.round {
        border-radius: 34px;
    }

    .slider.round:before {
        border-radius: 50%;
    }

    .current-page {
        padding: 0 8px;
        border-bottom: 2px solid;
        border-color: $light-gray;
        background-color: $white;
        background-size: cover;
        font-size: 0.75rem;
        text-decoration: none solid rgb(69, 77, 105);
        text-align: center;
    }

    .ico-left, .ico-right {
        cursor: pointer;
    }

    .ico-left {
        transform: scaleX(-1);
    }
</style>
