<template>
    <div class="container">
        <h4 class="title">User details</h4>
        <div class="row details-block">
            <div class="col-md-4 col-sm-12 ml-md-0 ml-5 user-block">
                <div class="sub-title-block d-flex">
                    <h5 class="sub-title color-dark-blue pb-3">User details</h5>
                </div>
                <div class="block-details d-flex justify-content-between">
                    <div>
                        <h6 class="user-label color-gray-blue">Full name</h6>
                        <p class="user-value color-dark-blue mt-3">{{getUser.name}}</p>
                    </div>

                    <!--                    <div @click.stop="showModalEditAccount = true" class="block-icon user-edit-block">-->
                    <!--                        <icon name="ico-edit" size="md" class="color-light-gray icon"/>-->
                    <!--                    </div>-->
                </div>
                <div class="block-details">
                    <h6 class="user-label color-gray-blue">Email</h6>
                    <p class="user-value color-dark-blue mt-3">{{getUser.email}}</p>
                </div>
                <div>
                    <!--                    <button class="btn-white btn-md mt-3 pl-0" @click.stop="showModalChangePassword = true">Change password</button>-->
                    <br>
                    <button class="btn-red btn-md mt-3 text-left pl-0 border-0 text-left mb-4" @click="deleteUser"
                            v-if="getUser.id !== getCurrentUser.id">Delete user
                    </button>
                </div>
            </div>
            <!--            <div class="col-md-4 col-sm-12 ml-5">-->
            <!--                <div class="sub-title-block d-flex">-->
            <!--                    <h5 class="sub-title color-dark-blue pb-3">Test calculation models</h5>-->
            <!--                </div>-->
            <!--                <div class="block-details">-->
            <!--                    <h6 class="user-label color-gray-blue">Marketplace</h6>-->
            <!--                    <p class="user-value color-dark-blue mt-3"><a href="#" class="text-decoration-none">Amazon_new</a></p>-->
            <!--                </div>-->
            <!--                <div class="block-details">-->
            <!--                    <h6 class="user-label color-gray-blue">Predictions</h6>-->
            <!--                    <p class="user-value color-dark-blue mt-3"><a href="#" class="text-decoration-none">Super moderate_beta</a></p>-->
            <!--                    <p class="user-value color-dark-blue mt-3"><a href="#" class="text-decoration-none">Normal_301019</a></p>-->
            <!--                </div>-->
            <!--            </div>-->
        </div>
        <modal-change-password v-if="showModalChangePassword" @close="showModalChangePassword = false"/>
        <modal-edit-account v-if="showModalEditAccount" @close="showModalEditAccount = false"/>
    </div>
</template>

<script>
    import ModalChangePassword from "../../../../components/modals/ModalChangePassword";
    import ModalEditAccount from "../../../../components/modals/ModalEditAccount";
    import {GET_SINGLE_USER, DELETE_USER} from "../../../../store/actions/admin/adminUsers";

    export default {
        components: {
            ModalChangePassword,
            ModalEditAccount
        },
        data() {
            return {
                showModalChangePassword: false,
                showModalEditAccount: false
            }
        },
        computed: {
            getUser() {
                return this.$store.getters.getUser;
            },
            getCurrentUser() {
                return this.$store.getters.getCurrentUser;
            }
        },
        methods: {
            deleteUser() {
                let id = this.$route.params.id;
                this.$swal({
                    text: 'Are you sure you want to delete this user?',
                    buttons: true,
                }).then((willDelete) => {
                    if (willDelete) {
                        this.$store.dispatch(DELETE_USER, {id}).then(() => {
                            this.$swal('User deleted!').then(() => {
                                this.$router.push({name: "users"});
                            })
                        });
                    }
                });
            }
        },
        created() {
            this.$store.dispatch(GET_SINGLE_USER, this.$route.params.id)
        }
    }
</script>

<style scoped lang="scss">
    .user-edit-block {
        height: 55px;
    }

</style>
