<template>
    <button class="btn-gmail btn-md mt-4" @click="signUp('google')">
        <icon name="icon_gmail" size="xs" class="mr-2"/>
        {{process}} Google
    </button>
</template>

<script>
    import {AUTH_REQUEST, AUTH_LINK} from "../store/actions/auth";

    export default {
        props: {
            process: String
        },
        methods: {
            signUp(provider) {
                if(provider === 'google') {
                    this.$gAuth.getAuthCode()
                        .then(authCode => {
                            if(this.process === 'Sign Up via') {
                                let process = 'sign-up';
                                this.$store.dispatch(AUTH_REQUEST, { authCode, provider, process }).then(() => {
                                    this.$router.push("/initial-steps");
                                });
                            }
                            if(this.process === 'Connect') {
                                let process = 'link';
                                this.$store.dispatch(AUTH_LINK, { authCode, provider, process }).then(() => {
                                    this.$swal('Нou have successfully connected!')
                                }).catch(errors => {
                                    this.$swal(errors.join(', '));
                                });
                            }
                        })
                }
            },
        },

    }
</script>
