<template>
    <button class="btn-facebook btn-md mt-4" @click="signUp">
        <icon name="icon_facebook" size="xs" class="mr-2"/>
        {{process}} Facebook
    </button>
</template>
<script>
    import {AUTH_LINK, AUTH_REQUEST} from "../store/actions/auth";

    export default {
        props: {
            process: String
        },
        methods: {
            signUp() {
                window.addEventListener("message", this.sendData, false);
                let link = this.$linkFacebook;
                window.open(link, "socialPopupWindow", "location=no,width=600,height=600,scrollbars=yes,top=100,left=700");
            },
            sendData(event) {
                if (event.data && event.data.type === 'facebook.auth.completed') {
                    if (event.data.data && event.data.data.code) {
                        let authCode = event.data.data.code;
                        let provider = 'facebook';
                            if(this.process === 'Sign Up via') {
                                let process = 'sign-up';
                                this.$store.dispatch(AUTH_REQUEST, {authCode, provider, process}).then(() => {
                                    this.$router.push("/initial-steps");
                                });
                            }
                        if(this.process === 'Connect') {
                            let process = 'link';
                            this.$store.dispatch(AUTH_LINK, {authCode, provider, process}).then(() => {
                                this.$swal('Нou have successfully connected!')
                            }).catch(errors => {
                                this.$swal(errors.join(', '));
                            });
                        }
                    }
                }
                event.source.close();

            }
        },
    }
</script>
<style>

</style>
