<template>
    <div class="d-flex justify-content-end">
        <div class="icon-contact">
            <icon name="icon-contact" size="sm" class="color-white" />
        </div>

    </div>
</template>

<style lang="scss" scoped>
    @import '~@/_variables.scss';
    .icon-contact {
        background-color: $blue;
        border-radius: 50%;
        padding: 15px;
        margin: 15px;
    }
</style>
