<template>
  <svg :class="iconSize">
    <use :xlink:href="iconName" />
  </svg>
</template>

<script>
  const validSizes = ['path', 'width-xs', 'xs', 'ss', 'sm', 'md', 'lg', 'xl' ];

  export default {
    name: 'Icon',
    props: {
      name: {
        type: String,
        requires: true,
      },
      size: {
        type: String,
        default: 'md',
        validator(value) {
          return validSizes.includes(value);
        },
      },
      customSize: {
        type: String,
        default: '',
      },
    },
    computed: {
      iconName() {
        return `#${this.name}`;
      },
      iconSize() {
        return this.customSize || this.size;
      },
    },
  };
</script>

<style lang="scss" scoped>

  .path {
    width: 7px;
    height: 20px;
  }

  .width-xs {
	  width: 13px;
	  height: 11px;
  }

  .xs {
    width: 8px;
    height: 13px;
  }
  .ss {
      width: 19px;
      height: 22px;
  }
  .sm {
    width: 24px;
    height: 24px;
  }

  .md {
    max-width: 32px;
    height: 32px;
  }

  .lg {
    width: 44px;
    height: 44px;
  }

  .xl {
    width: 60px;
    height: 60px;
  }
</style>
