<template>
    <div class="loader color-blue">
        <object type="image/svg+xml" data="/dist/images/loader.svg" class="loader-icon">
            Loader
        </object>
    </div>
</template>

<script>
    export default {
        name: 'Loader',
    };
</script>

<style lang="scss" scoped>
    .loader {
        text-align: center;

        .loader-icon {
            width: 60px;
            height: 60px;
            animation: spin 3s linear infinite;

            @keyframes spin {
                100% {
                    -webkit-transform: rotate(360deg); transform:rotate(360deg);
                }
            }
        }
    }
</style>
