<template>
    <transition name="modal">
        <div class="modal-mask">
            <div class="modal-wrapper">
                <div class="d-flex justify-content-between">
                    <slot name="image">
                    </slot>
                    <div @click="closeModal">
                        <icon  name="ico-remove" size="md" class="close-button color-light-gray"/>
                    </div>

                </div>

                <div class="modal-container" >
                    <div>
                        <slot name="header" class="">

                        </slot>
                    </div>

                    <div class="modal-body">
                        <slot name="body">

                        </slot>
                    </div>

                    <div>
                        <slot name="footer">

                            <button class="btn-blue modal-default-button modal-ok-button" @click="closeModal">
                                OK
                            </button>
                        </slot>
                    </div>
                </div>
            </div>
        </div>
    </transition>
</template>

<script>
    export default {
        mounted() {
            document.body.style.overflow = 'hidden';
            if (document.body.offsetHeight > window.innerHeight) {
                // const widthScrollbar = window.innerWidth - document.body.scrollWidth;
                document.body.style.paddingRight = 15 + 'px';
            }
        },
        destroyed() {
            document.body.style.overflow = 'auto';
            document.body.style.paddingRight = '0';
        },
        data() {
            return {}
        },
        methods: {
            closeModal() {
                this.$emit('close');
            }
        }
    }
</script>

<style scoped lang="scss">
    @import '~@/_variables.scss';


    .modal-mask {
        position: fixed;
        z-index: 9998;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(55, 62, 89, 0.8);
        display: flex;
        justify-content: center;
        align-items: center;
        transition: opacity .3s ease;
    }

    .modal-wrapper {
        position: relative;
        border-radius: 20px;
        background-color: $white;
        margin: 0 auto;
        padding: 20px 47px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, .33);

    }

    .modal-sign-up, .modal-login, .modal-instruction, .modal-table {
        .modal-wrapper {
            padding: 32px 7%;
        }
    }

    .modal-create-product {
        .modal-container {
            padding: 20px 7%;
        }
    }

    .modal-create .modal-wrapper {
        padding: 32px 15%;
    }

    .modal-container {
        position: relative;
        transition: all .3s ease;
        font-family: Helvetica, Arial, sans-serif;
        max-height: 95vh;
        overflow-y: auto;
    }

    .modal-header h3 {
        margin-top: 0;
    }

    .modal-body {
        margin: 20px 0;
    }

    .modal-ok-button {
        margin-left: auto;
        display: block;
    }

    .modal-enter {
        opacity: 0;
    }

    .modal-leave-active {
        opacity: 0;
    }

    /*.modal-enter .modal-container,*/
    /*.modal-leave-active .modal-container {*/
    /*    -webkit-transform: scale(1.1);*/
    /*    transform: scale(1.1);*/
    /*}*/

    .close-button {
        position: absolute;
        top: 15px;
        right: 18px;
        cursor: pointer;
        margin-left: auto;
        display: block;
    }


</style>
