<template>
    <div class="select-input" :tabindex="tabindex" @blur="open = false">
        <div class="selected" :class="{open: open}" @click="open = !open">{{ selected }}</div>
        <div class="items" :class="{selectHide: !open}">
            <div
                class="item"
                v-for="(option, i) of options"
                :key="i"
                @click="onSelect(option)"
            >{{ option }}
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            options: {
                type: Array,
                required: true
            },
            tabindex: {
                type: Number,
                required: false,
                default: 0
            },
        },
        data() {
            return {
                selected: this.options.length > 0 ? this.options[0] : '',
                open: false
            };
        },
        methods: {
            onSelect(option) {
                this.selected = option;
                this.open = false;
                this.$emit('input', option)
            }
        }
    };
</script>

<style scoped lang="scss">
    @import '~@/_variables.scss';

    .select-input {
        position: relative;
        width: 100%;
        text-align: left;
        outline: none;
        height: 47px;
        line-height: 47px;
    }
    .selected {
        height: 100%;
        border-bottom: 1px solid $blue;
        color: $blue;
        padding-left: 8px;
        cursor: pointer;
        user-select: none;
    }

    .selected:after {
        position: absolute;
        content: "";
        top: 22px;
        right: 10px;
        width: 0;
        height: 0;
        border: 4px solid transparent;
        border-color: #373e59 transparent transparent transparent;
    }

    .items {
        color: $blue;
        background: $white;
        overflow: hidden;
        border-right: 1px solid #CE9B2C;
        border-left: 1px solid #CE9B2C;
        border-bottom: 1px solid #CE9B2C;
        position: absolute;
        left: 0;
        right: 0;
    }

    .item {
        padding-left: 8px;
        cursor: pointer;
        user-select: none;
    }

    .item:hover {
        background-color: $orange;
    }

    .selectHide {
        display: none;
    }
</style>
