<template>
    <div class="parent-table">
        <table class="table-products">
            <tr v-for="product in products" :key="product.id">
                <td>
                    <div class="box-image">
                        <img :src="product.avatar" alt="avatar">
                    </div>
                </td>
                <td class="td-name pr-4">{{product.name}}</td>
                <td class="analysis" ><span>${{product.lastSessionResult && product.lastSessionResult.initialInvestment ? $isNumberCommaInsteadDot(product.lastSessionResult.initialInvestment): ''}}</span>
                </td>
                <td align="center"><img src="/dist/images/Path.svg" alt="path" class="img-path"></td>
                <td class="analysis" ><span>{{product.lastSessionResult && product.lastSessionResult.investmentReturnIn ? product.lastSessionResult.investmentReturnIn: ''}} mo</span>
                </td>
                <td align="center"><img src="/dist/images/Path.svg" alt="path" class="img-path"></td>
                <td class="analysis"><span>{{product.lastSessionResult && product.lastSessionResult.selfSustainabilityIn ? product.lastSessionResult.selfSustainabilityIn: ''}} mo</span>
                </td>
                <td align="center"><img src="/dist/images/Path.svg" alt="path" class="img-path"></td>
                <td class="analysis pr-4" ><span>${{product.lastSessionResult && product.lastSessionResult.totalProfit ? $isNumberCommaInsteadDot(product.lastSessionResult.totalProfit): ''}} </span>
                </td>
                <slot name="actions" :product="product">

                </slot>

            </tr>
        </table>
    </div>
</template>

<script>

    export default {
        props: {
            products: Array
        },
    }
</script>

<style scoped lang="scss">
    @import '~@/_variables.scss';

    .parent-table {
        overflow-x: auto;
    }

    .table-products {
        width: 100%;
        margin-bottom: 1rem;
        color: $over-dark-gray;
        font-size: 0.8rem;
        text-decoration: none solid rgb(55, 62, 89);

        tr {
            border-bottom: 1px solid $light-gray;
        }

        td {
            text-align: center;
            padding: 2px;
        }

        .td-name {
            text-align: left;
            max-width: 200px;
        }

        .analysis {
            font-size: 1rem;
            white-space: nowrap;
        }

        .img-path {
            margin-left: 13px;
        }
    }

    .box-image {
        max-width: 70px;
        margin: 8px 0;

        img {
            max-width: 67px;
            border: 1px solid $light-gray;
            border-radius: 18px;
        }
    }

    .box-letters {
        display: table;
        margin: 0 auto;
        transform: translateY(15%);
        font-weight: bold;
        font-size: 2rem;
        color: $purple;
        text-decoration: none solid rgb(138, 158, 236);
        text-align: center;
    }
</style>
