<template>
    <div class="product-item product-added-item">
        <img class="ico-add" src="/dist/images/ico-remove.svg" alt="add">
        <div class="icons d-flex justify-content-around">
            <div class="icon-item ico-upload">
                <vue-dropzone ref="myVueDropzone" id="dropzoneAddProduct" :options="dropzoneOptions"
                              :useCustomSlot="true"
                              @vdropzone-success="uploadSuccess"
                              @vdropzone-error="showError"
                              @vdropzone-removed-file="removeFileFromDropzone"
                              @vdropzone-file-added="dropFile">
                    <div class="ico-upload-image"></div>
                </vue-dropzone>
            </div>
            <div class="icon-item ico-create">
                <div class="ico-create-image" @click.stop="showModalForm = true"></div>
            </div>
            <div class="icon-item ico-select">
                <div class="ico-select-image" @click.stop="showModalMyProducts = true"></div>
            </div>
        </div>
        <modal-form v-if="showModalForm" @close="showModalForm = false" :type="'create'" :attach="true" :addedProductToSelect="true" @new-product="newProductCalculate"/>
        <modal-my-products v-if="showModalMyProducts" @close="showModalMyProducts = false" :addedProductToSelect="true" @new-product="newProductCalculate"/>
    </div>
</template>

<script>
    import vue2Dropzone from 'vue2-dropzone';
    import ModalForm from "../modals/ModalForm";
    import ModalMyProducts from "../modals/ModalMyProducts";
    import {SESSION_ACTIVE, SESSION_ATTACH_PRODUCT, SESSION_SELECT_PRODUCT} from "../../../store/actions/session";
    import {PRODUCT_STORE_SUCCESS} from "../../../store/actions/product";

    export default {
        components: {
            vueDropzone: vue2Dropzone,
            ModalForm,
            ModalMyProducts,
        },
        props: {
            applyFile: Boolean
        },
        data() {
            return {
                dropzoneOptions: {
                    method: 'POST',
                    url: '/api/v1/products/upload',
                    acceptedFiles: ".csv",
                    maxFilesize: 50000,
                    autoProcessQueue: false,
                    previewsContainer: '#dropzonePreview',
                    addRemoveLinks: true,
                    parallelUploads: 1,
                    params: {
                        marketplaceId: null
                    },
                    headers: {
                        Authorization: 'Bearer ' + localStorage.getItem('access_token'),
                    }
                },
                showModalForm: false,
                showModalMyProducts: false

            }
        },
        watch: {
            applyFile(val) {
                if(this.applyFile) {
                    this.dropzoneOptions.params.marketplaceId = this.getSessionMarketplaceId || this.$store.getters.getLastSession.marketplace.id;
                    this.$refs.myVueDropzone.processQueue();
                    this.$emit('applyFile', false);
                }
            }
        },
        computed: {
            getLastSessionProducts(){
                return this.$store.getters.getLastSessionProducts;
            },
            getSessionMarketplaceId(){
                    return this.$store.getters.getSessionMarketplaceId;


            }
        },
        methods: {
            newProductCalculate() {
                this.$emit('new-product')
            },
            removeFileFromDropzone(file, error, xhr){
                this.$refs.myVueDropzone.removeFile(file);
                this.$emit('clicked', false);
            },
            dropFile(file){
                this.$emit('clicked', true);
            },
            showError(file, message, xhr) {
                file.previewTemplate.style.display = "none";
                let data = message.errors || [message.message];
                let error = JSON.stringify(data).replace(/[^\w\s!?]/g,'');
                this.$swal(error,
                    '',
                    'error',
                )
            },
            uploadSuccess(file, response) {
                let product = response.result;
                let sessionId = this.$store.getters.getSessionId;
                this.$store.commit(PRODUCT_STORE_SUCCESS, product);
                if(this.$route.name === 'products-comparison') {
                    if(this.getLastSessionProducts.length <= 4){
                        this.$store.commit(SESSION_SELECT_PRODUCT, [product]);
                        this.$emit('new-product')
                    } else {
                        this.$swal("You can't add more than 5 products to compare");
                    }
                }else{
                    const index = this.getLastSessionProducts.findIndex((e) => e.id === product.id);
                    if (index === -1) {
                        this.$store.dispatch(SESSION_ATTACH_PRODUCT, {product, sessionId}).catch(errors=>{
                            this.$swal(errors.join(', '));
                        });
                    }

                }


            },
        },
         created() {
            // await this.$store.dispatch(SESSION_ACTIVE);
            // this.dropzoneOptions.params.marketplaceId = this.$store.getters.getSessionMarketplaceId;
        }
    }
</script>

<style scoped lang="scss">
    @import '~@/_variables.scss';

    .product-added-item {
        border: 1px dashed $light-gray;
        background-color: $white;
        background-size: cover;

        &:hover {
            background-color: $light-blue;

            .icons {
                opacity: 1;
            }

            .ico-upload {
                transform: translateX(-15px);
            }

            .ico-select {
                transform: translateX(15px);
            }
        }
    }

    .ico-add {
        width: 50px;
        transform: rotate(45deg);
    }

    .icons {
        position: absolute;
        opacity: 0;
        transition: .3s;

        .ico-upload, .ico-create, .ico-select {
            transition: .7s;
            box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.08);
            border-radius: 15px;
            background-color: $white;
            padding: 6px;
        }

        .ico-upload-image, .ico-create-image, .ico-select-image {
            height: 44px;
            width: 44px;
            opacity: 0.6;
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;

            &:hover {
                opacity: 1;
                transition: .3s;
            }
        }

        .ico-upload-image {
            background-image: url("/dist/images/ico-md-upload.svg");
        }

        .ico-create-image {
            background-image: url("/dist/images/ico-md-edit.svg");
        }

        .ico-select-image {
            background-image: url("/dist/images/ico-md-my-products.svg");
        }
    }

</style>
