<template>
    <div class="parent-table">
        <table class="table-products">
            <tr>
                <th colspan="2">Your Products</th>
                <th class="th-data">Sale price</th>
                <th class="th-data">Est. Monthly Sales</th>
                <th>Prediction Type</th>
                <th colspan="8" class="results">Prediction Results</th>
            </tr>
            <tr v-for="product in products" :class="{ 'selected-tr': selectedItem(product) }" :key="product.id">
                <td class="d-flex align-items-center text-center">
                    <div class="select-item mr-3" :class="{ 'selected': selectedItem(product) }"
                         @click="toggleIsClicked($event, product)">
                        <icon name="ico-sm-tick" size="ss" class="color-white" />
                    </div>
                    <div class="box-image">
                        <img :src="product.avatar" alt="avatar" @error="imageLoadError">
                    </div>
                </td>
                <td class="td-name pl-0"><input type="text" class="edit-data-input" :class="{ 'selected-tr': selectedItem(product) }" v-model="product.name"></td>
                <td class="td-data"><input type="text" class="edit-data-input" :class="{ 'selected-tr': selectedItem(product) }" :value="'$' + product.cost" @input="e => product.cost = parseInt(e.target.value.match(/\d+/))"></td>
                <td class="td-data"><input type="text" class="edit-data-input" :class="{ 'selected-tr': selectedItem(product) }" v-model="product.monthlySales"> <span class="units">units</span> </td>
                <td class="td-name">
                    <span v-if="product.prediction">{{ product.prediction.name }}:
						<icon v-if="compare(product.prediction.factors, product.factor)" name="icon-plus-minus" size="width-xs" class="color-gray mb-3"/>
					</span>
                    <span v-else class="color-gray">Not predicted yet</span>
				</td>
                <td class="td-path">
					<template v-if="product.lastSessionResult">
						<icon v-if="updatedProduct(product)" name="icon-combined-shape" size="ss" class="color-white background-color-orange p-1"/>
					</template>
				</td>
                <td class="analysis" ><span v-if="product.lastSessionResult">${{product.lastSessionResult && product.lastSessionResult.initialInvestment ? $isNumberCommaInsteadDot(product.lastSessionResult.initialInvestment): ''}} </span>
                </td>
                <td class="td-path"><icon v-if="product.lastSessionResult" name="icon-path" size="path" class="color-light-gray ml-2" /></td>
                <td class="analysis" ><span v-if="product.lastSessionResult">{{product.lastSessionResult && product.lastSessionResult.investmentReturnIn ? product.lastSessionResult.investmentReturnIn: ''}} <span class="units">mo</span> </span>
                </td>
                <td class="td-path"><icon v-if="product.lastSessionResult" name="icon-path" size="path" class="color-light-gray ml-2" /></td>
                <td class="analysis"><span v-if="product.lastSessionResult">{{product.lastSessionResult && product.lastSessionResult.selfSustainabilityIn ? product.lastSessionResult.selfSustainabilityIn: ''}} <span class="units">mo</span> </span>
                </td>
                <td class="td-path"><icon v-if="product.lastSessionResult" name="icon-path" size="path" class="color-light-gray ml-2" /></td>
                <td class="analysis pr-4 last-td pl-0" >
                    <span class="table-td" v-if="product.lastSessionResult">${{product.lastSessionResult && product.lastSessionResult.totalProfit ? $isNumberCommaInsteadDot(product.lastSessionResult.totalProfit): ''}} </span>
                    <div class="table-buttons">
                        <div class="ico-edit" @click.stop="editProduct(product)"></div>
                        <div class="ico-delete" @click="deleteItem(product.id)"></div>
                    </div>
                </td>


            </tr>
            <tr>
                <td></td>
                <td class="td-name-added pl-0 pt-3"><input type="text" class="edit-data-input" v-model="form.name" placeholder="Add product ..."></td>
                <td class="td-data-added pt-3"><input type="text" class="edit-data-input" v-model="form.cost"></td>
                <td class="td-data-added-last pt-3"><input type="text" class="edit-data-input" v-model="form.monthlySales" @change="enterLastInput"> <span v-show="showButton" class="units">units</span></td>
                <td class="td-button pt-3"><button v-if="showButton" class="btn-blue btn-sm" @click="addProduct">Add</button></td>
            </tr>
        </table>
        <div>
            <!-- <div class="notification" v-show="isClicked"><icon name="ico-sm-tick" size="sm"/>
                Added to comparison
            </div> -->
        </div>
        <modal-form v-if="showModalEditForm" @close="closeModalEdit" :type="'edit'" :product="currentEditProduct"/>
    </div>
</template>
<script>
    import ModalForm from "../modals/ModalForm";
    import TableProducts from '../../../components/TableProducts.vue'
    import {PRODUCT_DELETE, PRODUCT_STORE, PRODUCT_UPDATE} from "../../../store/actions/product";
    import {SESSION_ACTIVE, SESSION_ATTACH_PRODUCT, SESSION_DETACH_PRODUCT} from "../../../store/actions/session";

    export default {
        props: {
            products: Array
        },
        components: {
            ModalForm,
            TableProducts
        },
        data() {
            return {
                form: {
                    name: '',
                    cost: null,
                    monthlySales: null
                },
                showButton: false,
                currentEditProduct: null,
                isClicked: false,
                showModalEditForm: false,
                backgroungImage: `url(${'/dist/images/ico-tick.svg'})`,
            }
        },
        computed: {
            getSessionProducts(){
                return this.$store.getters.getSessionProducts;
            }
        },
        methods: {
            imageLoadError(e) {
                e.target.src = "/dist/images/product-image.png";
            },
			compare(obj1, obj2) {
				delete obj1.id;
				delete obj2.id;
				return !_.isEqual(obj1, obj2);
			},
            updatedProduct(product) {
				return new Date(product.updated_at) > new Date(product.lastSessionResult.updated_at)
            },
            addProduct() {
				let sessionId = this.$store.getters.getSessionId;
                this.$store.dispatch(PRODUCT_STORE, this.form).then((data) => {
					this.form.name = ''
					this.form.cost = null
					this.form.monthlySales = null
					this.showButton = false
					let product = data.result
					this.$store.dispatch(SESSION_ATTACH_PRODUCT, {product, sessionId}).catch(error => {
						let errorMessage = error[0] ? error[0]: error;
						this.$swal(errorMessage,
								'',
								'error',
						)
					});
				}).catch(error => {
                    let errorMessage = error[0] ? error[0]: error;
                    console.log(errorMessage);
                    this.$swal(errorMessage.join(', '),
                        '',
                        'error',
                    )
                });
            },
            enterLastInput() {
                this.showButton = true
            },
            editProductByInput(product) {
                let form = product;
                let id = product.id;
                this.$store.dispatch(PRODUCT_UPDATE, {id, form});
            },
            toggleIsClicked(event, product) {
                let sessionId = this.$store.getters.getSessionId;

                const index = this.getSessionProducts.findIndex((e) => e.id === product.id);
                if (index === -1) {
                    this.isClicked = true;
                    this.$store.dispatch(SESSION_ATTACH_PRODUCT, {product, sessionId}).catch(error => {
                        let errorMessage = error[0] ? error[0]: error;
                        console.log(errorMessage);
                        this.$swal(errorMessage.join(', '),
                            '',
                            'error',
                        )
                    });
                } else {
                    this.isClicked = false;
                    this.$store.dispatch(SESSION_DETACH_PRODUCT, {product, sessionId});
                }
            },
            deleteItem(id) {
                this.$swal({
                    text: 'Are you sure you want to delete the product?',
                    buttons: true,
                }).then((willDelete) => {
                        if (willDelete) {
                            this.$store.dispatch(PRODUCT_DELETE, { id }).then(()=>{
                                this.$swal('Product deleted!')
                            });
                        }
                    });
            },
            editProduct(product){
                this.showModalEditForm = true;
                this.currentEditProduct = product;
            },
            selectedItem(product) {
                return this.getSessionProducts.some(item => item.id === product.id);
            },
            closeModalEdit(){
                this.showModalEditForm = false;
                this.currentEditProduct = null;
            }
        },
    }
</script>
<style scoped lang="scss">
    @import '~@/_variables.scss';

    .ico-edit, .ico-add, .ico-delete {
        cursor: pointer;
        height: 32px;
        width: 32px;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }

    .ico-edit {
        background-image: url('/dist/images/ico-edit.svg');
    }

    .ico-edit:hover {
        border-radius: 50%;
        background-color: $light-blue;
        background-image: url('/dist/images/ico-edit-hover.svg');
    }

    .ico-add {
        background-image: url('/dist/images/ico-add-to-comparison.svg');
    }

    .ico-add:hover {
        border-radius: 50%;
        background-color: $light-blue;
        background-image: url('/dist/images/ico-add-to-comparison-hover.svg');
    }

    .ico-delete {
        background-image: url('/dist/images/ico-delete.svg');
    }

    .ico-delete:hover {
        border-radius: 50%;
        background-color: $light-blue;
        background-image: url('/dist/images/ico-delete-hover.svg');
    }

    .notification {
        position: absolute;
        right: 0;
        margin-right: 15px;
        width: 220px;
        height: 50px;
        opacity: 0.9;
        padding: 12px 23px 15px;
        border-radius: 14px;
        background-color: $dark-blue;
        background-size: cover;
        font-size: 0.8rem;
        color: $white;
        text-decoration: none solid rgb(255, 255, 255);
        text-align: right;

        img {
            margin-right: 10px;
        }
    }

    .btn-analyze {
        margin: 0 auto;
    }

    .bottom-block {
        position: relative;
        margin: 25px 0;
        padding: 15px 0;
        width: 100%;
        background-color: $white;
        background-size: cover;
        box-shadow: 0 1px 25px rgba(0, 0, 0, 0.08);
    }

    .background-color-orange {
        background-color: $orange;
        border-radius: 50%;
    }

    .select-item {
        width: 28px;
        height: 28px;
        border: 2px solid $light-gray;
        border-radius: 4px;
        background-color: $beige;
        background-size: cover;
    }

    .parent-table {
        overflow-x: auto;
    }

    .results {
        text-align: center;
    }

    .table-products {
        width: 100%;
        margin-bottom: 1rem;
        color: $dark-blue;
        font-size: 0.9rem;
        text-decoration: none solid rgb(55, 62, 89);
        tr {
            border-bottom: 1px solid $light-gray;
        }
        th, td:not(.td-path) {
            padding: 0 15px;
        }
        th {
            color: $gray-blue;
            font-size: 0.75rem;
            white-space: nowrap;
            padding-bottom: 10px;
        }

        .th-data {
            text-align: end;
        }

        td {
            cursor: pointer;
            text-align: end;
        }
        .td-button {
            text-align: start;
        }
        .td-name {
            text-align: left;
            input {
                border: none;
            }
        }
        .td-data {
            text-align: end;
            max-width: 200px;
            input {
                text-align: end;
                border: none;
                max-width: 80px;
            }
        }

        .td-name-added {
            text-align: left;
            max-width: 170px;
            input {
                border-bottom-color: $gray;
            }
            input::placeholder {
                color: $gray;
            }
        }
        .td-data-added {
            text-align: end;
            max-width: 200px;

            input {
                border-bottom-color: $gray;
                text-align: end;
                max-width: 80px;
            }
        }
        .td-data-added-last {
            max-width: 200px;
            input {
                border-bottom-color: $gray;
                text-align: end;
                max-width: 80px;
            }
        }



        .analysis {
            font-size: 1rem;
            white-space: nowrap;
        }

        .img-path {
            margin-left: 13px;
        }

        .units {
            font-size: 0.75rem;
        }
    }

    tr:last-child {
        border: none;
    }

    .selected {
        background-color: $blue;
        border: none;
    }

    .selected-tr {
        background-color: $over-light-blue;
    }

    .box-image {

        margin: 8px 0;

        img {
            width: 43px;
            height: 43px;
            border: 1px solid $light-gray;
            border-radius: 6px;
        }
    }
    .last-td {
        width: 150px;
    }
    .last-td:hover {
        background-color: $white;

        .table-buttons {
            display: flex;
            justify-content: flex-end;
        }
        .table-td {
            display: none;
        }
    }

    .table-buttons {
        display: none;
    }

    .box-letters {
        display: table;
        margin: 0 auto;
        transform: translateY(15%);
        font-weight: bold;
        font-size: 2rem;
        color: $purple;
        text-decoration: none solid rgb(138, 158, 236);
        text-align: center;
    }
</style>
