<template>
    <div class="product m-1">
        <div class="product-item  text-center" @click="productActive" :class="isActive? 'active':''">
            <div class="ico-cross" @click="detachProduct" v-if="getLastSessionProducts.length > 1"/>
            <img :src="getAvatar" alt="img product" @error="imageLoadError">
        </div>
        <p class="mt-4 product-name" :title="product.name || name">{{getName}}</p>
        <!-- <div class="box-status" :style="{backgroundColor: product.status.color}">{{product.status.text}}</div> -->
    </div>
</template>

<script>
    import {SESSION_DETACH_PRODUCT, SESSION_ACTIVE} from "../../../store/actions/session"
    export default {
        props: {
            product: Object,
            isActive: Boolean
        },
        data() {
            return {
                imageError: false
            }
        },
        computed: {
            getAvatar(){
                return this.product && this.product.avatar ? this.product.avatar: '';
            },
            getName(){
                var name = this.product && this.product.name ? this.product.name: '';
                if (name.length > 18) {
                    name = name.substring(0, 15) + "...";
                }
                return name;
            },
            getLastSessionProducts(){
                return this.$store.getters.getLastSessionProducts;
            }
        },
        methods: {
            imageLoadError(e) {
                e.target.src = "/dist/images/product-image.png"
            },
            productActive() {
                this.$emit('active');
            },
            detachProduct(){
                    let sessionId = this.$store.getters.getSessionId;

                    this.$swal({
                        text: 'Are you sure you want to remove this product?',
                        buttons: true,
                    }).then((willDelete) => {
                        if (willDelete) {
                            this.$emit('detach', this.product);
                        }
                    });

            }
        }
    }
</script>

<style scoped lang="scss">
    @import '~@/_variables.scss';

    .product {
        position: relative;
        max-width: 210px;
        padding-top: 20px;
    }
    .active {
        border-radius: 25px 25px 0 0;
        background-color: $over-light-blue;
    }

    .product-item {
        background-color: $white;
        position: relative;
        margin: 0 24px;
        height: 75px;
        width: 75px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border: 1px solid $light-gray;
        border-radius: 10px;

        .ico-cross {
            height: 20px;
            width: 20px;
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            background-image: url("/dist/images/ico-sm-cross.svg");
            display: none;
            position: absolute;
            top: 5px;
            right: 5px;
        }

        .product-letters {
            font-size: 45px;
            color: $purple;
            line-height: normal;
            font-weight: bold;
            text-decoration: none solid rgb(138, 158, 236);
            text-align: center;
        }

        &:hover {
            box-shadow: 0 0 10px rgba(82, 96, 196, 0.2);

            .ico-cross {
                display: block;

                &:hover {
                    cursor: pointer;
                    background-image: url("/dist/images/ico-sm-cross-hover.svg");
                }
            }

        }

        &.active {
            border: solid 1px #8CCDBC;
            box-shadow: 0px 0px 3px #8CCDBC;
        }
    }

    .product-name {
        font-size: 0.875rem;
        color: $dark-gray;
        text-decoration: none solid rgb(69, 77, 105);
        line-height: 20px;
        text-align: center;
    }

    .box-status {
        width: 112px;
        height: 26px;
        padding: 0 0 3px;
        border-radius: 70px;
        background-size: cover;
        font-size: 0.75rem;
        color: $white;
        text-decoration: none solid rgb(255, 255, 255);
        text-align: center;
        margin: 0 auto;
    }

</style>
