<template>
    <div class="container">
        <h4 class="title">Model details</h4>
        <div class="sub-title-block d-flex">
            <h5 class="sub-title color-dark-blue pb-3" v-if="$route.params.type === 'marketplace'">{{getSingleMerketplace.name}}</h5>
            <template v-if="$route.params.type === 'prediction'">
                <h5 class="sub-title color-dark-blue pb-3">{{getSinglePrediction.name}}</h5>
<!--                <div class="block-icon" @click.stop="showModalEdit = true">-->
<!--                    <icon name="ico-edit" size="md" class="color-light-gray icon"/>-->
<!--                </div>-->
            </template>

        </div>
        <div class="row">
            <div class="col-md-5 col-10 user-block pr-5 mt-5">
                <div class="block-details">
                    <h6 class="user-label color-gray-blue">Category</h6>
                    <p class="user-value color-dark-blue mt-3" v-if="$route.params.type === 'marketplace'">{{getSingleMerketplace.category}}</p>
                    <p class="user-value color-dark-blue mt-3" v-if="$route.params.type === 'prediction'">{{getSinglePrediction.category}}</p>
                </div>
                <div class="block-details mt-5" v-if="getSingleMerketplace.category === 'testing'">
<!--                    <h6 class="user-label color-gray-blue mb-3">Applied to users</h6>-->
<!--                    <div class="d-flex justify-content-between align-items-center user-item mt-2">-->
<!--                        <div class="color-dark-blue">kevin@example.com</div>-->
<!--                        <div class="color-dark-blue">Kevin Jones</div>-->
<!--                        <div class="block-icon">-->
<!--                            <icon name="ico-remove" size="md" class="color-light-gray icon"/>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="d-flex justify-content-between align-items-center user-item mt-2">-->
<!--                        <div class="color-dark-blue">pro@example.com</div>-->
<!--                        <div class="color-dark-blue">Proctor Reed</div>-->
<!--                        <div class="block-icon">-->
<!--                            <icon name="ico-remove" size="md" class="color-light-gray icon"/>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="block-details mt-4">-->
<!--                        <button class="btn-white btn-md text-left pl-0">Add users-->
<!--                        </button>-->
<!--                        <br/>-->
<!--                        <button class="btn-red btn-md mt-4 text-left pl-0">Delete model</button>-->
<!--                    </div>-->
                </div>
            </div>
            <div class="col-md-7 col-10 pl-5 mt-5">
<!--                <div class="block-details ml-5">-->
<!--                    <h6 class="user-label color-gray-blue">Factors</h6>-->
<!--                    <form v-if="$route.params.category === 'primary'">-->
<!--                        <div class="form-row mt-4">-->
<!--                            <div class="factors-group col-md-3">-->
<!--                                <input type="number" class="base-input number-input" v-model="form.fee">-->
<!--                                <label class="base-label form-label form-text">fee</label>-->
<!--                            </div>-->
<!--                            <div class="factors-group col-md-3">-->
<!--                                <input type="number" class="base-input number-input" v-model="form.factor_name1">-->
<!--                                <label class="base-label form-label form-text">factor name</label>-->
<!--                            </div>-->
<!--                            <div class="factors-group col-md-3">-->
<!--                                <input type="number" class="base-input number-input" v-model="form.factor_name2">-->
<!--                                <label class="base-label form-label form-text">factor name</label>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <button class="btn-blue btn-md mt-5">Apply changes</button>-->
<!--                    </form>-->
<!--                    <form v-if="$route.params.category === 'testing'">-->
<!--                        <div class="form-row justify-content-between mt-4">-->
<!--                            <div class="factors-group col-md-3">-->
<!--                                <input type="number" class="base-input number-input" v-model="form.product_cost">-->
<!--                                <label class="base-label form-label form-text">product cost</label>-->
<!--                            </div>-->
<!--                            <div class="factors-group col-md-3">-->
<!--                                <input type="number" class="base-input number-input" v-model="form.shipping_cost">-->
<!--                                <label class="base-label form-label form-text">shipping cost</label>-->
<!--                            </div>-->
<!--                            <div class="factors-group col-md-3">-->
<!--                                <input type="number" class="base-input number-input" v-model="form.factor_name1">-->
<!--                                <label class="base-label form-label form-text">factor name</label>-->
<!--                            </div>-->
<!--                            <div class="factors-group col-md-3">-->
<!--                                <input type="number" class="base-input number-input" v-model="form.factor_name2">-->
<!--                                <label class="base-label form-label form-text">factor name</label>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <button class="btn-blue btn-md mt-5 mr-3">Apply changes</button>-->
<!--                        <button class="btn-over-light-blue btn-md mt-5">Make it primary</button>-->
<!--                    </form>-->
<!--                </div>-->
            </div>
        </div>
        <modal-edit-testing-modal v-if="showModalEdit" @close="showModalEdit = false"/>
    </div>
</template>
<script>
    import ModalEditTestingModal from "../../modals/ModalEditTestingModal";
    import {GET_SINGLE_MARKETPLACE} from "../../../../store/actions/admin/adminMarketplace";
    import {GET_SINGLE_PREDICTION} from "../../../../store/actions/admin/adminPrediction"
    export default {
        components: {
            ModalEditTestingModal
        },
        data() {
            return {
                showModalEdit: false,
                form: {
                    fee: 0.5,
                    product_cost: 0.3,
                    shipping_cost: 1.05,
                    factor_name1: 0.89,
                    factor_name2: 1.55
                }
            }
        },
        computed: {
            getSingleMerketplace(){
                return this.$store.getters.getSingleMerketplace;
            },
            getSinglePrediction(){
                return this.$store.getters.getSinglePrediction;
            }
        },
        created() {
            this.$store.dispatch(GET_SINGLE_MARKETPLACE, this.$route.params.id);
            this.$store.dispatch(GET_SINGLE_PREDICTION, this.$route.params.id);
        }
    }
</script>

<style scoped lang="scss">
    @import '~@/_variables.scss';

    .user-item {
        border-bottom: 1px solid $light-gray;
    }

    @media (max-width: 767px) {
        .user-block {
            border: none;
        }
    }
    @media (max-width: 993px) {
        .user-item {
            font-size: .8rem;
        }
    }
</style>
