<template>
    <div class="container">
        <h4 class="title">Calculation models</h4>
        <div class="d-flex justify-content-between">
            <div class="col-md-6 col-10 ml-md-0 ml-5 user-block pr-5">
                <div class="sub-title-block d-flex">
                    <h5 class="sub-title color-dark-blue pb-3">Marketplaces</h5>
                </div>
                <div class="select-block">
                    <select class="base-select select-model color-dark-blue" v-model="category.marketplace">
                        <option value="primary" selected>Primary</option>
                        <option value="testing">Testing</option>
                    </select>
                </div>
                <div class="block-details mt-4">
                    <h6 class="user-label color-gray-blue">Name</h6>
                    <template v-if="category.marketplace === 'primary'">
                        <div class="d-flex justify-content-between align-items-center model-item"
                             v-for="item in getAdminMarketplaces" :key="item.id">
                            <div class="color-dark-blue">{{item.name}}</div>
                            <div class="block-icon">
                                <router-link :to="{ name: 'calculation-models-details', params: { type: 'marketplace', id: item.id }}" >
                                    <icon name="ico-edit" size="md" class="color-light-gray icon"/>
                                </router-link>
                            </div>
                        </div>
                    </template>
                    <template v-if="category.marketplace === 'testing'">
                        <div class="d-flex justify-content-between align-items-center model-item"
                             v-for="item in getAdminMarketplaces" :key="item.id">
                            <div class="color-dark-blue">{{item.name}}</div>
                            <div class="d-flex">
                                <div class="block-icon">
                                    <router-link :to="{ name: 'calculation-models-details', params: { type: 'marketplace', id: item.id}}">
                                        <icon name="ico-edit" size="md" class="color-light-gray icon"/>
                                    </router-link>
                                </div>
                                <div class="block-icon"
                                     @mouseover="setHover(item, true)"
                                     @mouseleave="setHover(item, false)">
                                    <icon name="ico-delete" size="md" class="color-light-gray icon"
                                          v-if="!item.hover"/>
                                    <icon name="ico-delete-hover" size="md" class="color-light-gray icon"
                                          v-if="item.hover"/>
                                </div>
                            </div>

                        </div>
                    </template>
                </div>
                <div class="block-details mt-4">
                    <button class="btn-white btn-md text-left pl-0" @click.stop="openModal('marketplace')">Add model</button>
                </div>
            </div>
            <div class="col-md-6 col-10 ml-5">
                <div class="sub-title-block d-flex">
                    <h5 class="sub-title color-dark-blue pb-3">Predictions</h5>
                </div>
                <div class="select-block">
                    <select class="base-select select-model color-dark-blue" v-model="category.prediction">
                        <option value="primary" selected>Primary</option>
                        <option value="testing">Testing</option>
                    </select>
                    <div class="block-details mt-4">
                        <h6 class="user-label color-gray-blue">Name</h6>
                        <template v-if="category.prediction === 'primary'">
                            <div class="d-flex justify-content-between align-items-center model-item"
                                 v-for="item in getAdminPredictions" :key="item.id">
                                <div class="color-dark-blue">{{item.name}}</div>
                                <div class="block-icon">
                                    <router-link :to="{ name: 'calculation-models-details', params: { type: 'prediction', id: item.id }}">
                                        <icon name="ico-edit" size="md" class="color-light-gray icon"/>
                                    </router-link>
                                </div>
                            </div>
                        </template>
                        <template v-if="category.prediction === 'testing'">
                            <div class="d-flex justify-content-between align-items-center model-item"
                                 v-for="item in getAdminPredictions" :key="item.id">
                                <div class="color-dark-blue">{{item.name}}</div>
                                <div class="d-flex">
                                    <div class="block-icon">
                                        <router-link :to="{ name: 'calculation-models-details', params: { type: 'prediction', id: item.id }}">
                                            <icon name="ico-edit" size="md" class="color-light-gray icon"/>
                                        </router-link>
                                    </div>
                                    <div class="block-icon"
                                         @mouseover="setHover(item, true)"
                                         @mouseleave="setHover(item, false)">
                                        <icon name="ico-delete" size="md" class="color-light-gray icon"
                                              v-if="!item.hover"/>
                                        <icon name="ico-delete-hover" size="md" class="color-light-gray icon"
                                              v-if="item.hover"/>
                                    </div>
                                </div>
                            </div>
                        </template>
                    </div>
<!--                    <div class="block-details mt-4">-->
<!--                        <button class="btn-white btn-md text-left pl-0" @click.stop="openModal('prediction')">Add model-->
<!--                        </button>-->
<!--                    </div>-->
                </div>
            </div>
        </div>
        <modal-create-model v-if="showModalCreateModel" @close="showModalCreateModel = false" :type="type"/>
    </div>
</template>
<script>
    import ModalCreateModel from "../../modals/ModalCreateModel";
    import {GET_ADMIN_MARKETPLACES} from "../../../../store/actions/admin/adminMarketplace"
    import {GET_ADMIN_PREDICTIONS} from "../../../../store/actions/admin/adminPrediction"
    export default {
        components: {
            ModalCreateModel
        },
        data() {
            return {
                showModalCreateModel: false,
                category: {
                    marketplace: 'primary',
                    prediction: 'primary'
                },
                type: '',
            }
        },
        watch: {
            'category.marketplace' (val) {
                this.getAllMarketplaces();
            },
            'category.prediction' (val) {
                this.getAllPredictions();
            },
        },
        computed: {
            getAdminMarketplaces(){
                return this.$store.getters.getAdminMarketplaces;
            },
            getAdminPredictions(){
                return this.$store.getters.getAdminPredictions;
            }
        },
        methods: {
            setHover(item, boolean) {
                this.$set(item, 'hover', boolean);
            },
            openModal(type) {
                this.type = type;
                this.showModalCreateModel = true;
            },
            getAllMarketplaces(){
                this.$store.dispatch(GET_ADMIN_MARKETPLACES, this.category.marketplace)
            },
            getAllPredictions(){
                this.$store.dispatch(GET_ADMIN_PREDICTIONS, this.category.prediction)
            }
        },
        created() {
            this.getAllMarketplaces();
            this.getAllPredictions();
        }
    }
</script>
<style scoped lang="scss">
    @import '~@/_variables.scss';

    .select-model {
        cursor: pointer;
        width: 243px;
        height: 50px;
        padding: 0 0 3px;
        border-bottom: 1px solid $light-gray;
        font-size: 1rem;
    }

    .model-item {
        border-bottom: 1px solid $light-gray;
    }


    @media (max-width: 767px) {
        .block-details {
            min-height: 135px;
        }
        .user-block {
            border: none;
        }
    }
</style>
