<template>
		<modal @close="closeModal">
			<div slot="header">
				<h3 class="modal-tutor-title">My Products</h3>
			</div>
			<div slot="body">
				<p class="modal-tutor-p">This is where all the products you predict are stored.</p>
				<p class="modal-tutor-p">To upload some products that you're going to predict, click one of two buttons in top right corner.</p>
				<img class="modal-tutor-img" src="/dist/images/screen1-tutor.jpg" alt="screen">
				<p class="modal-tutor-p">If you don't know what are these .csv files and where to get them. Please click a small "<b>?</b>" icon near the button.</p>
			</div>
			<div slot="footer" class="d-flex">
				<button v-if="nameButton" class="btn-blue btn-lg mb-sm-3 mx-auto" @click="changeStep">{{nameButton}}</button>
				<button v-else class="btn-blue btn-lg mb-sm-3 mx-auto" @click="closeModal">Got it</button>
				<button class="btn-white btn-lg mb-sm-3 border-0 modal-btn-skip" @click="skipTutorial">Skip tutorial</button>
			</div>
		</modal>

</template>

<script>
	import Modal from '../../../components/Modal.vue'
	export default {
		components: {
			Modal
		},
		props: ['nameButton'],
		data(){
			return {
			}
		},
		methods: {
			changeStep() {
				this.$emit('change-step', 2)
			},
			skipTutorial() {
				this.$emit('close');
				let nameVisitedPage = `wasVisited${this.$store.getters.getId}`;
				localStorage.setItem(nameVisitedPage, 0);
			},
			closeModal() {
				this.$emit('close');
			}
		}
	}
</script>

