<template>
	<modal @close="closeModal">
		<div slot="header">
			<h3 class="modal-tutor-title">Prediction results</h3>
		</div>
		<div slot="body">
			<p class="modal-tutor-p">This is the final destination. Here are a couple of things to understand about it:</p>
			<img class="modal-tutor-img" src="/dist/images/screen4-tutor.jpg" alt="screen">
			<h6 class="modal-tutor-subtitle">Change the prediction model</h6>
			<p class="modal-tutor-p">This is model you selected in previous step. You can change it anymore. As promised.</p>
			<h6 class="modal-tutor-subtitle">Profit timeline</h6>
			<p class="modal-tutor-p">What is it for?</p>
			<h6 class="modal-tutor-subtitle">Factors tuning</h6>
			<p class="modal-tutor-p">What is it for?</p>
			<h6 class="modal-tutor-subtitle">Figures assessment</h6>
			<p class="modal-tutor-p">How to understand them if that's not obvious.</p>
			<h6 class="modal-tutor-subtitle">Products success indicators</h6>
			<p class="modal-tutor-p">How to understand them if that's not obvious.</p>
		</div>
		<div slot="footer" class="d-flex">
			<button v-if="nameButton" class="btn-blue btn-lg mb-sm-3 mx-auto" @click="changeStep">{{nameButton}}</button>
			<button v-else class="btn-blue btn-lg mb-sm-3 mx-auto" @click="closeModal">Got it</button>
		</div>
	</modal>

</template>

<script>
	import Modal from '../../../components/Modal.vue'
	export default {
		components: {
			Modal
		},
		props: ['nameButton'],
		data(){
			return {
			}
		},
		methods: {
			changeStep() {
				this.$emit('change-step', 5)
			},
			closeModal() {
				this.$emit('close');
			}
		}
	}
</script>

