<template>
	<modal @close="closeModal">
		<div slot="header">
			<h3 class="modal-tutor-title">Prediction models</h3>
		</div>
		<div slot="body">
			<p class="modal-tutor-p">Each prediction model gives you different insight about how your products might perform.
				Don't worry you can always update or change your selection later.</p>
			<img class="modal-tutor-img" src="/dist/images/screen3-tutor.jpg" alt="screen">
		</div>
		<div slot="footer" class="d-flex">
			<button v-if="nameButton" class="btn-blue btn-lg mb-sm-3 mx-auto" @click="changeStep">{{nameButton}}</button>
			<button v-else class="btn-blue btn-lg mb-sm-3 mx-auto" @click="closeModal">Got it</button>
			<button class="btn-white btn-lg mb-sm-3 border-0 modal-btn-skip" @click="skipTutorial">Skip tutorial</button>
		</div>
	</modal>

</template>

<script>
	import Modal from '../../../components/Modal.vue'
	export default {
		components: {
			Modal
		},
		props: ['nameButton'],
		data(){
			return {
			}
		},
		methods: {
			changeStep() {
				this.$emit('change-step', 4)
			},
			skipTutorial() {
				this.$emit('close');
				let nameVisitedPage = `wasVisited${this.$store.getters.getId}`;
				localStorage.setItem(nameVisitedPage, 0);
			},
			closeModal() {
				this.$emit('close');
			}
		}
	}
</script>

