<template>
	<modal @close="closeModal">
		<div slot="header">
			<h3 class="modal-tutor-title">We're done!</h3>
		</div>
		<div slot="body">
			<p class="modal-tutor-p">You can always find this tutorial in the menu.</p>
			<p class="modal-tutor-p">Happy using!</p>
			<img class="modal-tutor-img" src="/dist/images/screen5-tutor.jpg" alt="screen">
		</div>
		<div slot="footer" class="d-flex">
			<button class="btn-blue btn-lg mb-sm-3 mx-auto" @click="closeModal">Got it</button>
		</div>
	</modal>

</template>

<script>
	import Modal from '../../../components/Modal.vue'
	export default {
		components: {
			Modal
		},
		data(){
			return {
			}
		},
		methods: {
			closeModal() {
				this.$emit('close');
			}
		}
	}
</script>

