<template>
	<div>
		<modal @close="closeModal" class="modal-instruction">
			<div slot="header">
				<h3 class="header-modal">How to prepare a CSV file for Predictly</h3>
				<h6 class="sub-title">Select a research tool</h6>
			</div>

			<div slot="body">
				<div class="instruction">
					<div class="instruction-item" @click="showModalJungleScout = true">
						<div class="logo_junglescout" />
					</div>
					<div class="instruction-item" @click="showModalHelium = true">
						<div class="logo_helium" />
					</div>
					<div class="instruction-item" @click="showModalAMZ = true">
						<div class="logo_amz" />
					</div>
					<div class="instruction-item" @click="showModalUnicornSmasher = true">
						<div class="logo_unicorn" />
					</div>
					<div class="instruction-item" @click="showModalViral = true">
						<div class="logo-viral" />
					</div>

				</div>
			</div>
			<div slot="footer"></div>
		</modal>
		<modal-jungle-scout v-if="showModalJungleScout" @close="showModalJungleScout = false" />
		<modal-helium v-if="showModalHelium" @close="showModalHelium = false" />
		<modal-a-m-z v-if="showModalAMZ" @close="showModalAMZ = false" />
		<modal-unicorn-smasher v-if="showModalUnicornSmasher" @close="showModalUnicornSmasher = false"/>
		<modal-viral v-if="showModalViral" @close="showModalViral = false" />
	</div>

</template>

<script>
    import Modal from '../../../components/Modal.vue'
	import ModalJungleScout from "./instruction/ModalJungleScout";
	import ModalHelium from "./instruction/ModalHelium";
	import ModalAMZ from "./instruction/ModalAMZ";
	import ModalUnicornSmasher from "./instruction/ModalUnicornSmasher";
	import ModalViral from "./instruction/ModalViral";
    export default {
        components: {
			ModalViral,
			ModalUnicornSmasher,
			ModalAMZ,
			ModalHelium,
            Modal,
			ModalJungleScout,
        },
		data(){
        	return {
				showModalJungleScout: false,
				showModalHelium: false,
				showModalAMZ: false,
				showModalUnicornSmasher: false,
				showModalViral: false
			}
		},
        methods: {
            closeModal() {
                this.$emit('close');
            }
        }
    }
</script>
<style scoped lang="scss">
    @import '~@/_variables.scss';

    .header-modal {
        font-size: 1.25rem;
        color: $dark-blue;
        text-align: center;
    }

	.sub-title {
		color: $dark-blue;
		text-align: center;
	}
	.instruction {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	.instruction-item {
		flex: 0 0 calc(16.66% - 20px);
		margin: 10px;
		justify-self: center;
		cursor: pointer;
		border: 1px solid $light-purple;
		border-radius: 20px;
		padding: 34px 22px;

		& > div {
			height: 70px;
			width: 150px;
			background-size: contain;
			background-position: center;
			background-repeat: no-repeat;
		}

		.logo_junglescout {
			background-image: url("/dist/images/logo-jungle-scout.png");
		}

		.logo_helium {
			background-image: url("/dist/images/logo_helium_gray.svg");
		}

		.logo_amz {
			background-image: url("/dist/images/logo_amz_gray.svg");
		}

		.logo_unicorn {
			background-image: url("/dist/images/logo-unicorn.png");
		}

		.logo-viral {
			background-image: url("/dist/images/logo_viral_gray.svg");
		}
	}
	.instruction-item:hover {
		box-shadow: 0px 0px 10px rgba(82, 96, 196, 0.2);

		.logo_junglescout {
			background-image: url('/dist/images/logo-jungle-scout-hover-color.png');
		}
		.logo_helium {
			background-image: url("/dist/images/logo_helium.svg");
		}

		.logo_amz {
			background-image: url("/dist/images/logo_amz.svg");
		}
		.logo_unicorn {
			background-image: url("/dist/images/logo_unicorn-hover.svg");
		}
		.logo-viral {
			background-image: url("/dist/images/logo_viral.svg");
		}
	}
    .instruction {
        width: 670px;
    }
    p {
        white-space: pre-line;
        max-width: 280px;
    }
</style>
