<template>
    <modal @close="closeModal" class="modal-create-product">
        <div slot="header" v-if="type == 'create'">
            <h3 class="header-modal" v-if="type == 'create'">Enter Your Product Data</h3>
            <p class="text-center color-gray-blue">You can use averages or estimates from your research</p>
        </div>

        <h3 slot="header" class="header-modal" v-if="type == 'edit'">Edit the product data</h3>
        <div slot="body">
            <div class="d-flex justify-content-center">
                <p class="notification-error" v-if="$v.form.$error">Please complete all necessary fields</p>
                <p class="notification-error" v-if="errorMessages.length > 0">{{errorMessages}}</p>
            </div>
            <form>
                <div class="mt-5" :class="{ error: $v.form.name.$error}">
                    <input type="text" class="base-input name-input" v-model="form.name">
                    <label class="base-label name-label form-text">Enter Your Product Name</label>
                </div>

                <div class="form-row justify-content-between mt-5">
                    <div class="averages font-weight-bold col-md-2">Your Product Details:</div>
                    <div class="averages-group col-md-2" :class="{ error: $v.form.cost.$error}">
                        <span class="dollar-icon">$</span>
                        <input type="number" class="base-input number-input" min="0" v-model.number="form.cost">
                        <label class="base-label form-label form-text">how much will you sell this for?</label>
                    </div>
                    <div class="averages-group col-md-2" :class="{ error: $v.form.monthlySales.$error}">
                        <input type="number" class="base-input number-input" min="0" v-model.number="form.monthlySales">
                        <label class="base-label form-label form-text">how many sales per month?</label>
                    </div>
                    <div class="averages-group col-md-2">
                        <input type="number" class="base-input number-input" min="0" v-model.number="form.salesRank">
                        <label class="base-label form-label form-text">est. sales rank <br> (optional)</label>
                    </div>
                    <div class="averages-group col-md-2">
                        <input type="number" class="base-input number-input" min="0" v-model.number="form.reviews">
                        <label class="base-label form-label form-text">est. average reviews</label>
                    </div>
                </div>
                <template v-if="type == 'create'">
                    <transition name="fade">
                        <div class="form-row justify-content-start" v-if="moreData">
                            <div class="averages-group col-md-2">
                                <span class="dollar-icon">$</span>
                                <input type="number" class="base-input number-input" min="0" v-model.number="form.price">
                                <label class="base-label form-label form-text">product price</label>
                            </div>
                            <div class="averages-group col-md-2">
                                <input type="number" class="base-input number-input" min="0" v-model.number="form.minimumOrder">
                                <label class="base-label form-label form-text">minimum order<br> quantity</label>
                            </div>
                            <div class="averages-group col-md-2">
                                <input type="number" class="base-input number-input" min="0" v-model.number="form.somethingElse">
                                <label class="base-label form-label form-text">something else</label>
                            </div>
                        </div>
                    </transition>
                </template>
            </form>
        </div>
        <div slot="footer" class="d-flex flex-column flex-sm-row justify-content-sm-between">
            <template v-if="type == 'create'">
<!--                <button class="btn-white btn-lg mb-sm-3" @click="moreData = !moreData">Provide more data</button>-->
                <button class="btn-light-blue mr-2 btn-lg mb-sm-3" @click="saveData(true)">Save and add one more</button>
                <button class="btn-blue btn-lg mb-sm-3" @click="saveData(false)">Save and close</button>
            </template>
            <template v-if="type == 'edit'">
                <button class="btn-blue btn-lg mb-sm-3 mx-auto" @click="editData">Save and close</button>
            </template>
        </div>

    </modal>
</template>

<script>
    import Modal from '../../../components/Modal.vue'
    import {required, minValue} from 'vuelidate/lib/validators'
    import {PRODUCT_STORE, PRODUCT_UPDATE} from "../../../store/actions/product";
    import {SESSION_ACTIVE, SESSION_ATTACH_PRODUCT, SESSION_SELECT_PRODUCT} from "../../../store/actions/session";

    export default {
        components: {
            Modal
        },
        props: {
            type: String,
            product: Object,
            attach: Boolean,
            addedProductToSelect: Boolean
        },
        data() {
            return {
                moreData: false,
                errorMessages: [],
                form: {
                    name: '',
                    cost: null,
                    monthlySales: null,
                    salesRank: null,
                    reviews: null,
                    // price: null,
                    // minimumOrder: null,
                    // somethingElse: null

                }
            }
        },
        validations: {
            form: {
                name: {
                    required
                },
                cost: {
                    required,
                    minValue: minValue(0)
                },
                monthlySales: {
                    required,
                    minValue: minValue(0)
                },
                salesRank: {
                    minValue: minValue(0)
                },
                reviews: {
                    minValue: minValue(0)
                },
                price: {
                    minValue: minValue(0)
                },
                minimumOrder: {
                    minValue: minValue(0)
                },
                somethingElse: {
                    minValue: minValue(0)
                },
            }
        },
        computed: {
            getLastSessionProducts() {
                return this.$store.getters.getLastSessionProducts;
            },
        },
        methods: {
            closeModal() {
                this.$emit('close');
            },
            async saveData(addMore) {
                await this.$store.dispatch(SESSION_ACTIVE);
                this.$v.form.$touch();
                let isValid = !this.$v.form.$invalid;
                let sessionId = this.$store.getters.getSessionId;
                if (isValid) {
                    let form = this.form;
                    if (addMore) {
                        this.$store.dispatch(PRODUCT_STORE, form).then((data) => {
							this.$emit('new-product-for-tutorial')
                            let product = data.result;
                            if(this.$route.name === 'products-comparison') {
                                if(this.getLastSessionProducts.length <= 4){
                                    this.$store.commit(SESSION_SELECT_PRODUCT, [product]);
                                    this.$emit('new-product')
                                } else {
                                    this.$swal("You can't add more than 5 products to compare");
                                }
                            }else{
                                this.$store.dispatch(SESSION_ATTACH_PRODUCT, {product, sessionId}).catch(error => {
                                    let errorMessage = error[0] ? error[0]: error;
                                    this.$swal(errorMessage,
                                        '',
                                        'error',
                                    )
                                });

                            }
                            this.form.name = '';
                            this.form.cost = null;
                            this.form.monthlySales = null;
                            this.form.salesRank = null;
                            this.form.reviews = null;
                            this.form.price = null;
                            this.form.minimumOrder = null;
                            this.form.somethingElse = null;
                            this.$v.form.$reset();
                        }).catch(error => {
                            this.errorMessages = error[0] ? error[0]: error;
                        });
                    } else {
                        this.$store.dispatch(PRODUCT_STORE, form).then((data) => {
							this.$emit('new-product-for-tutorial')
                            let product = data.result;
                            if(this.$route.name === 'products-comparison') {
                                if(this.getLastSessionProducts.length <= 4){
                                    this.$store.commit(SESSION_SELECT_PRODUCT, [product]);
                                    this.$emit('new-product')
                                } else {
                                    this.$swal("You can't add more than 5 products to compare");
                                }
                            }else{
                                this.$store.dispatch(SESSION_ATTACH_PRODUCT, {product, sessionId}).catch(error => {
                                    let errorMessage = error[0] ? error[0]: error;
                                    this.$swal(errorMessage,
                                        '',
                                        'error',
                                    )
                                });

                            }
                            this.$emit('close');
                        }).catch(error => {
                            this.errorMessages = error[0] ? error[0]: error;
                        });
                    }

                }
            },
            editData(){
                let form = this.form;
                let id = this.product.id;
                this.$store.dispatch(PRODUCT_UPDATE, {id, form}).then((data) => {
                    this.$emit('close');
                }).catch(error => {
                    console.log(error)
                });
            }

        },
        created() {
            if(this.product){
                const clone = { ...this.product };
                this.form = clone
            }

        }
    }
</script>

<style scoped lang="scss">
    @import '~@/_variables.scss';

    .header-modal {
        font-size: 1.25rem;
        color: $dark-blue;
        text-align: center;
    }

    .name-input {
        width: 100%;
    }

    .name-label {
        font-size: 0.75rem;
        color: $gray-blue;
        text-align: center;
    }

    .averages {
        font-size: 0.8rem;
        color: $gray-blue;
    }

    .dollar-icon {
        position: absolute;
        top: 0;
        left: 5px;
        font-size: 1rem;
        color: $gray-blue;
    }

    .averages-group {
        label {
            font-size: 0.75rem;
            color: $gray-blue;
            text-align: center;
        }
    }

    .fade-enter-active,
    .fade-leave-active {
        transition: all 0.5s;
        max-height: 100px;
    }

    .fade-enter,
    .fade-leave-to {
        opacity: 0;
        max-height: 0;
    }

    @media (max-width: 766px) {
        .averages {
            text-align: center;
            margin: 0 auto;
        }
        .number-input {
            display: block;
            margin: 0 auto;
            width: 100%;
        }

    }
</style>
