<template>
    <modal @close="closeModal">
        <div slot="header" class="d-flex">
        </div>
        <div slot="body">
                <div>
                    <span class="dollar-icon" v-if="label === 'Product cost'">$</span>
                    <input type="number" class="base-input number-input" min="0" v-model.number="input" @keyup.enter.stop.prevent="apply">
                    <label class="base-label form-label form-text">{{label}}</label>
                </div>
        </div>
        <div slot="footer" class="d-flex justify-content-center">
            <button class="btn-blue btn-md" @click="apply">Apply</button>
        </div>
    </modal>
</template>

<script>
    import Modal from '../../../components/Modal.vue'
    import {SESSION_TUNE} from "../../../store/actions/session";

    export default {
        props: {
            value: Number,
            label: String,
            product: Object
        },
        data() {
            return {
                input: null
            }
        },
        components: {
            Modal
        },
        computed: {
            getLastSession() {
                return this.$store.getters.getLastSession;
            },
            getSessionId() {
                return this.$store.getters.getSessionId;
            },
            getLastSessionProducts() {
                return this.$store.getters.getLastSessionProducts;
            },
            getSessionResults(){
                return this.$store.getters.getSessionResults;
            }
        },
        methods: {
            closeModal() {
                this.$emit('close');
            },
            apply() {
                this.closeModal();
                let currentProductId = this.product.id;
                let sessionId = this.getLastSession.id;
                console.log(1)
                let factors = this.getLastSessionProducts.map((product) => {
                    let input = this.label === 'Product cost' ? { productCost : this.input, minimumOrderQuantity:  this.getSessionResults.find(item => item.product.id === product.id).minimumOrderQuantity} : {minimumOrderQuantity: this.input, productCost:this.getSessionResults.find(item => item.product.id === product.id).cost};
                    const changeProduct = (product.id === currentProductId) ? input :
                        {productCost:  this.getSessionResults.find(item => item.product.id === product.id).cost,
                        minimumOrderQuantity :  this.getSessionResults.find(item => item.product.id === product.id).minimumOrderQuantity
                    };
                    return {
                        productId: product.id,
                        salesPriceAssumption: product.factor.salesPriceAssumption,
                        salesPriceIncrease: product.factor.salesPriceIncrease,
                        monthlySales: product.factor.monthlySales,
                        salesGrowsRate: product.factor.salesGrowth_Rate,
                        ...changeProduct
                    }
                });
                this.$store.dispatch(SESSION_TUNE, {sessionId, factors})
            }
        },
        created() {
            const clone = this.value;
            this.input = clone
        }
    }
</script>
<style scoped lang="scss">
    @import '~@/_variables.scss';

    .header-modal {
        font-size: 1.25rem;
        color: $dark-blue;
        text-align: center;
    }

    .dollar-icon {
        position: absolute;
        top: 24px;
        left: 5px;
        font-size: 1rem;
        color: $gray-blue;
    }
</style>
