<template>
    <modal @close="closeModal" class="modal-table">
        <img :src="product.avatar ? product.avatar : product.product.avatar"
             alt="ing produt"
             class="image-modal"
             slot="image">
        <div slot="header" class="d-flex justify-content-center">
            <h3 class="header-modal">Cash conversion cycle sensitivity</h3>
        </div>
        <div slot="body">
            <div class="d-flex">
                <div class="sales-price">Sales price ($)</div>
                <div>
                    <p class="monthly-sales">Monthly sales (units)</p>
                    <table>

                        <tr v-for="(items, key) in tableData" :key="key">

                            <td v-for="(item,index) in items" :key="index"
                                :class="[item.class, {
                                 'td-green' : item.item < 2 && item.class === 'td-content',
                                 'td-white': key === 5,
                                 'td-gray': item.item < 4 && item.item > 2 && item.class === 'td-content',
                                 'td-yellow': item.item < 6 && item.item >= 4 && item.class === 'td-content',
                                 'td-red': item.item >= 6 && item.class === 'td-content',
                                }]"
                            >
                                {{ item.item}}
                                <span class="td-comment" v-if="item.class === 'td-content'">{{`investment return back in ${item.item} months`}}</span>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div slot="footer">
            <p class="footer-text-modal">The table shows what happens with cash conversion cycle (months) if sale price
                and sales go up or down.</p>
        </div>
    </modal>
</template>

<script>
    import Modal from '../../../components/Modal.vue'

    export default {
        props: {
            product: Object
        },
        components: {
            Modal
        },
        computed: {
            tableData() {
                const result = [
                    ['', ''],
                    ['', '']
                ];
                this.product.cashConversionCycle.map((column, index) => {
                    let firstColumn = index === 0;
                    let columnItems = [];
                    column.map((col, i) => {
                        if (Array.isArray(col)) {
                            col.map(item => {
                                if (firstColumn) {
                                    const column = item[0] > 0 ? `+${item[0]}%` : `${item[0]}%`;
                                    result[0].push({item: (item[0] === 0) ? item[0] :  column});
                                    result[1].push({item: item[1], class: 'td-header'});
                                }
                                columnItems.push({item: item[item.length - 1], class: 'td-content'});

                            })
                        } else {
                            if (i === 1) {
                                columnItems.push({item: col, class: 'td-header'})
                            } else {
                                let column = col > 0 ? `+${col}%` : `${col}%`;
                                columnItems.push({item: col === 0 ? col : column});
                            }
                        }
                    });
                    result.push(columnItems);
                })
                return result;
            }
        },
        methods: {
            closeModal() {
                this.$emit('close');
            }
        }
    }
</script>
<style scoped lang="scss">
    @import '~@/_variables.scss';

    .header-modal {
        font-size: 1.25rem;
        color: $dark-blue;
        text-align: center;
    }

    .image-modal {
        width: 50px;
        position: absolute;
        top: 15px;
        left: 18px;
        margin-right: auto;
        display: block;
        border: 1px solid $light-gray;
        border-radius: 8px;
    }

    .monthly-sales, .sales-price {
        font-size: 0.75rem;
        font-weight: 600;
        color: $gray-blue;
        text-decoration: none solid rgb(97, 103, 135);
        text-align: center;
    }

    .sales-price {
        writing-mode: vertical-rl;
        transform: rotate(180deg);
    }

    .footer-text-modal {
        font-size: 0.875rem;
        color: $dark-blue;
        text-decoration: none solid rgb(55, 62, 89);
    }

    .td-header {
        background-color: $purple;
        color: $white;
        width: 100px;
    }

    table, th, td {
        padding: 4px 14px;
        border: 1px solid $white;
    }

    .td-content {
        position: relative;
        padding: 0 8px 5px;
        border: 1px solid $white;
        background-color: $light-gray;
        color: $dark-blue;
        text-decoration: none solid rgb(55, 62, 89);
        text-align: center;
        cursor: pointer;
        opacity: 0.8;
    }

    .td-content .td-comment {
        visibility: hidden;
        width: 256px;
        background-color: $dark-blue;
        color: $white;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        position: absolute;
        z-index: 1;
        bottom: 125%;
        left: -23%;
        margin-left: -60px;
        opacity: 0;
        transition: opacity 0.3s;
    }

    .td-content:hover {
        opacity: 1;
    }

    .td-content .td-comment::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: #555 transparent transparent transparent;
    }

    .td-content:hover .td-comment {
        visibility: visible;
        opacity: 1;
    }

    .td-white:nth-child(6) {
        background-color: $white !important;
    }

    .td-green {
        background-color: rgba(114,196,172,0.3) !important;
    }
	.td-yellow {
		background-color: rgba(245,224,142,0.5) !important;
	}
	.td-red {
		background-color: rgba(242,113,113,0.3) !important;
	}
</style>
