<template>
    <modal @close="closeModal">
        <h3 slot="header" class="header-modal">Select Your Products</h3>
        <div slot="body">
            <table-products :products="getProducts" :class="tableWidth">
                <template slot="actions" slot-scope="slotProps">
                    <td>
                        <div @click="toggleIsClicked($event, slotProps.product)">
                            <icon name="ico-tick"
                                  size="lg"
                                  class="color-light-gray"
                                  :class="selectedItem(slotProps.product) ? 'color-over-dark-blue' : null"/>
                        </div>
                    </td>
                </template>
            </table-products>
        </div>
        <div slot="footer" class="d-flex flex-column flex-sm-row justify-content-sm-between">
            <button class="btn-blue btn-lg mb-sm-3 mx-auto" @click="addSelected" v-if="selectedProducts.length >= 1">Add
                selected
            </button>
        </div>
    </modal>
</template>

<script>
    import Modal from '../../../components/Modal.vue'
    import TableProducts from '../../../components/TableProducts.vue'
    import {PRODUCT_GET} from "../../../store/actions/product";
    import {
        SESSION_ACTIVE,
        SESSION_ATTACH_PRODUCT,
        SESSION_LAST,
        SESSION_SELECT_PRODUCT
    } from "../../../store/actions/session";
    import {SESSION_ATTACH_MARKETPLACE} from "../../../store/actions/marketplace";
    import {PREDICTION_ACTIVE, SESSION_ATTACH_PREDICTION} from "../../../store/actions/prediction";

    export default {
        components: {
            Modal,
            TableProducts
        },
        data() {
            return {
                opacity: 1,
                backgroungImage: `url(${'/dist/icons/ico-tick.svg'})`,
                selectedProducts: []
            }
        },
        props: {
            addedProductToSelect: Boolean
        },
        computed: {
            getProducts() {
                let products = this.$store.getters.getProducts;
                if(this.$route.name === 'products-comparison') {
                    return products.filter(item => this.getLastSessionProducts.every(item2 => item2.id != item.id));
                } else {
                    return products.filter(item => this.getSessionProducts.every(item2 => item2.id != item.id));
                }

            },
            getSessionProducts() {
                return this.$store.getters.getSessionProducts
            },
            getLastSessionProducts() {
                return this.$store.getters.getLastSessionProducts;
            },
            tableWidth() {
                return 'table-width';
            },
            getLastMarketplace() {
                return this.$store.getters.getLastMarketplace;
            },
            getLastPrediction() {
                return this.$store.getters.getLastPrediction;
            },
            getLastSession() {
                return this.$store.getters.getLastSession;
            }
        },
        methods: {
            closeModal() {
                this.$emit('close');
            },
            toggleIsClicked(event, product) {
                this.selectedProducts.push(product);

            },
            selectedItem(product) {

                const found = this.selectedProducts.some(item => item.id === product.id);
                return found;
            },
            async addSelected() {
                // var sessionId = null;
                // if (this.$route.name === 'products-comparison')
                // sessionId = this.getLastSession.id
                // else
                // sessionId = this.$store.getters.getSessionId;

                let countProducts = this.selectedProducts.length + this.getLastSessionProducts.length
                if(this.$route.name === 'products-comparison') {
                    this.$store.commit(SESSION_SELECT_PRODUCT, this.selectedProducts);
                    this.$emit('new-product')

                }else {
                    let sessionId = this.$store.getters.getSessionId;
                    await this.selectedProducts.map(product => {
                        console.log(product, sessionId);
                        this.$store.dispatch(SESSION_ATTACH_PRODUCT, {product, sessionId}).then(res => {
                            console.log("res", res)
                        }).catch(error => {
                            let errorMessage = error[0] ? error[0]: error;
                            this.$swal(errorMessage.join(', '),
                                '',
                                'error',
                            )
                        });
                    });
                }
                this.closeModal();
            }
        },
        async created() {
            // await this.$store.dispatch(SESSION_LAST);
            await this.$store.dispatch(PRODUCT_GET);
        }
    }
</script>
<style scoped lang="scss">
    @import '~@/_variables.scss';

    .header-modal {
        font-size: 1.25rem;
        color: $dark-blue;
        text-align: center;
    }

    .ico-add {
        cursor: pointer;
        height: 44px;
        width: 44px;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url('/dist/images/icons/ico-tick.svg');
        opacity: 0.5;
    }

    .table-width {
        min-width: 980px;
    }

</style>
