<template>
    <modal @close="closeModal" class="modal-create">
        <h3 slot="header" class="header-modal">New {{type}} calculation model</h3>
        <div slot="body">
            <form>
                <div class="mt-5 d-flex flex-column align-items-center"  :class="{ error: $v.form.name.$error}">
                    <input type="text" class="base-input name-input" v-model="form.name">
                    <label class="base-label form-text">name</label>
                </div>
                <div class="mt-5 d-flex flex-column align-items-center">
                    <h6 class="title-factors color-gray-blue">Factors</h6>
                </div>
                <div class="form-row justify-content-around mt-4">
                    <div class="factors-group col-md-3" :class="{ error: $v.form.fee.$error}">
                        <input type="number" class="base-input number-input" v-model="form.fee">
                        <label class="base-label form-label form-text">fee</label>
                    </div>
<!--                    <div class="factors-group col-md-3">-->
<!--                        <input type="number" class="base-input number-input" v-model="form.factor_name1">-->
<!--                        <label class="base-label form-label form-text">factor name</label>-->
<!--                    </div>-->
<!--                    <div class="factors-group col-md-3">-->
<!--                        <input type="number" class="base-input number-input" v-model="form.factor_name2">-->
<!--                        <label class="base-label form-label form-text">factor name</label>-->
<!--                    </div>-->
                </div>
            </form>
        </div>
        <div slot="footer">
            <div class="d-flex flex-column flex-sm-row justify-content-sm-between align-items-sm-start">
                <button class="btn-over-light-blue btn-lg mb-sm-3" @click="sendForm('testing')">Send for testing</button>
                <div class="button-wrapper">
                    <button class="btn-over-light-blue btn-lg mb-sm-3" @click="sendForm('primary')">Make it primary</button>
                    <p class="text-button color-dark-blue">current primary model will be placed to drafts</p>
                </div>

            </div>
        </div>

    </modal>
</template>

<script>
    import Modal from '../../../components/Modal.vue'
    import {required, minLength, between} from 'vuelidate/lib/validators'
    import {STORE_MARKETPLACE} from "../../../store/actions/admin/adminMarketplace";

    export default {
        props: {
            type: String
        },
        components: {
            Modal
        },
        data() {
            return {
                form: {
                    name: '',
                    fee: null,
                    // factor_name1: 2,
                    // factor_name2: 2
                }
            }
        },
        validations: {
            form: {
                name: {
                    required,
                    minLength: minLength(3)
                },
                fee: {
                    required,
                    between: between(1, 100)
                }
            }
        },
        methods: {
            closeModal() {
                this.$emit('close');
            },
            sendForm(category) {
                this.$v.form.$touch();
                let isValid = !this.$v.form.$invalid;
                if (isValid) {
                    if(this.type === 'marketplace') {
                        let data = {
                            ...this.form,
                            category: category
                        };
                        this.$store.dispatch(STORE_MARKETPLACE, data).then(()=>{
                            this.closeModal();
                            this.$swal('Marketplace created');
                        });
                    }

                }

            }
        }
    }
</script>
<style scoped lang="scss">
    @import '~@/_variables.scss';

    .header-modal {
        font-size: 1.25rem;
        color: $dark-blue;
        text-align: center;
    }

    .name-input {
        width: 400px;
    }
    .factors {
        font-size: 0.8rem;
        color: $gray-blue;
    }
    .title-factors {
        font-size: 0.75rem;
        text-align: center;
        font-weight: 600;
    }
    .factors-group {
        label {
            font-size: 0.75rem;
            color: $gray-blue;
            text-align: center;
        }
    }
    .text-button {
        font-size: 0.75rem;
        text-align: center;
    }
    .button-wrapper {
        flex-basis: 178px;
    }

    @media (max-width: 766px) {
        .factors {
            text-align: center;
            margin: 0 auto;
        }
        .number-input {
            display: block;
            margin: 0 auto;
            width: 100%;
        }

    }
</style>
