<template>
    <modal @close="closeModal">
        <div slot="body">
            <form>
                <div class="mt-5 d-flex flex-column align-items-center" :class="{ error: $v.form.name.$error}">
                    <input type="email" class="base-input account-input" v-model="form.name">
                    <label class="base-label form-text">name</label>
                </div>
            </form>
        </div>
        <div slot="footer" class="d-flex flex-column flex-sm-row justify-content-sm-between">
            <button class="btn-blue btn-lg mb-sm-3 mx-auto" @click="editData">Save changes</button>
        </div>
    </modal>
</template>

<script>
    import Modal from '../../../components/Modal.vue'
    import {required} from 'vuelidate/lib/validators'
    export default {
        components: {
            Modal
        },
        data() {
            return {
                form: {
                    name: ''
                }
            }
        },
        validations: {
            form: {
                name: {
                    required
                },
            }
        },
        methods: {
            closeModal() {
                this.$emit('close');
            },
            editData() {
                this.$v.form.$touch();
                let isValid = !this.$v.form.$invalid;
                if (isValid) {
                    //post data
                }
            }
        }
    }
</script>
<style scoped lang="scss">
    @import '~@/_variables.scss';

    .account-input {
        width: 399px;
    }
</style>
