<template>
    <section class="container">
        <template>
            <div class="d-flex main-comparison">
                <template v-if="isLoadingStatus === 'loading'">
                    <div class="d-flex justify-content-center align-items-center position-fixed fixed-top loader-calculating">
                        <Loader/>
                        <div>Calculating ...</div>
                    </div>
                </template>
                <div class="d-flex justify-content-between">
                    <div class="settings mr-3">
                        <div class="d-flex">
                            <div class="setting-item setting-projection" @click="showProjectionMenu = !showProjectionMenu"
                                 v-click-outside="hideProjectionMenu">
                                <div>
                                    <icon name="ico-prediction-type" size="md"/>
                                    Prediction Type
                                </div>
                                <div class="projection-list mt-3" v-if="showProjectionMenu">
                                    <div class="pt-2 pb-2">
                                        <div class="prejection-item" v-for="prediction in getPredictions"
                                             @click="setActive(prediction)" :key="prediction.id">{{prediction.name}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="setting-item setting-profit-timeline">
                            <div v-if="showProfitTimeline" @click="toggleProfitTimeLine">
                                <icon name="ico-timeline" size="md"/>
                                See Graph
                            </div>
                            <div v-if="showEssentials" @click="toggleProfitTimeLine">
                                <icon name="ico-essentials" size="md"/>
                                Essentials
                            </div>
                        </div>
                        <div class="setting-item setting-factor" @click="showFactors = !showFactors">
                            <div v-if="!showFactors">
                                <icon name="ico-factors" size="md"/>
                                Edit Details
                            </div>
                            <div v-else>
                                <icon name="ico-sm-cross-hover" size="md"/>
                                Hide Details
                            </div>
                        </div>
                    </div>
                    <div class="btn-apply">
                        <button class="btn-blue btn-sm" v-if="showButton || getShowApplyButton" @click="calculate">
                            Apply
                        </button>
                    </div>
                </div>
                
                <!-- Product list -->
                <div class="products d-flex flex-column">
                    <div class="d-flex justify-content-center">
                        <template v-for="(product, index) in getLastSessionProducts">
                            <div :key="product.id">
                                <product :product="product" @active="setActiveProduct(index)" @detach="detachProduct" :isActive="activeProduct==index"></product>
                                <transition name="custom-slide">
                                    <div class="d-flex flex-column mb-4" v-if="showFactors">
                                        <div class="factor-item factor-sales-price">
                                            <span class="position-relative factor-number" @click="showSlider($event)"> ${{product.factor.salesPriceAssumption}}</span>
                                            <vue-slider v-model="product.factor.salesPriceAssumption"
                                                        class="d-none custom-vue-slider" :min="1"></vue-slider>
                                        </div>
                                        <transition name="slide">
                                            <div class="factor-item factor-sale-price-increase" v-if="showDetailsInfo">
                                        <span class="position-relative factor-number" @click="showSlider($event)">{{product.factor.salesPriceIncrease}} % <span
                                            class="span-small">/mo</span></span>
                                                <vue-slider v-model="product.factor.salesPriceIncrease"
                                                            class="d-none custom-vue-slider"></vue-slider>
                                            </div>
                                        </transition>
                                        <div class="line factor-line-icon">
                                            <div class="factor-name">
                                                <div @click="showDetailsInfo = !showDetailsInfo" v-if="showDetailsInfo"
                                                    class="icon-factor">
                                                    <icon name="ico-sm-deduct" size="sm" class="ico-plus"/>
                                                </div>
                                                <div @click="showDetailsInfo = !showDetailsInfo" v-else
                                                    class="icon-factor">
                                                    <icon name="ico-plus" size="sm" class="ico-plus"/>
                                                </div>
                                            </div>
                                        </div>
                                            <div class="factor-item factor-monthly-sales">
                                                <span class="position-relative factor-number" @click="showSlider($event)">{{product.factor.monthlySales}}</span>
                                                <vue-slider v-model="product.factor.monthlySales"
                                                            class="d-none custom-vue-slider" :min="1"></vue-slider>
                                            </div>
                                        <transition name="slide">
                                            <div class="factor-item factor-sales-increase" v-if="showDetailsInfo">
                                            <span class="position-relative factor-number" @click="showSlider($event)">{{product.factor.salesGrowth_Rate}} % <span
                                                class="span-small">/mo</span></span>
                                                <vue-slider v-model="product.factor.salesGrowth_Rate"
                                                            class="d-none custom-vue-slider"></vue-slider>
                                            </div>
                                        </transition>
                                    </div>
                                </transition>
                            </div>
                        </template>
                        <div class="product-add-wrapper">
                            <add-product @clicked="clickButton" @applyFile="applyFileHandler" :applyFile="applyFileBool" @new-product="calculate"/>
                            <div id="dropzonePreview" class="dz-default dz-message mt-3">
                                <button class="btn-light-blue btn-md" v-if="showButtonApplyFile" @click="applyFile">
                                    Apply file
                                </button>
                            </div>
                            <div class="d-flex justify-content-center btn-tune" v-if="showFactors">
                                <button class="btn-blue btn-sm" @click="applyWithTune">Apply</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <information-block :calculateResult="sessionResults[activeProduct]"></information-block>

            <transition-block :chartData="chartData" 
                :chartOptions="chartOptions"
                :showProfitTimeline="showProfitTimeline"
                :calculateResult="sessionResults">
            </transition-block>

            <other-details-table :calculateResult="sessionResults"></other-details-table>
        </template>

		<modal-predictions v-if="showModalPredictions" @close="closeModalPredictions"/>
		<modal-where-is  v-if="showModalWhereIs" @close="showModalWhereIs = false"/>
    </section>
</template>

<script>
    import VueSlider from 'vue-slider-component'
    import 'vue-slider-component/theme/antd.css'
    import AddProduct from "../../components/AddProduct";
    import InformationBlock from "./components/InformationBlock";
    import TransitionBlock from "./components/TransitionBlock";
    import OtherDetailsTable from "./components/OtherDetailsTable";
    import Product from "../../components/Product";
    import {
        SESSION_DELETE_LAST_PRODUCT,
        SESSION_CALCULATE,
        SESSION_LAST,
        SESSION_SELECT_PRODUCT,
        SESSION_ACTIVE, SHOW_APPLY_BUTTON, SESSION_TUNE
    } from "../../../../store/actions/session";
    import {PREDICTION_ACTIVE, PREDICTIONS_GET, SESSION_ATTACH_PREDICTION} from "../../../../store/actions/prediction";
    import {SESSION_ATTACH_MARKETPLACE} from "../../../../store/actions/marketplace";
    import {SESSION_ATTACH_PRODUCT} from "../../../../store/actions/session";
    import numeral from "numeral";
    import Loader from "../../../../components/Loader";
	import ModalPredictions from "../../../../components/modals/Tutorial/ModalPredictions";
	import ModalWhereIs from "../../../../components/modals/Tutorial/ModalWhereIs";

    export default {
        components: {
			ModalWhereIs,
			ModalPredictions,
            AddProduct,
            InformationBlock,
            TransitionBlock,
            OtherDetailsTable,
            Product,
            Loader,
            VueSlider
        },
        data() {
            return {
                factors: [],
                showButtonApplyFile: false,
                applyFileBool: false,
                showButton: false,
                showProjectionMenu: false,
                showProfitTimeline: true,
                showEssentials: false,
                showDetailsInfo: false,
                showFactors: false,
				showModalPredictions: false,
				showModalWhereIs: false,
                sessionResults: [],
                lastProducts: [],
                chartData: {
                    labels: ['Mon 1', 'Mon 2', 'Mon 3', 'Mon 4', 'Mon 5', 'Mon 6', 'Mon 7', 'Mon 8', 'Mon 9', 'Mon 10', 'Mon 11', 'Mon 12'],
                    datasets: [],
                },
                chartOptions: {
                    responsive: true,
                    maintainAspectRatio: false,
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true,
                                callback: value => numeral(value).format('$0,0')
                            },
                            gridLines: {
                                display: false
                            }
                        }],
                        xAxes: [{
                            ticks: {
                                beginAtZero: true,
                            }
                        }],
                    },
                    legend: {
                        position: "bottom",
                        align: "center",

                    },
                    elements: {
                        point: {
                            radius: this.customRadius,
                            display: true,
                        }
                    }
                },
                activeProduct: 0,
                activePrediction: '',
            }
        },
        watch: {
            getSessionResults() {
                console.log("WATCH > getSessionResults()");
                this.sessionResults = this.getSessionResults
            },
            getLastSession() {
                console.log("WATCH > getLastSession()");
                this.sessionResults = this.getSessionResults
                // this.sessionResults = this.getSessionResults
                // this.calculate();
            },
            getLastSessionProducts() {
                // console.log("LAST SESSION PRODUCTS", this.getLastSessionProducts);
                // console.log("LAST SESSION RESULTS", this.sessionResults);
                // this.applyWithTune();
            }
        },
        computed: {
            isLoadingStatus() {
                return this.$store.getters.getStatusCalculate;
            },
            getLastPredictionName() {
                return this.$store.getters.getLastPredictionName;
            },
            getPredictions() {
                return this.$store.getters.getPredictions;
            },
            getLastSession() {
                return this.$store.getters.getLastSession;
            },
            getSessionId() {
                return this.$store.getters.getSessionId;
            },
            getLastSessionProducts() {
                return this.$store.getters.getLastSessionProducts;
            },
            getActivePrediction() {
                return this.activePrediction || this.getLastPredictionName;
            },
            getSessionResults() {
                return this.$store.getters.getSessionResults;
            },
            getShowApplyButton() {
                return this.$store.getters.getShowApplyButton;
            },
			getLastSession() {
				return this.$store.getters.getLastSession;
			},
        },
        methods: {
			closeModalPredictions(){
				this.showModalPredictions = false;
				this.showModalWhereIs = true;
			},
            showSlider(e) {
                e.target.nextElementSibling.classList.toggle('d-block');
            },
            applyFile() {
                this.showButtonApplyFile = false;
                this.applyFileBool = true;
                let elements = document.getElementsByClassName('dz-preview')
                for (let item of elements) {
                    item.style.display = "none";
                }
            },
            clickButton(bool) {
                this.showButtonApplyFile = bool;
            },
            applyFileHandler(bool){
                this.applyFileBool = bool;
            },
            async detachProduct(product) {
                console.log("DETACH PRODUCT")
                this.$store.commit(SESSION_DELETE_LAST_PRODUCT, product);
                this.activeProduct = 0;
                this.calculate();
            },
            async calculate() {
                console.log("CALCULATING");
                await this.$store.dispatch(SESSION_ACTIVE);
                let predictions = this.getPredictions;
                let predictionId = predictions.find(x => x.class === 'active').id;
                let sessionId = this.getSessionId;
                let marketplace = this.getLastSession.marketplace;
                let products = this.getLastSession.products;


                this.$store.dispatch(SESSION_ATTACH_MARKETPLACE, {marketplace, sessionId}).then(() => {
                    products.map(product => {
                        this.$store.dispatch(SESSION_ATTACH_PRODUCT, {product, sessionId})
                    });
                    this.$store.dispatch(SESSION_ATTACH_PREDICTION, {predictionId, sessionId}).then(() => {
                        this.$store.dispatch(SESSION_CALCULATE, {sessionId}).then(() => {
                            this.$store.commit(SHOW_APPLY_BUTTON, false);
                            this.$store.dispatch(SESSION_LAST).then((data) => {
                                this.showButton = false;
                                this.showProfitTimeline = true;
                                this.showEssentials = false;
                                this.getDataProfitTimeline();
                                this.sessionResults = this.$store.getters.getSessionResults;
                            });

                        });
                    });

                });
            },
            async applyWithTune() {
                let sessionId = this.getLastSession.id;
                let factors = this.getLastSessionProducts.map((product) => (
                    {
                        productId: product.id,
                        salesPriceAssumption: product.factor.salesPriceAssumption,
                        salesPriceIncrease: product.factor.salesPriceIncrease,
                        monthlySales: product.factor.monthlySales,
                        salesGrowsRate: product.factor.salesGrowth_Rate,
                        productCost: this.getSessionResults.find(item => item.product.id === product.id).cost,
                        minimumOrderQuantity: this.getSessionResults.find(item => item.product.id === product.id).minimumOrderQuantity,
                    }
                ));
                console.log("TUNE FACTORS", factors);
                await this.$store.dispatch(SESSION_TUNE, {sessionId, factors}).then(data => {
                    console.log(sessionId,"TUNE FACTORE THEN", data);
                    this.$store.dispatch(SESSION_CALCULATE, {sessionId: data.result.id}).then(() => {
                        // this.$store.commit(SHOW_APPLY_BUTTON, false);
                        this.$store.dispatch(SESSION_LAST).then((data) => {
                            this.showButton = false;
                            this.showProfitTimeline = true;
                            this.showEssentials = false;
                            this.sessionResults = this.getSessionResults;
                            this.getDataProfitTimeline();
                        });

                    });
                })
            },
            getDataProfitTimeline() {
                let dataProfitTimeline = this.sessionResults.map((item, index) => {
                    return {
                        label: item.product.name,
                        data: Object.values(item.profitTimeline),
                        backgroundColor: "transparent",
                        borderColor: index === 0 ? "#f29f72" : "#8a9eec",
                        pointBackgroundColor: "#ffffff"
                    }
                });
                this.chartData.datasets = dataProfitTimeline;
            },
            customRadius(context) {
                let index = context.dataIndex;
                let investmentReturnIn = this.sessionResults[context.datasetIndex].investmentReturnIn - 1;
                let selfSustainabilityIn = this.sessionResults[context.datasetIndex].selfSustainabilityIn - 1;
                return index === selfSustainabilityIn ?
                    10 : (index === investmentReturnIn) ? 7 : 1;

            },
            hideProjectionMenu() {
                this.showProjectionMenu = false;
            },
            setActive(projection) {
                this.$store.commit(PREDICTION_ACTIVE, projection);
                this.activePrediction = projection.name;
                this.showButton = true;
            },
            toggleProfitTimeLine() {
                if (this.showProfitTimeline) {
                    this.showProfitTimeline = false;
                    this.showEssentials = true
                } else {
                    this.showProfitTimeline = true;
                    this.showEssentials = false
                }
            },
            setActiveProduct(index) {
                this.activeProduct = index
            }
        },
        async created() {
            console.log("CREATED > Comparison Page");
            let self = this;
            await this.$store.dispatch(PREDICTIONS_GET);
            // await this.$store.dispatch(SESSION_ACTIVE);
            await this.$store.dispatch(SESSION_LAST);
            // this.$store.dispatch(SESSION_LAST).then(()=>{
            //     let sessionId = this.getSessionId;
            //     let marketplace = this.getLastSession.marketplace;
            //     this.$store.dispatch(SESSION_ATTACH_MARKETPLACE, {marketplace, sessionId}).then(()=>{
            //         this.$store.dispatch(SESSION_CALCULATE, {sessionId}).then(()=>{
            //             this.$store.dispatch(SESSION_LAST).then(()=>{
            //                 this.sessionResults = this.getSessionResults;
            //                 this.lastProducts = this.getLastSessionProducts;
            //                 this.getDataProfitTimeline();
            //             })
            //         })
            //     })

            // })
            this.sessionResults = this.getSessionResults;
            this.lastProducts = this.getLastSessionProducts;
            this.getDataProfitTimeline();

            let nameVisitedPage = `wasVisited${this.$store.getters.getId}`;
            let localStorageName = localStorage.getItem(nameVisitedPage);
            if (localStorageName !== null && localStorageName == 3){
                this.showModalPredictions = true;
                localStorage.setItem(nameVisitedPage, 4);
            }
        }
    }
</script>

<style scoped lang="scss">
    @import '~@/_variables.scss';

    section {
        margin-top: 48px;
    }

    .factors-names {
        width: 250px
    }

    .active {
        background-color: $over-light-blue;
        border-radius: 18px 18px 0 0
    }
    .products {
        flex-grow: 0.1;
    }
    .pointer {
        position: absolute;
        bottom: -55px;
        transform: translateX(-2%) rotate(-90deg);
        width: 43px;
    }

    .span-small {
        font-size: 0.8rem;
        font-weight: 200;
    }

    .setting-item {
        border: 1px solid $light-blue;
        border-radius: 50px;
        background-size: cover;
        box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
        width: 175px;
        text-decoration: none solid rgb(82, 96, 196);
        line-height: 26px;
        margin-bottom: 15px;
        cursor: pointer;

        & > div {
            min-width: 170px;
            padding: 1px 5px;
            font-size: 0.8rem;
            color: $blue;
            font-weight: bold;
        }

        &:hover {
            box-shadow: 0 0 10px rgba(82, 96, 196, 0.2);
        }
    }

    .product-add-wrapper {
        padding-top: 20px;
    }

    .product-item {
        background-color: $white;
        position: relative;
        margin: 0 24px;
        height: 75px;
        width: 75px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border: 1px solid $light-gray;
        border-radius: 10px;

        .ico-cross {
            height: 20px;
            width: 20px;
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            background-image: url("/dist/images/ico-sm-cross.svg");
            display: none;
            position: absolute;
            top: 5px;
            right: 5px;
        }

        .product-letters {
            font-size: 45px;
            color: $purple;
            line-height: normal;
            font-weight: bold;
            text-decoration: none solid rgb(138, 158, 236);
            text-align: center;
        }

        &:hover {
            box-shadow: 0 0 10px rgba(82, 96, 196, 0.2);

            .ico-cross {
                display: block;

                &:hover {
                    cursor: pointer;
                    background-image: url("/dist/images/ico-sm-cross-hover.svg");
                }
            }

        }
    }
    .btn-apply {
        width: 90px;
    }
    .product-name {
        font-size: 0.875rem;
        color: $dark-gray;
        text-decoration: none solid rgb(69, 77, 105);
        line-height: 20px;
        text-align: center;
    }

    .box-status {
        width: 112px;
        height: 26px;
        padding: 0 0 3px;
        border-radius: 70px;
        background-color: $gray;
        background-size: cover;
        font-size: 0.75rem;
        color: $white;
        text-decoration: none solid rgb(255, 255, 255);
        text-align: center;
        margin: 0 auto;
    }

    .setting-projection {
        position: relative;
    }

    .ico-plus {
        width: 23px;

        &:hover {
            background-color: $light-blue;
            border-radius: 50%;
            cursor: pointer;
        }
    }

    .projection-list {
        position: absolute;
        top: 15px;
        left: 40px;
        border-radius: 14px;
        box-shadow: 0 1px 25px rgba(0, 0, 0, 0.08);
        background-color: $white;
        z-index: 600;
        font-weight: 100 !important;

        .prejection-item {
            font-size: 0.875rem;
            color: $dark-gray;
            padding: 6px 25px 12px;
            text-decoration: none solid rgb(69, 77, 105);

            &:hover {
                background-color: $light-purple;
                cursor: pointer;
            }
        }
    }

    .ico-cross {
        padding: 5px;
        width: 32px;
    }

    .btn-tune {
        margin-top: 60%;
    }

    .factor-name {
        display: none;
        position: absolute;
        left: -50px;
        top: -10px;
        font-size: 0.75rem;
        color: $gray-blue;
        font-weight: 600;
        text-decoration: none solid rgb(97, 103, 135);
        text-align: right;
    }
    .loader-calculating {
        z-index: 9999;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 250, 250, 0.8);
    }
    .factor-item {
        position: relative;
        font-weight: 600;
        font-size: 1.125rem;
        color: $dark-gray;
        text-decoration: none solid rgb(69, 77, 105);
        line-height: 20px;
        text-align: center;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .product-factor:first-child {
        margin-left: 100px;

        .factor-name {
            display: block;
        }

        .factor-sales-price::before {
            content: 'Sale price:';
            position: absolute;
            left: -74px;
            font-size: 0.75rem;
            color: $gray-blue;
            font-weight: 600;
        }

        .factor-sale-price-increase::before {
            content: 'Sale price increase:';
            position: absolute;
            left: -124px;
            font-size: 0.75rem;
            color: $gray-blue;
            font-weight: 600;
        }

        .factor-line-icon::before {
            content: '';
            position: absolute;
            left: -17px;
            width: 17px;
            border-bottom: 1px solid $light-gray;
        }

        .factor-monthly-sales::before {
            content: 'Monthly sales, units:';
            position: absolute;
            left: -130px;
            font-size: 0.75rem;
            color: $gray-blue;
            font-weight: 600;
        }

        .factor-sales-increase::before {
            content: 'Sales increase:';
            position: absolute;
            left: -100px;
            font-size: 0.75rem;
            color: $gray-blue;
            font-weight: 600;
        }
    }
    .factor-number:hover {
        cursor: pointer;
        border: 1px solid $over-light-blue;
        border-radius: 13px;
        padding: 2px 5px;
        background-color: $over-light-blue;
    }
    .line {
        position: relative;
        width: 100%;
        margin-top: 1rem;
        margin-bottom: 1rem;
        border: 0;
        border-bottom: 1px solid $light-gray;
    }

    @media (max-width: 992px) {
        .main-comparison {
            flex-direction: column;
        }
    }

    .slide-enter-active,
    .slide-leave-active {
        transition: all 0.5s;
        max-height: 100px;
    }

    .slide-enter,
    .slide-leave-to {
        opacity: 0;
        max-height: 0;
    }

    .custom-slide-enter-active {
        animation: slide .5s;
    }

    .custom-slide-leave-active {
        animation: slide .5s reverse;
    }

    .slide-enter-active, .slide-leave-active {
        transition: opacity .5s;
    }

    .slide-enter, .slide-leave-to /* .fade-leave-active до версии 2.1.8 */
    {
        opacity: 0;
    }

    @keyframes slide {
        0% {
            max-height: 0;
            opacity: 0;
        }
        70% {
            max-height: 200px;
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    @media (max-width: 767px) {
        .product-factor {
            margin-left: 0 !important;
        }

    }
</style>
