<template>
	<div>
		<div class="container create-section d-flex flex-column" style="margin-top: 70px;">
			<div class="d-flex justify-content-between">
				<h5>My products</h5>
				<div class="boxes d-flex">
					<div class="box-wrapper mr-4">
						<vue-dropzone ref="myVueDropzone" id="dropzone" :options="dropzoneOptions"
									@vdropzone-success="uploadSuccess"
									@vdropzone-error="showError"
									@vdropzone-removed-file="removeFileFromDropzone"
									@vdropzone-file-added="dropFile"
									class="box-item upload-added" :useCustomSlot=true>
							<div class="box-item-content">
								<icon name="icon-upload" size="ss" class="color-light-gray mr-2"/>
								<span class="box-item-text">Upload .csv data</span>
							</div>
						</vue-dropzone>
						<p @click.stop="showModalInstruction = true" class="question">
							<icon name="ico-sm-question" size="xs" class="color-gray ico-question"/>
						</p>
						<button class="btn-light-blue btn-md btn-apply-file" v-if="showApplyButton" @click="applyFile">Apply
							file
						</button>
					</div>
					<div class="box-wrapper">
						<div class="box-item manual-added" @click.stop="showModalForm = true">
							<div class="box-item-content">
								<icon name="icon-manual" size="ss" class="color-light-gray mr-2"/>
								<span class="box-item-text">Enter data manually</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container d-flex justify-content-end my-empty-product-block mt-2 align-items-end " v-if="getProducts.length == 0">
			<p>You have no products yet</p>
			<img src="/dist/images/arrows.png" alt="arrow" class="img-arrow">
		</div>
		<div class="container my-product-block" v-else>
			<h3 class="title-table" :style="{ marginTop: showApplyButton ? '70px' : '' }">Select up to 5 products to
				compare to each other</h3>
			<my-products :products="getProducts" @added-comparison="addedComparison"/>
		</div>

		<div class="bottom-block d-flex justify-content-center mb-5 container">
			<template v-if="getSessionProducts.length > 0">
				<router-link class="btn-lg btn-analyze btn-blue d-flex justify-content-center"
							 :disabled="getSessionProducts.length < 1"
							 :to="{ name: 'uploaded-products'}"
							 @click.native="$scrollToTop"
							 tag="button">Analyze selected
				</router-link>
			</template>
		</div>

		<modal-instruction v-if="showModalInstruction" @close="showModalInstruction = false"/>
		<modal-form v-if="showModalForm" @close="showModalForm = false" :type="'create'" @new-product-for-tutorial="newProduct"/>
		<modal-add-products v-if="showModalAddProducts" @close="showModalAddProducts = false"/>
		<modal-select-products-to-compare v-if="showModalSelectProducts" @close="showModalSelectProducts = false" />

	</div>

</template>

<script>
	import ModalInstruction from "../../modals/ModalInstruction";
	import ModalForm from "../../modals/ModalForm";
	import MyProducts from "../../components/MyProducts";
	import vue2Dropzone from 'vue2-dropzone'
	import {PRODUCT_GET, PRODUCT_STORE_SUCCESS} from "../../../../store/actions/product";
	import {SESSION_ACTIVE, SESSION_LAST} from "../../../../store/actions/session";
	import {USER_REQUEST} from "../../../../store/actions/user";
	import ModalAddProducts from "../../../../components/modals/Tutorial/ModalAddProducts";
	import ModalSelectProductsToCompare from "../../../../components/modals/Tutorial/ModalSelectProductsToCompare";

	export default {
		components: {
			ModalSelectProductsToCompare,
			ModalForm,
			ModalInstruction,
			MyProducts,
			ModalAddProducts,
			vueDropzone: vue2Dropzone
		},
		data() {
			return {
				showModalInstruction: false,
				showModalForm: false,
				showModalAddProducts: false,
				showModalSelectProducts: false,
				comparison_products: [],
				showApplyButton: false,
				dropzoneOptions: {
					method: 'POST',
					url: '/api/v1/products/upload',
					acceptedFiles: ".csv",
					maxFilesize: 50000,
					autoProcessQueue: false,
					addRemoveLinks: true,
					parallelUploads: 1,
					params: {
						marketplaceId: null
					},
					headers: {
						Authorization: 'Bearer ' + localStorage.getItem('access_token'),
					},
				}
			}
		},
		computed: {
			getProducts() {
				return this.$store.getters.getProducts
			},
			getSessionProducts() {
				return this.$store.getters.getSessionProducts
			}
		},
		methods: {
			removeFileFromDropzone(file, error, xhr) {
				this.showApplyButton = false;
			},
			applyFile() {
				this.showApplyButton = false;
				this.$refs.myVueDropzone.processQueue();
				document.querySelector('.dz-preview').style.display = "none";
			},
			dropFile(file) {
				this.showApplyButton = true;
			},
			showError(file, message, xhr) {
				file.previewTemplate.style.display = "none";
				let data = message.errors || [message.message];
				let error = JSON.stringify(data).replace(/[^\w\s!?]/g, '');
				this.$swal(error,
						'',
						'error',
				)
			},
			uploadSuccess(file, response) {
				file.previewTemplate.style.display = "none";
				if (response.result.error) {
					this.$swal(response.result.body,
							'',
							'error',
					)
				} else {
					let products = response.result.body;
					products.forEach(product => {
						// let product = response.result;
						this.$store.commit(PRODUCT_STORE_SUCCESS, product);
					})
					let nameVisitedPage = `wasVisited${this.$store.getters.getId}`;
					let localStorageName = localStorage.getItem(nameVisitedPage);
					if (localStorageName !== null && localStorageName == 1){
						this.showModalSelectProducts = true;
						localStorage.setItem(nameVisitedPage, 2);
					}
				}
			},
			newProduct(){
				let nameVisitedPage = `wasVisited${this.$store.getters.getId}`;
				let localStorageName = localStorage.getItem(nameVisitedPage);
				if (localStorageName !== null && localStorageName == 1){
					this.showModalSelectProducts = true;
					localStorage.setItem(nameVisitedPage, 2);
				}
			},
			addedComparison(comparison_products) {
				this.comparison_products = comparison_products;
			},
			handleShowModalAddProducts(){
				this.showModalAddProducts = true
			}
		},
		async created() {
			await this.$store.dispatch(SESSION_ACTIVE);
			await this.$store.dispatch(PRODUCT_GET);
			await this.$store.dispatch(USER_REQUEST);
			this.dropzoneOptions.params.marketplaceId = this.$store.getters.getSessionMarketplaceId;
			let nameVisitedPage = `wasVisited${this.$store.getters.getId}`;
			 if (localStorage.getItem(nameVisitedPage) === null){
				 await this.handleShowModalAddProducts();
				 localStorage.setItem(nameVisitedPage, 1);
			}



		}
	}
</script>

<style scoped lang="scss">
	@import '~@/_variables.scss';

	section {
		margin-top: 70px;
	}

	h5 {
		font-size: 1.75rem;
		color: $dark-blue;
		text-decoration: none solid rgb(55, 62, 89);
		line-height: 30px;
	}

	h6 {
		font-size: 1.125rem;
		color: $blue;
		text-decoration: none solid rgb(82, 96, 196);
		text-align: center;
		font-weight: bold;
	}

	p {
		font-size: 0.75rem;
		color: $gray-blue;
		text-decoration: none solid rgb(97, 103, 135);
		text-align: center;
	}

	.box-wrapper {
		position: relative;
	}

	.btn-apply-file {
		position: absolute;
		left: 268px;
		top: 77px;
	}

	.my-product-block, .create-section {
		max-width: 1170px;
	}

	.my-empty-product-block {
		p {
			font-size: 1rem;
			color: $gray;
			text-decoration: none solid rgb(178, 180, 207);
			text-align: center;
			margin-right: 2em;
		}
		img {
			margin-right: 12em;
		}
	}

	.question {
		cursor: pointer;
		font-size: 0.75rem;
		margin-top: -70px;
		margin-left: 195px;
	}

	.ico-question:hover {
		color: $blue;
	}

	.box-item {
		cursor: pointer;
		height: 50px;
		border: 1px dashed $light-purple;
		border-radius: 50px;

	}

	.box-item-content {
		padding: 10px 20px;
	}

	.box-item-text {
		width: 131px;
		height: 23px;
		font-family: Be Vietnam;
		font-size: 16px;
		color: #5260c4;
		text-decoration: none solid rgb(82, 96, 196);
		font-weight: bold;
	}

	.manual-added {
		border: 1px solid $light-purple;
	}

	.upload-added:hover {
		border: 1px dashed $purple;
		background-color: $white;
		box-shadow: 0 0 10px rgba(82, 96, 196, 0.2);
	}

	.manual-added:hover {
		background-color: $white;
		box-shadow: 0 0 10px rgba(82, 96, 196, 0.2);
	}

	.bottom-block {
		height: 50px;
	}

	@media (max-width: 750px) {
		.boxes {
			grid-template-columns: 340px;
		}
	}

	.title-table {
		font-size: 1rem;
		color: $dark-blue;
		margin-bottom: 51px;
		text-decoration: none solid rgb(55, 62, 89);
		line-height: 25.6px;
	}
</style>
