<template>
	<section class="container">
		<div class="products d-flex flex-column flex-sm-row justify-content-center">
			<div class="product-wrapper" v-for="product in sessionProducts" :key="product.id">
				<div class="product-item">
					<div class="ico-cross" @click="detachProduct(product)"/>
					<img :src="product.avatar" alt="product avatar" @error="imageLoadError">
				</div>
				<p class="mt-4">{{product.name}}</p>
			</div>
			<div class="product-wrapper">
				<add-product @clicked="clickButton" :applyFile="applyFileBool"></add-product>
				<div id="dropzonePreview" class="dz-default dz-message mt-3">
					<button class="btn-light-blue btn-md" v-if="showButtonApplyFile" @click="applyFile">Apply file
					</button>
				</div>
			</div>
		</div>
		<h3>Select a sales & growth prediction model</h3>
		<p>Each prediction model gives you different insight about how your products might perform. Don't worry you can
			always update or change your selection later.</p>
		<div class="d-flex flex-row flex-sm-column">

			<div class="projections d-flex flex-sm-row flex-column justify-content-center">
				<template v-for="(projection, index) in getPredictions">
					<div class="projection-item" :class="projection.class" :key="index" @click="setActive(projection)">
						{{projection.name}}
						<img v-if="projection.class === 'active'" class="pointer" src="/dist/images/Path-point.svg"
							 alt="point">
					</div>
				</template>
			</div>
			<div class="d-flex justify-content-center mt-4 result">
				<template v-for="projection in getPredictions">
					<template v-if="projection.class === 'active'">
						<div class="d-flex justify-content-around" :key="projection.class">
							<p class="text-result text-left-p" v-html="leftText(projection.description)">
							</p>
							<p class="text-result text-right-p" v-html="rightText(projection.description)">
							</p>
						</div>

					</template>

				</template>
			</div>
		</div>
		<div class="text-center align-center mt-4 mb-5">
			<button class="btn-blue btn-lg mb-sm-3 mx-auto btn-insight" @click="addPrediction" v-if="sessionProducts.length > 0">
				See insights
			</button>
			<button class="btn-blue btn-lg mb-sm-3 pl-3 pr-3 mx-auto btn-insight" @click="toComparisonPage" v-if="lastSessionProducts.length > 0">
				View previous results
			</button>
		</div>

		<modal-select-prediction-model  v-if="showModalSelectPrediction" @close="showModalSelectPrediction = false" />
	</section>
</template>

<script>
	import AddProduct from "../../components/AddProduct";
	import {
		SESSION_ACTIVE,
		SESSION_ATTACH_PRODUCT,
		SESSION_CALCULATE,
		SESSION_DETACH_PRODUCT,
		SESSION_DELETE_LAST_PRODUCT,
		SESSION_LAST
	} from "../../../../store/actions/session";
	import {PREDICTIONS_GET, PREDICTION_ACTIVE, SESSION_ATTACH_PREDICTION} from "../../../../store/actions/prediction";
	import {SESSION_ATTACH_MARKETPLACE} from "../../../../store/actions/marketplace";
	import marketplace from "../../../../store/modules/marketplace";
	import ModalSelectPredictionModel from "../../../../components/modals/Tutorial/ModalSelectPredictionModel";

	export default {
		components: {
			ModalSelectPredictionModel,
			AddProduct
		},
		data() {
			return {
				showModalSelectPrediction: false,
				showButtonApplyFile: false,
				applyFileBool: false,
				sessionProducts: [],
				lastSessionProducts: []
			}
		},
		watch: {
			getSessionProducts() {
				console.log("watch getSessionProducts")
				this.sessionProducts = this.$store.getters.getSessionProducts;
				// if (this.sessionProducts.length === 0) {
				// 	this.sessionProducts = this.$store.getters.getLastSessionProducts;
				// }
			},
			getLastSessionProducts() {
				console.log("watch getLastSessionProducts")
				this.lastSessionProducts = this.$store.getters.getLastSessionProducts;
			},
		},
		computed: {
			getSessionProducts() {
				return this.$store.getters.getSessionProducts;
			},
			getLastSessionProducts() {
				return this.$store.getters.getLastSessionProducts;
			},
			getPredictions() {
				return this.$store.getters.getPredictions;
			},
			getLastSession() {
				return this.$store.getters.getLastSession;
			},
		},
		methods: {
			imageLoadError(e) {
				e.target.src = "/dist/images/product-image.png"
			},
			leftText(text) {
				let search = text.search("<b>This");
				let output = text.slice(search);
				return output;
			},
			rightText(text) {
				let search = text.search("<b>This");
				let output = text.substring(search, -1);
				return output;
			},
			applyFile() {
				this.showButtonApplyFile = false;
				this.applyFileBool = true
			},
			clickButton(bool) {
				this.showButtonApplyFile = bool;
			},
			setActive(projection) {
				this.$store.commit(PREDICTION_ACTIVE, projection);
			},
			async detachProduct(product) {
				// await this.$store.dispatch(SESSION_ACTIVE)
				await this.$store.dispatch(SESSION_LAST);
				let sessionId = this.$store.getters.getSessionId;
				this.$swal({
					text: 'Are you sure you want to remove this product?',
					buttons: true,
				}).then((willDelete) => {
					if (willDelete) {
						this.$store.dispatch(SESSION_DETACH_PRODUCT, {product, sessionId}).then(() => {
                			this.$store.commit(SESSION_DELETE_LAST_PRODUCT, product);
							this.$swal('Product Removed!');
						});
					}
				});
			},
			async addPrediction() {

				let predictions = this.getPredictions;
				let predictionId = predictions.find(x => x.class === 'active').id;
				let sessionId = this.$store.getters.getSessionId;


				await this.$store.dispatch(SESSION_ACTIVE).then(() => {
					let marketplace = this.getLastSession.marketplace;
					this.$store.dispatch(SESSION_ATTACH_MARKETPLACE, {marketplace, sessionId})
					this.$store.dispatch(SESSION_ATTACH_PREDICTION, {predictionId, sessionId}).then(() => {
						this.$router.push({name: "products-comparison"}).then(() => {
							this.$store.dispatch(SESSION_CALCULATE, {sessionId}).catch(err => {
								if (err.data.message === 'There is no marketplace for calculation') {
									this.$router.push({name: "initial-steps"})
								} else {
									this.$swal(err.data.message);
								}
							});
						})
						this.$scrollToTop();
					});
				}).catch(() => {
					// let marketplaceId = this.$store.getters.getSessionMarketplaceId;
					// console.log(marketplaceId)
					this.$store.dispatch(SESSION_ATTACH_PREDICTION, {predictionId, sessionId}).then(() => {
						this.$router.push({name: "products-comparison"}).then(() => {
							this.$store.dispatch(SESSION_CALCULATE, {sessionId}).then(() => {
							}).catch(err => {
								this.$swal(err.data.message);
								if (err.data.message === 'There is no marketplace for calculation') {
									this.$router.push({name: "initial-steps"})
								}
							});
						})
						this.$scrollToTop();
					});
				});


			},
			toComparisonPage() {
				this.$router.push({name: "products-comparison"});
			}
		},
		async created() {
			console.log("CREATED > Uploaded Page");
			await this.$store.dispatch(PREDICTIONS_GET);
			this.$store.dispatch(SESSION_ACTIVE).then(()=>{
				this.sessionProducts = this.getSessionProducts;
				console.log("SESSION PRODUCTS", this.getSessionProducts)
			})
			this.$store.dispatch(SESSION_LAST).then(()=>{
				this.lastSessionProducts = this.getLastSessionProducts;
				console.log("LAST SESSION PRODUCTS", this.getSessionProducts)
			})

			let nameVisitedPage = `wasVisited${this.$store.getters.getId}`;
			let localStorageName = localStorage.getItem(nameVisitedPage);
			if (localStorageName !== null && localStorageName == 2){
				this.showModalSelectPrediction = true;
				localStorage.setItem(nameVisitedPage, 3);
			}
		}
	}
</script>

<style scoped lang="scss">
	@import '~@/_variables.scss';

	.products {
		margin-top: 55px;

		.product-wrapper {
			max-width: 160px;
			margin-left: 40px;
		}

		.product-item {
			position: relative;
			margin: 0 24px;
			height: 112px;
			width: 112px;
			display: flex;
			justify-content: center;
			align-items: center;
			cursor: pointer;
			border: 1px solid $light-gray;
			border-radius: 24px;

			.ico-cross {
				height: 20px;
				width: 20px;
				background-size: contain;
				background-position: center;
				background-repeat: no-repeat;
				background-image: url("/dist/images/ico-sm-cross.svg");
				display: none;
				position: absolute;
				top: 5px;
				right: 5px;
			}

			.product-letters {
				font-size: 45px;
				color: $purple;
				line-height: normal;
				font-weight: bold;
				text-decoration: none solid rgb(138, 158, 236);
				text-align: center;
			}

			&:hover {
				box-shadow: 0 0 10px rgba(82, 96, 196, 0.2);

				.ico-cross {
					display: block;

					&:hover {
						cursor: pointer;
						background-image: url("/dist/images/ico-sm-cross-hover.svg");
					}
				}

			}
		}
	}

	p {
		font-size: 0.8rem;
		color: $dark-gray;
		text-decoration: none solid rgb(69, 77, 105);
		line-height: 20px;
		text-align: center;
	}

	h3 {
		margin-top: 38px;
		font-size: 1.25rem;
		color: #373e59;
		text-decoration: none solid rgb(55, 62, 89);
		text-align: center;
	}

	.projection-item {
		position: relative;
		margin-top: 20px;
		padding: 7px 20px 11px;
		border-radius: 50px;
		background-size: cover;
		font-size: 0.9rem;
		font-weight: bold;
		color: $purple;
		text-decoration: none solid rgb(138, 158, 236);
		text-align: center;

		&:hover {
			cursor: pointer;
			color: $blue;
		}

		&.active {
			background-color: $light-blue;
			color: $blue;
		}
	}

	.result {
		padding: 25px 35px 22px;
		border-radius: 24px;
		background-color: $over-light-blue;
		background-size: cover;
		margin-bottom: 20px;
		position: relative;
		white-space: pre-line;

		.text-result {
			font-size: 0.9rem;
			color: $dark-blue;
			text-decoration: none solid rgb(55, 62, 89);
			text-align: left;

		}

		.text-left-p {
			width: 60%;
		}
		.text-right-p {
			line-height: inherit;
		}
	}

	.pointer {
		position: absolute;
		bottom: -40px;
		left: 50%;
		transform: translateX(-50%) rotate(-90deg);
	}

	.btn-insight {
		padding: 0px;
	}

	@media (max-width: 575px) {
		.products {
			align-items: center;
		}
		.pointer {
			display: none;
		}
	}
</style>
