<template>
    <div class="container" v-if="!isAdmin">
        <div class="row" style="margin-top: 50px;">

            <div class="col text-center br-blue">
                <div class="subscription-card" v-for="option in paymentOptions" :key="option.id">
                    <h3 class="title color-blue mb-2">{{option.name}}</h3>
                    <h1 class="price color-orange"><small>$</small> {{option.price}}</h1>
                    <p class="description">{{option.desc}}</p>
                    <button class="btn-blue btn-lg mb-sm-3 mx-auto subscription-btn" v-on:click="select(1)" v-if="!isSubscribed" :disabled="subscription_id != undefined">Begin Trial</button>
                    <button class="btn-red btn-lg mb-sm-3 mx-auto subscription-btn" v-on:click="cancel(1)" v-else>Cancel</button>
                    <div v-if="isSubscribed">
                        <span class="link color-dark-blue">Your {{option.name}} is on going.</span>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class='credit-card' :class='{ complete }' v-if="subscription_id != undefined">
                    <h4>Please enter your credit card information below</h4>
                    <div class="form-group">
                        <label>Card Number</label>
                        <card-number class='stripe-element card-number base-input'
                            ref='cardNumber'
                            :stripe='stripe'
                            @change='number = $event.complete'
                        />
                    </div>
                    <div class="form-group">
                        <label>Card Expiry</label>
                        <card-expiry class='stripe-element card-expiry base-input'
                            ref='cardExpiry'
                            :stripe='stripe'
                            @change='expiry = $event.complete'
                        />
                    </div>
                    <div class="form-group">
                        <label>CVC</label>
                        <card-cvc class='stripe-element card-cvc base-input'
                            ref='cardCvc'
                            :stripe='stripe'
                            @change='cvc = $event.complete'
                        />
                    </div>
                    <div class="text-center">
                         <button class="purchase-btn btn-blue btn-lg mb-sm-3 mx-auto" v-on:click="purchase" :disabled="processing">Proceed Securely</button>
                    </div>
                    <div class="text-center">
                        {{ paymentResult }}
                    </div>
                </div>
                

            </div>
        </div>

    </div>

    <!-- ADMINISTRATOR -->
    <div class="container" v-else>
        <div class="mt-5">
            <h4>Payment</h4>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Details</th>
                    <th>Price $</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(data,index) in paymentOptions" :key="index">
                    <td><input type="text" class="form-control" v-model="data.name" maxlength="100"></td>
                    <td><input type="text" class="form-control" v-model="data.desc" maxlength="500"></td>
                    <td><input type="text" class="form-control" v-model="data.price" @keypress="onlyNumber" maxlength="10"></td>
                    <td><button class="btn btn-xs btn-primary" @click="saveOption(data)">Save</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
    import {PAYMENT, CANCEL_PAYMENT, PAYMENT_OPTIONS, SAVE_OPTION} from "../../../store/actions/payment";
    import { CardNumber, CardExpiry, CardCvc, createToken, Card } from 'vue-stripe-elements-plus'

    export default {
        components: {
            CardNumber,
            CardExpiry,
            CardCvc
        },
        data() {
            return {
                stripe: undefined,
                number: false,
                expiry: false,
                cvc: false,
                complete: false,
                hasCardErrors: false,
                subscription_id: undefined,
                processing: false,
                isSubscribed: false,
                subscriptionEnded: false,
                isAdmin: false,
                paymentOptions: []
            }
        },
        watch: {
            getSubscriptionCount() {
                console.log("watch SubscriptionCount", this.getSubscriptionCount);
                this.isSubscribed = this.getSubscriptionCount > 0;
            },
            getSubscriptionEndCount() {
                this.subscriptionEnded = this.getSubscriptionEndCount > 0;
            },
            isAdministrator() {
                this.isAdmin = this.isAdministrator;
            },
            isFreeUser() {
                this.$router.push({name: "create-product"});
            },
            getPaymentOptions() {
                this.paymentOptions = this.getPaymentOptions;
            }
        },
        computed: {
            paymentStatus() {
                return this.$store.getters.getPaymentStatus;
            },
            paymentResult() {
                return this.$store.getters.getPaymentData
            },
            getSubscriptionCount() {
                return this.$store.getters.getSubscriptionCount
            },
            getSubscriptionEndCount() {
                return this.$store.getters.getSubscriptionEndCount
            },
            isAdministrator() {
                return this.$store.getters.isAdmin
            },
            isFreeUser() {
                return this.$store.getters.isFreeUser
            },
            getPaymentOptions() {
                return this.$store.getters.getPaymentOptions
            }
        },
        methods: {
            toProducts: function() {
                this.$router.push("products");
            },
            select: function(subscription_id) {
                if (this.subscriptionEnded) {
                    this.$swal("Your 14-Day Trial already ended.",
                        '',
                        'warning',
                    )
                } else  {
                    this.subscription_id = subscription_id;
                }
            },
            purchase: function() {
                let self = this;
                self.processing = true;
                createToken().then(res => {
                    if (res.error) {
                        self.hasCardErrors = true;
                        self.processing = false;
                        console.error(res.error);
                        this.$swal("Payment Error", res.error.message, "error");
                        self.$forceUpdate();
                        return
                    } else {
                        let request = {
                            subscription_id: self.subscription_id,
                            token: res.token
                        };
                        return self.$store.dispatch(PAYMENT, request).then(data => {
                            self.$forceUpdate();
                            self.processing = false;
                            if (data.result.status == "SUCCESS") {
                                var user = JSON.parse(localStorage.getItem("user"));
                                user.subscription_count ++;
                                localStorage.setItem("user", JSON.stringify(user));
                                window.location.href = "/products/create";
                            } else {
                                this.$swal(data.result.remarks ,
                                        '',
                                        'error',
                                )
                                console.log(data.result);
                            }
                        });
                    }
                });
            },
            cancel: function(subscription_id) {
                this.$swal({
                    text: 'Are you sure you want to cancel your 14-day trial?',
                    buttons: true,
                }).then((okay) => {
                    if (okay) {
                        this.processing = true;
                        console.log("process cancellation", subscription_id);
                        let self = this;
                        return self.$store.dispatch(CANCEL_PAYMENT, {subscription_id: subscription_id}).then(data => {
                            self.$forceUpdate();
                            self.processing = false;
                            console.log(data.result);
                            if (data.result.status == "SUCCESS") {
                                var user = JSON.parse(localStorage.getItem("user"));
                                user.subscription_count -= 1;
                                user.subscription_end_count += 1;
                                localStorage.setItem("user", JSON.stringify(user));
                                window.location.reload();
                            } else {
                                this.$swal(data.result.remarks ,
                                        '',
                                        'error',
                                )
                                console.log(data.result);
                            }
                        });
                    }

                });

            },
            saveOption(paymentOption) {
                var errors = [];

                if(paymentOption === null || paymentOption === undefined) {
                    errors.push("Cannot update payment option.");
                } else if (paymentOption.name == null || paymentOption.name.length == 0) {
                    errors.push("Payment option name is required.");
                } else if (paymentOption.desc == null || paymentOption.desc.length == 0) {
                    errors.push("Payment option description is required.");
                } else if (paymentOption.price == null || paymentOption.price.length == 0) {
                    errors.push("Payment option price cannot be empty or zero.");
                }

                if (errors.length > 0) {
                    this.$swal("Save Payment Option", errors.join("\n"), "error");
                } else {
                    this.$store.dispatch(SAVE_OPTION, paymentOption).then(data => {
                        this.$swal("Save Payment Option", paymentOption.name + " Updated!" , "success");
                    }).catch(error => {
                        this.$swal("Save Payment Option", "Cannot save details.", "error");
                    })
                }
            },
            onlyNumber ($event) {
                let keyCode = ($event.keyCode ? $event.keyCode : $event.which);
                if ((keyCode < 48 || keyCode > 57) && keyCode !== 46) { // 46 is dot
                    $event.preventDefault();
                }
            }
        },
        beforeMount() {
            this.stripe = window.Stripe(process.env.MIX_STRIPE_KEY);
        },
        async mounted() {

            if (this.isFreeUser) {
                this.$router.push({name: "create-product"});
            }
            this.isSubscribed = this.getSubscriptionCount > 0;
            this.subscriptionEnded = this.getSubscriptionEndCount > 0;
            this.isAdmin = this.isAdministrator;
            
            await this.$store.dispatch(PAYMENT_OPTIONS);
            this.paymentOptions = this.getPaymentOptions;
            
        }

    }
</script>

<style scoped lang="scss">
    .br-blue {
        border-right: solid 1px #5260C4;
    }

    .subscription-card .price {
        font-weight: 900;
    }
    .subscription-btn:disabled, .purchase-btn:disabled {
        background: #cdd2e6;
        cursor: default;
    }
    .subscription-card .link {
        cursor: pointer;
        text-decoration: underline;
    }
    

    .credit-card {
        border: solid 1px #5260C4;
        border-radius: 10px;
        padding: 30px;
    }
</style>
