<template>
    <modal @close="closeModal" class="modal-sign-up">
        <h3 slot="header" class="header-modal">{{errorMessage}}</h3>
        <div slot="body">
            <div class="d-flex flex-column align-items-center">
                <button class="btn-facebook btn-md mt-4 mb-4"  v-if="provider === 'facebook'">
                    <icon name="icon_facebook" size="xs" class="mr-2"/>
                    Sign Up via Facebook
                </button>
                <button class="btn-gmail btn-md mt-4" @click="signUp('google', 'sign-up')" v-if="provider === 'google'">
                    <icon name="icon_gmail" size="xs" class="mr-2"/>
                    Sign Up via Google
                </button>
            </div>

        </div>
        <div slot="footer">

        </div>
    </modal>
</template>

<script>
    import Modal from '../Modal.vue'
    import {AUTH_REQUEST} from "../../store/actions/auth";

    export default {
        props: {
            errorMessage: String,
            provider: String
        },
        components: {
            Modal
        },
        methods: {
            closeModal() {
                this.$emit('close');
            },
            signUp(provider, process) {
                this.$emit('signup', provider, process);
            }
        }
    }
</script>
<style scoped lang="scss">
    @import '~@/_variables.scss';

    .header-modal {
        font-size: 1.25rem;
        color: $dark-blue;
        text-align: center;
    }

    .btn-gmail {
        width: 217px;
    }

    .btn-facebook {
        width: 217px;
    }


</style>
