<template>
    <modal @close="closeModal">
        <h3 slot="header" class="header-modal">Sign Up</h3>
        <div slot="body">
            <form>
                <template v-if="errorMessages.length > 0" >
                <p class="notification-error" v-for="error in errorMessages" :key="error">{{error}}</p>
                </template>
                <div class="mt-5" :class="{ error: $v.form.name.$error}">
                    <input type="text" class="base-input name-input" v-model="form.name">
                    <label class="base-label name-label form-text">name</label>
                </div>
                <div class="mt-5" :class="{ error: $v.form.nickname.$error}">
                    <input type="text" class="base-input name-input" v-model="form.nickname">
                    <label class="base-label name-label form-text">nickname</label>
                </div>
                <div class="mt-5" :class="{ error: $v.form.email.$error}">
                    <input type="email" class="base-input name-input" v-model="form.email">
                    <label class="base-label name-label form-text">email</label>
                </div>
                <div class="mt-5" :class="{ error: $v.form.password.$error}">
                    <input type="password" class="base-input name-input" v-model="form.password">
                    <label class="base-label name-label form-text">password</label>
                </div>
                <div class="mt-5" :class="{ error: $v.form.confirmPassword.$error}">
                    <input type="password" class="base-input name-input" v-model="form.confirmPassword">
                    <label class="base-label name-label form-text">confirm password</label>
                </div>
            </form>

        </div>
        <div slot="footer" class="d-flex justify-content-center">
            <button class="btn-blue btn-md" @click="signUp">Sign Up</button>
        </div>
    </modal>
</template>

<script>
    import Modal from '../Modal.vue'
    import {required, email, sameAs, minLength} from 'vuelidate/lib/validators'
    import {AUTH_REQUEST_EMAIL} from "../../store/actions/auth";

    export default {
        props: {
            errorMessage: String,
            provider: String
        },
        data() {
            return {
                errorMessages: [],
                form: {
                    name: '',
                    nickname: '',
                    email: '',
                    password: '',
                    confirmPassword: ''
                }
            }
        },
        validations: {
            form: {
                name: {
                    required
                },
                nickname: {
                    required
                },
                email: {
                    required,
                    email
                },
                password: {
                    required,
                    minLength: minLength(6)
                },
                confirmPassword: {
                    required,
                    sameAsPassword: sameAs('password')
                },
            }
        },
        components: {
            Modal
        },
        methods: {
            closeModal() {
                this.$emit('close');
            },
            signUp() {
                this.$v.form.$touch();
                let isValid = !this.$v.form.$invalid;
                if (isValid) {
                    let form = this.form;
                    delete form['confirmPassword'];
                    let process = 'sign-up';
                    this.$store.dispatch(AUTH_REQUEST_EMAIL, { form, process }).then(() => {
                        this.$router.push("/initial-steps");
                    }).catch(errors => {
                        this.errorMessages =  errors;
                    });
                }
            }
        }
    }
</script>
<style scoped lang="scss">
    @import '~@/_variables.scss';

    .header-modal {
        font-size: 1.25rem;
        color: $dark-blue;
        text-align: center;
    }

    form > div {
        min-width: 350px;
    }


</style>
