<template>
    <modal @close="closeModal">
        <h3 slot="header" class="header-modal">Welcome back.</h3>
        <div slot="body">
            <div class="d-flex flex-column justify-content-center align-items-center">
                <button class="btn-facebook btn-md mt-4"  @click="signIn('facebook', 'sign-in')">
                    <icon name="icon_facebook" size="xs" class="mr-2"/>
                    Sign In via Facebook
                </button>
                <button class="btn-gmail btn-md mt-4" @click="signIn('google', 'sign-in')">
                    <icon name="icon_gmail" size="xs" class="mr-2"/>
                    Sign In via Google
                </button>
            </div>

            <p class="color-dark-gray mt-4 text-center">or</p>
            <form>
                <template v-if="errorMessages.length > 0">
                    <p class="notification-error" v-for="error in errorMessages" :key="error">{{error}}</p>
                </template>
                <div class="mt-5" :class="{ error: $v.form.email.$error}">
                    <input type="email" class="base-input name-input" v-model="form.email">
                    <label class="base-label name-label form-text">email</label>
                </div>
                <div class="mt-5" :class="{ error: $v.form.password.$error}">
                    <input type="password" class="base-input name-input" v-model="form.password">
                    <label class="base-label name-label form-text">password</label>
                </div>
            </form>
            <div class="d-flex justify-content-center mt-4">
                <button class="btn-blue btn-md" @click="signInEmail">Sign In</button>
            </div>
        </div>
        <div slot="footer">

        </div>
    </modal>
</template>

<script>
    import Modal from '../Modal.vue'
    import ButtonFacebook from "../ButtonFacebook";
    import {required, email, sameAs, minLength} from 'vuelidate/lib/validators'
    import {AUTH_REQUEST_EMAIL} from "../../store/actions/auth";

    export default {
        components: {
            Modal,
            ButtonFacebook
        },
        data() {
            return {
                errorMessages: [],
                form: {
                    email: '',
                    password: ''
                }
            }
        },
        validations: {
            form: {
                email: {
                    required,
                    email
                },
                password: {
                    required,
                    minLength: minLength(6)
                },
            }
        },
        methods: {
            closeModal() {
                this.$emit('close');
            },
            signIn(provider, process) {
                this.$emit('signin', provider, process);
            },
            signInEmail(){
                this.$v.form.$touch();
                let isValid = !this.$v.form.$invalid;
                if (isValid) {
                    let form = this.form;
                    let process = 'sign-in';
                    this.$store.dispatch(AUTH_REQUEST_EMAIL, { form, process }).then(() => {
                        this.closeModal();
                        this.$router.push("/products/create");
                    }).catch(errors => {
                        this.errorMessages =  errors;
                    });
                }
            }
        }
    }
</script>
<style scoped lang="scss">
    @import '~@/_variables.scss';

    .header-modal {
        font-size: 1.25rem;
        color: $dark-blue;
        text-align: center;
    }

    .btn-gmail {
        width: 217px;
    }

    .btn-facebook {
        width: 217px;
    }
    form > div {
        min-width: 350px
    }
</style>
