<template>
    <main>
        <Loader v-if="isLoading" />
        <template v-else>
            <app-header :backgroundColor="headerBackground"></app-header>
            <div class="content">
                <router-view></router-view>
            </div>
        </template>

    </main>

</template>

<script>
    import { loadTranslation } from '../translation/i18n.js';
    import loadIconsSprite from '../scripts/loadSvgSprite';
    import AppHeader from './AppHeader';
    import AppFooter from './AppFooter';
    import Loader from '../components/Loader';
    import APP_CONFIG from '../config/appConfig.js';

    export default {
        components: {
            AppHeader,
            AppFooter,
            Loader,
        },
        created() {
            this.loadTranslationFile();
            this.loadIcons();
        },
        data() {
            return {
                areTranslationsLoading: false,
                areIconsLoading: false,
            };
        },
        computed: {
            isLoading() {
                return this.areTranslationsLoading || this.areIconsLoading;
            },
            headerBackground(){
                let routes = this.$route.name === 'home' || this.$route.name === 'faq' || this.$route.name === 'about-us' || this.$route.name === 'privacy-policy' || this.$route.name === 'terms-of-service';
                return routes ? 'background-light-blue' : 'background-white';
            }
        },
        methods: {
            loadIcons() {
                const fileUrl = APP_CONFIG.ICONS_SPRITE_LOCATION;
                this.areIconsLoading = true;
                loadIconsSprite(fileUrl, () => this.areIconsLoading = false);
            },
            loadTranslationFile() {
                this.areTranslationsLoading = true;
                loadTranslation()
                    .finally(() => {
                        this.areTranslationsLoading = false;
                    });
            },
        },
    }
</script>

<style lang="scss" scoped>
    .loader {
        margin-top: 200px;
    }
    .content {
        min-height: calc(100vh - 440px);
    }
</style>
