<template>
    <section class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <h5 class="color-white">Support</h5>
                    <ul>
                        <router-link :to="{ name: 'support'}" tag="li" @click.native="$scrollToTop">
                            Contact support
                        </router-link>
                        <router-link :to="{ name: 'faq'}" tag="li" @click.native="$scrollToTop">
                            FAQs
                        </router-link>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-6">
                    <h5 class="color-white">Contact Us</h5>
                    <ul>
                        <router-link :to="{ name: 'about-us'}" tag="li" @click.native="$scrollToTop">
                            About us
                        </router-link>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-6">
                    <h5 class="color-white">Legal</h5>
                    <ul>
                        <router-link :to="{ name: 'privacy-policy'}" tag="li" @click.native="$scrollToTop">
                            Privacy Policy
                        </router-link>
                        <li>Copyright</li>
                        <router-link :to="{ name: 'terms-of-service'}" tag="li" @click.native="$scrollToTop">
                            Terms of Service
                        </router-link>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-6">
                    <h5 class="color-white">Follow Us</h5>
                    <ul>
                        <li>Facebook</li>
                        <li>Instagram</li>
                        <li>Twitter</li>
                        <li>YouTube</li>
                    </ul>
                </div>
            </div>
            <div class="d-flex">
                <p> © Predictly 2020</p>
            </div>
        </div>
    </section>
</template>
<style lang="scss" scoped>
    @import '~@/_variables.scss';

    .footer {
        background-color: $dark-gray;
        h5 {
            font-weight: 600;
            font-size: 1.25rem;
            line-height: 29px;
            margin: 80px 0 16px 0;

        }

        ul {
            padding: 0;

            li {
                margin: 12px 0;
                font-size: 1rem;
                list-style-type: none;
                color: $white;
                opacity: 0.5;
                cursor: pointer;
            }
        }

        p {
            font-size: 1rem;
            line-height: 23px;
            color: $white;
            margin: 24px 0 48px 0;
        }
    }
</style>
