<template>
	<div :class="backgroundColor">
		<div class="container" v-if="$route.name !== 'home'">
			<header class="d-flex justify-content-between align-items-center">
				<router-link :to="{ name: 'home'}" tag="a" class="logo"
							 v-if="$route.name !== 'faq' && $route.name !== 'about-us' && $route.name !== 'privacy-policy' && $route.name !== 'terms-of-service'">
					<img src="/dist/images/logotype.svg" alt="logo">
				</router-link>
				<div>
					<div v-if="!isAuthenticated" :class="positionFixed">
						<button class="btn-blue btn-md mr-3" @click.stop="showModalLogin = true">
							Login
						</button>
						<br>
						<template
								v-if="$route.name === 'faq' || $route.name === 'about-us' || $route.name === 'privacy-policy' || $route.name === 'terms-of-service'">
							<button-facebook process="Sign Up via"/>
							<br>
							<button-google process="Sign Up via"/>
						</template>
					</div>

					<div class="d-flex" v-else>
						<router-link class="nav-products color-gray-blue" :to="{ name: 'uploaded-products'}" tag="div"
									 :class="{'active': $route.name === 'uploaded-products'}">
							Predictions
						</router-link>
						<router-link class="nav-products color-gray-blue" :to="{ name: 'create-product'}" tag="div"
									 :class="{'active': $route.name === 'create-product'}">
							My products
						</router-link>
						<router-link class="nav-products color-gray-blue" :to="{ name: 'users'}" tag="div"
									 v-if="isAdmin" :class="{'active': $route.name === 'users'}">
							Users
						</router-link>
						<router-link class="nav-products color-gray-blue" :to="{ name: 'calculation-models'}" tag="div"
									 v-if="isAdmin" :class="{'active': $route.name === 'calculation-models'}">
							Calculation models
						</router-link>
						<div class="nav-button" v-click-outside="hideMenu">
							<img class="nav-image" src="/dist/images/untitled.svg" alt="nav" @click="showMenuList">
							<div class="nav-list mt-3" v-if="showMenu">
								<div class="pt-2 pb-2">
									<router-link v-if="isAdmin" class="nav-item" :to="{ name: 'admin-account'}"
												 tag="div"
												 @click.native="hideMenu">Account
									</router-link>
									<router-link v-else class="nav-item" :to="{ name: 'user-account'}" tag="div"
												 @click.native="hideMenu">Account
									</router-link>
									<router-link class="nav-item" :to="{name: 'payment'}" tag="div" v-if="!freeUser">
										Payment
									</router-link>
									<div class="nav-item" @click="showTutorial">Tutorial</div>
									<router-link v-if="!isAdmin" class="nav-item" :to="{ name: 'support'}" tag="div"
												 @click.native="hideMenu">Support
									</router-link>
								</div>
								<hr class="m-0">
								<div class="pb-2 pt-2">
									<div class="nav-item" @click="logOut">Log out</div>
								</div>
							</div>
						</div>
					</div>
				</div>


			</header>
		</div>
		<!-- <modal-sign-in v-if="showModalLogin" @close="showModalLogin = false" @signin="authUser"/>
		<modal-sign-up v-if="showModalSignUp" @close="showModalSignUp = false" :error-message="errorMessage" @signup="authUser" :provider="provider"/> -->

		<modal-add-products :name-button="'Next'" v-if="showStep === 1" @close="showStep = 0" key="1"
							@change-step="changeStep"/>
		<modal-select-products-to-compare v-if="showStep === 2" @close="showStep = 0" :name-button="'Next'" key="2"
										  @change-step="changeStep"/>
		<modal-select-prediction-model v-if="showStep === 3" @close="showStep = 0" :name-button="'Next'" key="3"
									   @change-step="changeStep"/>
		<modal-predictions v-if="showStep === 4" @close="showStep = 0" :name-button="'Finish'" key="4"
						   @change-step="changeStep"/>
		<modal-where-is v-if="showStep === 5" @close="showStep = 0" key="5"
						@change-step="changeStep"/>
	</div>
</template>

<script>
	import {AUTH_LOGOUT, AUTH_REQUEST} from '../store/actions/auth';
	import {USER_REQUEST} from '../store/actions/user';
	import {PRODUCT_GET} from '../store/actions/product'
	// import ModalSignIn from "../components/modals/ModalSignIn";
	// import ModalSignUp from "../components/modals/ModalSignUp";
	// import ButtonGoogle from "../components/ButtonGoogle";
	// import ButtonFacebook from "../components/ButtonFacebook";
	import ModalAddProducts from "../components/modals/Tutorial/ModalAddProducts";
	import ModalSelectProductsToCompare from "../components/modals/Tutorial/ModalSelectProductsToCompare";
	import ModalSelectPredictionModel from "../components/modals/Tutorial/ModalSelectPredictionModel";
	import ModalPredictions from "../components/modals/Tutorial/ModalPredictions";
	import ModalWhereIs from "../components/modals/Tutorial/ModalWhereIs";

	export default {
		components: {
			ModalWhereIs,
			ModalPredictions,
			ModalSelectPredictionModel,
			ModalSelectProductsToCompare,
			ModalAddProducts,
			// ModalSignUp,
			// ModalSignIn,
			// ButtonGoogle,
			// ButtonFacebook
		},
		props: {
			backgroundColor: String
		},
		data() {
			return {
				showModalLogin: false,
				showModalSignUp: false,
				showMenu: false,
				showStep: 0,
				errorMessage: '',
				provider: '',
				authCurrentCode: '',
				freeUser: false
			}
		},
		mounted() {
			// if (this.$route.query.showLogin !== undefined) {
			// 	this.showModalLogin = true;
			// }
			this.freeUser = this.isFreeUser
		},
		watch: {
			isFreeUser() {
				this.freeUser = this.isFreeUser
			}
		},
		computed: {
			isAuthenticated() {
				return this.$store.getters.isAuthenticated
			},
			isVerified() {
				return this.$store.getters.isVerified
			},
			isAdmin() {
				return this.$store.getters.isAdmin
			},
			getName() {
				return this.$store.getters.getName
			},
			positionFixed() {
				let routes = this.$route.name === 'faq' || this.$route.name === 'about-us' || this.$route.name === 'privacy-policy' || this.$route.name === 'terms-of-service';
				return routes ? 'position-fixed' : '';
			},
			getProducts() {
				return this.$store.getters.getProducts
			},
			isFreeUser() {
				return this.$store.getters.isFreeUser
			}

		},
		methods: {
			showTutorial() {
				this.hideMenu();
				this.showStep = 1;
			},
			changeStep(step) {
				this.showStep = step;
			},
			hideMenu() {
				this.showMenu = false;
			},
			authUser(provider, process) {
				if (provider === 'google') {
					this.$gAuth.getAuthCode()
							.then(authCode => {
								if (process === 'sign-in') {
									// this.showModalLogin = false;
									this.provider = '';
									this.$store.dispatch(AUTH_REQUEST, {authCode, provider, process}).then(() => {
										this.$store.dispatch(PRODUCT_GET).then((data) => {
											if (data.result.length >= 1) {
												this.$router.push("/products");
											} else {
												this.$router.push("/products/create");
											}
										});

									}).catch(error => {
										if (error.data.code === 422) {
											this.errorMessage = error.data.messages[0].text;
											this.provider = provider;
											this.showModalSignUp = true;
										}
									});
								} else {
									this.showModalSignUp = false;
									this.provider = '';
									this.$store.dispatch(AUTH_REQUEST, {authCode, provider, process}).then(() => {
										this.$store.dispatch(PRODUCT_GET).then((data) => {
											if (data.result.length >= 1) {
												this.$router.push("/products");
											} else {
												this.$router.push("/initial-steps");
											}
										});
									}).catch(error => {
										if (error.data.code === 422) {
											this.errorMessage = error.data.messages[0].text;
											this.provider = provider;
											this.showModalSignUp = true;
										}
									});
								}

							})
				} else if (provider === 'facebook') {
					if (process === 'sign-in') {
						window.addEventListener("message", this.signInFacebook, false);
						let link = this.$linkFacebook;
						// this.showModalLogin = false;
						window.open(link, "socialPopupWindow", "location=no,width=600,height=600,scrollbars=yes,top=100,left=700");
					}
				}
			},
			signInFacebook(event) {
				if (event.data && event.data.type === 'facebook.auth.completed') {
					if (event.data.data && event.data.data.code) {
						let authCode = event.data.data.code;
						let provider = 'facebook';
						let process = 'sign-in';
						this.$store.dispatch(AUTH_REQUEST, {authCode, provider, process}).then(() => {
							this.$router.push("/products/create");
						}).catch(error => {
							if (error.data.code === 422) {
								this.errorMessage = error.data.messages[0].text;
								this.provider = provider;
								this.showModalSignUp = true;
							}
						});


					}
				}
				event.source.close();
			},
			logOut() {
				this.hideMenu();
				this.$store.dispatch(AUTH_LOGOUT)
						.then(() => {
							window.location.href = '//predictly.io';
						})
			},
			showMenuList() {
				this.showMenu = !this.showMenu
			}
		},
		async created() {
			if (this.isAuthenticated) {
				await this.$store.dispatch(USER_REQUEST);
			}

		},
	}
</script>

<style scoped lang="scss">
	@import '~@/_variables.scss';

	.nav-products {
		margin: 0 5px;
		font-size: 0.875rem;
		font-weight: 700;
		text-decoration: none solid rgb(97, 103, 135);
		line-height: 28px;
		text-align: center;
		cursor: pointer;
		border-radius: 6px;
		padding: 2px 10px;
	}

	.btn-border {
		border: 2px solid $light-purple;
	}

	.nav-products:hover:not(.active) {
		background-color: $light-purple;
		color: $blue;
	}

	.active {
		height: 3px;
		background-color: #5260c4;
		background-size: cover;
		color: $blue;
	}

	.nav-button {
		position: relative;
		margin-right: 15px;

		.nav-image {
			cursor: pointer;
			padding: 10px;
			border-radius: 10px;

			&:hover {
				background-color: $light-purple;
			}
		}

		.nav-list {
			position: absolute;
			width: 132px;
			right: 0;
			border-radius: 14px;
			background-color: $white;
			box-shadow: 0 1px 25px rgba(0, 0, 0, 0.08);
			z-index: 1000;
		}
	}

	.nav-item {
		cursor: pointer;
		font-size: 0.8rem;
		color: $dark-gray;
		padding: 6px 25px 12px;
		text-decoration: none solid rgb(69, 77, 105);

		&:hover {
			background-color: $light-purple;
		}
	}

	.user-name {
		font-size: 0.875rem;
		color: $gray-blue;
		text-decoration: none solid rgb(97, 103, 135);
		line-height: 26px;
		text-align: right;
	}

	.logo {
		cursor: pointer;
	}

	.position-fixed {
		position: fixed;
		right: 105px;

		button {
			width: 217px;
		}
	}

</style>
