<template>
    <div>
            <div class="logo d-flex justify-content-center">
                <img src="/dist/images/logotype.svg" alt="logo">
            </div>
            <div class="d-flex justify-content-center nav">
                <router-link :to="{ name: 'home'}" tag="div" class="nav-item color-blue">
                    Home
                </router-link>
                <router-link :to="{ name: 'faq'}" tag="div" class="nav-item color-blue" v-if="$route.name === 'faq' || $route.name === 'about-us'">
                    FAQ
                </router-link>
                <router-link :to="{ name: 'about-us'}" tag="div" class="nav-item color-blue" v-if="$route.name === 'faq' || $route.name === 'about-us'">
                    About us
                </router-link>
                <router-link :to="{ name: 'privacy-policy'}" tag="div" class="nav-item color-blue" v-if="$route.name === 'privacy-policy' || $route.name === 'terms-of-service'">
                    Privacy Policy
                </router-link>
                <router-link :to="{ name: 'terms-of-service'}" tag="div" class="nav-item color-blue" v-if="$route.name === 'privacy-policy' || $route.name === 'terms-of-service'">
                    Terms of Service
                </router-link>
            </div>
    </div>
</template>

<style lang="scss" scoped>
    @import '~@/_variables.scss';
    .logo {
        padding-top: 80px;
        cursor: pointer;
    }
    .nav-item {
        margin: 20px 17px;
        cursor: pointer;
        font-weight: 600;
        font-size: 1rem;
        line-height: 23px;
    }
    .router-link-exact-active {
        color: $dark-gray;
        opacity: 0.5;
    }
</style>
