<template>
    <div class="background-light-blue">
        <div class="container">
            <header-main></header-main>
            <div class="container legal">
                <div class="legal-block">
                    <p class="color-dark-gray legal-text">Last updated on: March 18, 2020</p>
                    <p class="color-dark-gray legal-text">This Global Privacy Policy (“Policy”) explains how we collect,
                        use, disclose, and protect visitors’ and users’ information as part of the Service. Any
                        discussion of your use of the Service in this Policy is meant to include your visits and other
                        interactions with the Sites and Services, whether or not you are a user of Predictly’s SaaS
                        product. </p>
                    <p>By accessing and using our Service, you signify your acceptance to the terms of this Privacy
                        Policy. I you do not agree with or you are not comfortable with any aspect of this Privacy
                        Policy, you should immediately discontinue access or use of our Services.

                        Everyday language summaries are provided for convenience only and appear in bold under each
                        section, but these summaries are not legally binding. Please read the Privacy Policy, including
                        any document referred to in this Privacy Policy, for the complete understanding of how we use
                        your personal information. By using Predictly or any Predictly services, you are agreeing to
                        these terms. Be sure to occasionally check back for updates.
                    </p>
                    <p class="color-dark-gray legal-text">
                        Hi there,
                    </p>
                    <p class="color-dark-gray legal-text">
                        Protecting your privacy is important to us. This Global Privacy Policy is here to help you
                        understand how we treat any personal information that you share with us when you use Predictly
                        and/or visit our various sites.
                    </p>
                    <p class="color-dark-gray legal-text">As is standard, your continued use of Predictly means you
                        agree with this policy.</p>
                    <p class="color-dark-gray legal-text">1. What “Personal Information” means
                        In this Policy, “Personal Information” means information or an information set that identifies
                        or could be used to identify an individual directly or indirectly. Except as described in this
                        Policy, Predictly will not give, sell, rent, or loan any Personal Information to any third
                        party.</p>
                    <p class="color-dark-gray legal-text">Personal Information does not include “Usage Data” which we
                        define as encoded or anonymized information or aggregated data we collect about a group or
                        category of services, features, or users which does not contain personally identifying
                        information. Usage Data helps us understand trends in usage of the Service so that we can better
                        consider new features or otherwise tailor the Service. In addition to collecting and using Usage
                        Data ourselves, we may share Usage Data with third parties, including our customers, partners
                        and service providers, for various purposes, including to help us better understand our
                        customers’ needs and improve the Service as well as for advertising and marketing purposes.</p>
                    <p class="color-dark-gray legal-text">WHICH MEANS</p>
                    <p class="color-dark-gray legal-text font-weight-bold">“Personal Information” is information someone
                        can use to identify you.</p>
                    <h2 class="color-dark-gray legal-title">1. What “Personal Information” means</h2>
                    <p>In this Policy, “Personal Information” means information or an information set that identifies or
                        could be used to identify an individual directly or indirectly. Except as described in this
                        Policy, Predictly will not give, sell, rent, or loan any Personal Information to any third
                        party.

                        Personal Information does not include “Usage Data” which we define as encoded or anonymized
                        information or aggregated data we collect about a group or category of services, features, or
                        users which does not contain personally identifying information. Usage Data helps us understand
                        trends in usage of the Service so that we can better consider new features or otherwise tailor
                        the Service. In addition to collecting and using Usage Data ourselves, we may share Usage Data
                        with third parties, including our partners and service providers, for various purposes,
                        including to help us better understand our customers’ needs and improve the Service as well as
                        for advertising and marketing purposes.</p>
                    <p class="color-dark-gray legal-text">WHICH MEANS</p>
                    <p class="color-dark-gray legal-text font-weight-bold">“Personal Information” is information someone
                        can use to identify you.</p>
                    <h2 class="color-dark-gray legal-title">2. How we collect, use, and share your Personal Information
                        and other information</h2>
                    <h3 class="color-gray">a. Information you provide to us</h3>
                    <p class="color-dark-gray legal-text">When you register for the Service, we may ask for Personal
                        Information such as your name, email address, or credit card or other billing information. You
                        may also provide at your own discretion certain related information like your personal social
                        media websites, the date you started using the Service, or a description of yourself.
                        Additionally, as you employ the Sites to calculate predictions, the software continuously saves
                        changes made by you with the server and will document items such as when you are working and
                        saving changes, when you last opened Predictly, when predictions and assessments are published,
                        or when you perform certain tasks.

                        We may also retain the contents of any messages you send to us or through the Service, and we
                        may collect information you provide in user content that you post or upload to the Service
                        (“User Content”).

                        Predictly may use Personal Information provided to operate, improve upon, and personalize the
                        Service, for billing identification and authentication, to contact and communicate with you
                        about the Service and your use of the Service, to support use of the Service, to send marketing
                        materials for research purposes, and to generally improve the content and functionality of the
                        Service.

                        We may also combine your Personal Information with third-party analytics information to build a
                        broader profile of our individual users so that we can serve you better and provide custom,
                        personalized content and information. Additionally, we may use the Personal Information we
                        collect for identification and authentication and fraud prevention, to analyze customer usage
                        and improve the Service, for internal market research, troubleshooting problems, to enforce our
                        Terms of Service, and as otherwise set forth in this Policy.

                        Note that we will never email you to ask for your account information. If you ever receive such
                        an email, please forward it to hello@Predictly.com. For more information about our procedures in
                        this regard, please review our Terms of Service.

                        We use financial information solely as authorized by you in accordance with the Service. We will
                        use commercially reasonable efforts to ensure the security of all credit card and all other
                        Personal Information, we expressly disclaim any liability for any unauthorized access to or use
                        of our secure servers and/or any and all personal and/or financial information stored therein,
                        and you agree to hold Predictly harmless for any damages that may result therefrom.</p>
                    <h3 class="color-gray">b. Information we may receive from and share with third parties</h3>
                    <p class="color-dark-gray legal-text">We may now or in the future receive Personal Information about
                        you from third parties. For example, if you access our Site or Service through a third-party
                        connection or log-in or connect an application to Predictly, that third party you connected with
                        may pass certain information about your use of its service to Predictly. This information could
                        include, but is not limited to, the user ID associated with your account, an access token
                        necessary to access that service, any information that you have permitted the third party to
                        share with us, and any information you have made public in connection with that third-party
                        service. You should always review, and if necessary, adjust your privacy settings on third-party
                        websites and services before linking or connecting them to the Service.

                        Predictly may also share Personal Information with its third-party service providers (such as
                        its credit card processors and hosting partners) to provide the necessary hardware, software,
                        networking, storage, and other service we use to operate the Service and maintain a high-quality
                        user experience. We do not permit our service providers to use the Personal Information we share
                        for their marketing purposes.</p>
                    <h3 class="color-gray">c. Application integration</h3>
                    <p class="color-dark-gray legal-text">To facilitate the exchange of data between third-party SaaS
                        applications, we may need to store certain information (“App Credentials”) that helps us access
                        these third-party SaaS application accounts on your behalf. We store your App Credentials in an
                        encrypted form.

                        When we access these third-party applications on your behalf, the third-party application
                        provides us with access to certain data. We will use, store, and disclose this data in
                        accordance with this Policy.

                        You should note that Predictly shall have no liability or responsibility for the privacy
                        practices or other actions of any third-party applications for which you provide us with App
                        Credentials.</p>
                    <h3 class="color-gray">d. Other information sharing</h3>
                    <p class="color-dark-gray legal-text">We may be required to disclose Personal Information to respond
                        to subpoenas, court orders, and law enforcement or governmental requests or investigations, or
                        to establish or exercise our legal rights or defend against legal claims. We may also share
                        Personal Information if we believe it is necessary in order to investigate, prevent, or take
                        action regarding illegal activities, suspected fraud, situations involving potential threats to
                        the physical safety of any person, violations or our Terms of Service, or as otherwise required
                        by law.

                        We use or may use information collected by cookies, log files, device identifiers, and clear
                        GIFs information to:

                        (a) remember information so that you will not have to re-enter it during your visit or the next
                        time you visit the site

                        (b) provide custom, personalized content and information

                        (c) to provide and monitor the effectiveness of our Service

                        (d) monitor aggregate metrics such as total number of visitors, traffic, and demographic
                        patterns, total number of predictions, prediction types, and Service usage patterns

                        (e) diagnose or fix technology problems

                        (f) help you efficiently access your information after you sign in

                        (g) to provide advertising to your browser or device, and

                        (h) automatically update the Predictly application on your mobile devices.

                        We may share Personal Information with any member of the Predictly team, which includes any
                        entity that controls, is controlled by, or under common control with Predictly.</p>
                    <p class="color-dark-gray legal-text">WHICH MEANS</p>
                    <p class="color-dark-gray legal-text font-weight-bold">We ask for certain information, like your
                        name, email address, and account credentials, to use
                        Predictly. We use this information to run Predictly and other things mentioned in this policy
                        (like logging and analytics). We also continuously save your work to keep it safe.

                        Predictly won't sell or rent your personal information to a third party.

                        Sometimes we aggregate user data anonymously to understand our customer base better.

                        We may connect with third-party services to improve your experience. These features are governed
                        by the respective company's privacy policy, so review your privacy settings there.

                        We collect some information from you automatically using cookies so we know when things go
                        wrong, or to help us understand what parts of Predictly need some improvement.

                        Sometimes the law or subpoenas require us to share information. We may also sometimes need to
                        use information to investigate and prevent wrongful actions.</p>
                    <h2 class="color-dark-gray legal-title">3. Links to other websites</h2>
                    <p class="color-dark-gray legal-text">The Service contains links to websites and applications other
                        than the Service, including
                        websites and applications operated by affiliates and other third parties. This Policy applies
                        only to information collected by the Service.

                        Predictly does not endorse and is not responsible for the practices of third parties or their
                        websites or applications. We do not determine and are not responsible for the privacy practices
                        or the content of websites or applications operated by third parties. Your browsing and
                        interaction on any third-party website or service, including those that have a link on our
                        website, are subject to that third party’s own rules and policies.

                        We are not responsible for and we do not control any third parties that you authorize to access
                        your User Content. If you are using a third-party website or service and you allow such a
                        third-party access to your User Content, you do so at your own risk.</p>
                    <p class="color-dark-gray legal-text">WHICH MEANS</p>
                    <p class="color-dark-gray legal-text font-weight-bold">
                        We sometimes link to third-party websites and services. Your use of those sites and services is
                        governed by their respective policies, not ours. So be careful out there, folks.
                    </p>

                    <h2 class="color-dark-gray legal-title">4. Public forums</h2>
                    <p class="color-dark-gray legal-text">Our Service offers publicly accessible blogs and community
                        forums. If you elect to post something in a public area of our Service, any Personal Information
                        or content that you voluntarily disclose for posting to the Service, becomes available to the
                        public, as controlled by any applicable privacy settings. If you remove information that you
                        posted to the Service, copies may remain viewable in cached and archived pages of the Service,
                        or if other users have copied or saved that information.

                        To request removal of your Personal Information from our blog or community forum, contact us at
                        hello@predictly.io. In some cases, we may not be able to remove all your Personal
                        Information.</p>
                    <p class="color-dark-gray legal-text">WHICH MEANS</p>
                    <p class="color-dark-gray legal-text font-weight-bold">
                        Our blogs and community forums are accessible to the public, so any information provided in
                        these areas, including your personal information, may be read, collected, and used by the
                        public. If you need personal info removed, you can emails us at hello@predictly.io and we’ll
                        remove it, if possible.
                    </p>

                    <h2 class="color-dark-gray legal-title">5. Customer testimonials / comments / reviews</h2>
                    <p class="color-dark-gray legal-text">From time to time, we post customer testimonials on the Sites
                        which may contain Personal Information. We always obtain the customers’ consent prior to posting
                        their names along with their testimonials.</p>

                    <h2 class="color-dark-gray legal-title">6. Protection of information</h2>
                    <p class="color-dark-gray legal-text">Predictly is committed to ensuring the security of your
                        Personal Information. We use commercially reasonable technological, physical, and administrative
                        security safeguards, such as firewalls and carefully developed security features, to protect the
                        confidentiality and security of your Personal Information within the Service and the Sites. When
                        you enter confidential information (such as login credentials or information submitted from
                        within the Service) we encrypt the transmission of that information using secure socket layer
                        technology (SSL). These technologies, procedures, and other measures are used in an effort to
                        ensure that your data is safe, secure, and only available to you and to those you authorized to
                        access your data.

                        However, no internet, email, or other electronic transmission is ever fully secure or
                        error-free, so you should take care in deciding what information you send to us in this way.
                        Predictly is not responsible for the functionality or security measures of any third party.</p>
                    <p class="color-dark-gray legal-text">WHICH MEANS</p>
                    <p class="color-dark-gray legal-text font-weight-bold">
                        The security of your information is extremely important to us. We take many steps to ensure your
                        personal information is safe by using commercially reasonable technology and security
                        safeguards. We are not responsible for the security measures of any third party.
                    </p>

                    <h2 class="color-dark-gray legal-title">7. Hosting and data transfer</h2>
                    <p class="color-dark-gray legal-text">We are based in Canada and the United States, but, unless we
                        expressly agree otherwise (including through our Terms), we may host, transfer, and process
                        data, including Personal Information, in Canada and the United States and in other countries
                        through Predictly and third parties that we use to operate and manage the Service. These
                        countries may have data protection laws that are different from those of your country of
                        residence. Predictly takes appropriate measures to ensure such transfers are in compliance with
                        applicable laws.</p>
                    <p class="color-dark-gray legal-text">WHICH MEANS</p>
                    <p class="color-dark-gray legal-text font-weight-bold">
                        We’re based in the United States, but we may host, transfer, or process data in other countries
                        through third parties that manage our service. By using our service, you are consenting to this
                        use of data in other countries, which may have different privacy laws.
                    </p>

                    <h2 class="color-dark-gray legal-title">8. Choice</h2>
                    <p class="color-dark-gray legal-text">We process and store information on behalf of our customers.
                        You may decline to submit any Personal Information through the Service, in which case we may not
                        be able to provide certain services to you. Please refer to your mobile device or browser’s
                        technical information for instructions on how to delete and disable cookies, and other tracking
                        / recording tools. Note that disabling cookies on your mobile device or browser may prevent us
                        or our business partners from tracking your browser’s activities in relation to the Service.
                        However, doing so may disable many of the features available through the Service. If you are a
                        Predictly customer and would like to opt out of getting marketing communications from Predictly,
                        please go to your Predictly dashboard to unsubscribe. You may also opt-out individually for
                        third-party vendors on their websites, but limitations on data sharing may make it difficult or
                        impossible to provide the Service after an opt-out.</p>
                    <p class="color-dark-gray legal-text">WHICH MEANS</p>
                    <p class="color-dark-gray legal-text font-weight-bold">
                        You can decline to give us certain personal information, though that may impact some of our
                        services (more on that in our Cookie Policy). You can also opt out of receiving marketing
                        information from Predictly.
                    </p>

                    <h2 class="color-dark-gray legal-title">9. Correcting and updating your information</h2>
                    <p class="color-dark-gray legal-text">As a Predictly customer you may update, delete, or change your
                        Personal Information you have provided Predictly by logging in to the Service and providing such
                        additional information or deleting such information where applicable. We will use commercially
                        reasonable efforts to respond to such queries within a reasonable time. Predictly has no direct
                        relationship with the individuals or companies (“End Users”) with whom you may interact using
                        the Service. Any such End Users seeking access to, or who would like to correct, amend, or
                        delete data which may be stored in the Service should direct their query to the applicable
                        Predictly customer acting as the data controller for such information.</p>
                    <p class="color-dark-gray legal-text">WHICH MEANS</p>
                    <p class="color-dark-gray legal-text font-weight-bold">
                        You can always access and manage your personal information through your Predictly account, or by
                        emailing us at hello@predictly.io.
                    </p>

                    <h2 class="color-dark-gray legal-title">10. Data retention</h2>
                    <p class="color-dark-gray legal-text">Predictly will retain Personal Information we process on
                        behalf of our customers or collect directly from our customers for as long as needed to provide
                        Service to our customers, subject to our compliance with this Policy, or as required or
                        permitted under the applicable law. We may further retain and use this Personal Information as
                        necessary to comply with our legal obligations; maintain accurate accounting, financial, and
                        other operational records; resolve disputes; and enforce our agreements. We have established
                        internal policies for the deletion of data from customer accounts following termination of a
                        customer’s subscription to the Service.</p>
                    <p class="color-dark-gray legal-text">WHICH MEANS</p>
                    <p class="color-dark-gray legal-text font-weight-bold">
                        We keep your personal information until we no longer need it to provide you with the service. We
                        may also keep your personal information if required by law or to keep our internal records
                        accurate. Once you terminate your account, we’ll delete your personal information, unless we're
                        required by law to retain it.
                    </p>

                    <h2 class="color-dark-gray legal-title">11. Children's Personal Information</h2>
                    <p class="color-dark-gray legal-text">Predictly does not knowingly collect any Personal Information
                        from children under the age of 13. If you are under the age of 13, please do not submit any
                        Personal Information through our Service. We encourage parents and legal guardians to monitor
                        their children’s internet usage and to help enforce our Policy by instructing their children
                        never to provide Personal Information on our Service without their permission. If you have
                        reason to believe that a child under the age of 13 has provided Personal Information to
                        Predictly through our Service, please contact us, and we will use commercially reasonable
                        efforts to delete that information from our databases.</p>
                    <p class="color-dark-gray legal-text">WHICH MEANS</p>
                    <p class="color-dark-gray legal-text font-weight-bold">
                        You must be at least 13 years old to use Predictly.
                    </p>

                    <h2 class="color-dark-gray legal-title">12. Changes to the Privacy Policy</h2>
                    <p class="color-dark-gray legal-text">We may, in our sole discretion, modify or update this Policy
                        from time to time. If we make any material changes to this Policy, we will endeavor to notify
                        you by email or by posting a prominent notice on the Sites prior to the change becoming
                        effective. We encourage you to periodically review this page for the latest information on our
                        privacy practices. Your continued use of the Service constitutes your acceptance to such changes
                        to this Policy. If you do not accept the terms of this Policy, you should immediately
                        discontinue use of the Service.</p>
                    <p class="color-dark-gray legal-text">WHICH MEANS</p>
                    <p class="color-dark-gray legal-text font-weight-bold">
                        We may change our privacy policy from time to time. If we make any major changes, we’ll let you
                        know by email or by a prominent notice on our site(s). As mentioned above, your continued use of
                        the service means you agree to be bound by this privacy policy, so be sure to check it
                        occasionally.
                    </p>

                    <h2 class="color-dark-gray legal-title">13. Business transactions</h2>
                    <p class="color-dark-gray legal-text">Predictly may assign or transfer this Policy, and your user
                        account and related Personal Information, to any person or entity that acquires all or
                        substantially all of the business, stock or assets of, or is merged with Predictly. We may also
                        transfer or assign such information in the course of corporate divestitures, mergers,
                        acquisitions, bankruptcies, dissolutions, or similar transactions or proceedings, provided that
                        the recipient of such information will continue to be bound by the terms of this Privacy
                        Policy.</p>
                    <p class="color-dark-gray legal-text">WHICH MEANS</p>
                    <p class="color-dark-gray legal-text font-weight-bold">
                        If we’re acquired, dissolve, or go bankrupt, we may assign or transfer this privacy policy and
                        your account and related information to the acquiring entity, if any. But we have no plans to do
                        any of that.
                    </p>

                    <h2 class="color-dark-gray legal-title">14. Contact us</h2>
                    <p class="color-dark-gray legal-text">If you have questions regarding this Policy or about the
                        privacy practices of Predictly, please contact us by email at privacy@predictly.io, or at: </p>
                    <p class="color-dark-gray legal-text">Predictly, Inc.
                        720 King Street West, Suite 217
                        Toronto, ON, Canada M5V 3S5</p>
                </div>
            </div>

        </div>
    </div>
</template>

<script>
    import HeaderMain from '../../../layouts/HeaderMain';

    export default {
        components: {
            HeaderMain
        },
    }
</script>

<style lang="scss" scoped>
    @import '~@/_variables.scss';

    .legal {
        max-width: 688px;
    }

    .legal-block {
        margin-top: 70px;
    }

    .legal-title {
        font-weight: 600;
        font-size: 2rem;
        line-height: 38px;
        align-items: center;
        padding-bottom: 24px;
    }

    .legal-text {
        font-style: normal;
        font-weight: normal;
        font-size: 1.125rem;
        line-height: 26px;
        white-space: pre-line;
    }
</style>
