<template>
    <div class="background-light-blue">
        <div class="container">
            <header-main></header-main>
            <div class="container legal">
                <div class="legal-block">
                    <p class="color-dark-gray legal-text">Last updated on: March 18, 2020
                        By signing up for a Predictly Account (as defined in Section 1) or by using any Predictly
                        Services (as defined below), you are agreeing to be bound by the following terms and conditions
                        (the “Terms of Service”).
                        As used in these Terms of Service, “we”, “us” and “Predictly” means the applicable Predictly
                        Contracting Party (as defined in Section 4 below).
                        The services offered by Predictly under the Terms of Service include various products and
                        services to help you sell goods and services to buyers, whether online (“Online Services”), in
                        person (“POS Services”), or both. Any such services offered by Predictly are referred to in
                        these Terms of Services as the “Services”. Any new features or tools which are added to the
                        current Services shall be also subject to the Terms of Service. You can review the current
                        version of the Terms of Service at any time at ________. Predictly reserves the right to update
                        and change the Terms of Service by posting updates and changes to the Predictly website. You are
                        advised to check the Terms of Service from time to time for any updates or changes that may
                        impact you. and if you do not accept such amendments, you must cease using the Services.
                        You must read, agree with and accept all of the terms and conditions contained or expressly
                        referenced in these Terms of Service.</p>
                    <p class="color-dark-gray legal-text font-weight-bold">Everyday language summaries are provided for
                        convenience only and appear in bold under each
                        section, but these summaries are not legally binding. Please read the Terms of Service,
                        including any document referred to in these Terms of Service, for the complete picture of your
                        legal requirements. By using Predictly or any Predictly services, you are agreeing to these
                        terms. Be sure to occasionally check back for updates.</p>
                    <h2 class="color-dark-gray legal-title">1. Account Terms</h2>
                    <ol>
                        <li class="color-dark-gray">To access and use the Services, you must register for a Predictly
                            account (“Account”) by providing your full legal name, a valid email address, and any other
                            information indicated as required. Predictly may reject your application for an Account, or
                            cancel an existing Account, for any reason, in our sole discretion.
                        </li>
                        <li class="color-dark-gray">You must be the older of: (i) 18 years, or (ii) at least the age of
                            majority in the jurisdiction where you reside and from which you use the Services to open an
                            Account.
                        </li>
                        <li class="color-dark-gray">You confirm that you are receiving any Services provided by
                            Predictly for the purposes of carrying on a business activity and not for any personal,
                            household or family purpose.
                        </li>
                        <li class="color-dark-gray">You acknowledge that Predictly will use the email address you
                            provide on opening an Account or as updated by you from time to time as the primary method
                            for communication with you.
                        </li>
                        <li class="color-dark-gray">You are responsible for keeping your password secure. Predictly
                            cannot and will not be liable for any loss or damage from your failure to maintain the
                            security of your Account and password.
                        </li>
                        <li class="color-dark-gray">You are responsible for all activity and content such as photos,
                            videos, written content, information, or data uploaded, collected, generated, stored,
                            displayed, distributed, transmitted or exhibited on or in connection with your Account
                            (“Materials”).
                        </li>
                    </ol>
                    <p class="color-dark-gray legal-text">You may not:</p>
                    <ul>
                        <li class="color-dark-gray">use any “deep-link”, “page-scrape”, “robot”, “spider” or other
                            automatic device, program, algorithm or methodology, or any manual process to access,
                            acquire, copy, or monitor any portion of the Service or any Content or obtain or attempt to
                            obtain any materials, documents or information through any means not purposely made
                            available through the Service
                        </li>
                        <li class="color-dark-gray">attempt to gain unauthorized access to any portion of the Service or
                            any Content, or any systems or networks connected to the Service, by hacking, password
                            “mining”, or any other illegitimate means
                        </li>
                        <li class="color-dark-gray">probe, scan, or test the vulnerability of the Service or any
                            Content, or any system or network connected to the Service
                        </li>
                        <li class="color-dark-gray">reverse look-up or trace any information of any other user or
                            visitor or otherwise use the Service for the purpose of obtaining information of any other
                            user or visitor
                        </li>
                        <li class="color-dark-gray">take any action that imposes, or may impose at our sole discretion
                            an unreasonable or disproportionately large load on our infrastructure
                        </li>
                        <li class="color-dark-gray">upload invalid data, viruses, worms, or other software agents
                            through the Service
                        </li>
                        <li class="color-dark-gray">impersonate another person or otherwise misrepresent your
                            affiliation with a person or entity, conduct fraud, hide, or attempt to hide your identity
                        </li>
                        <li class="color-dark-gray">disclose any information that you do not have the consent to
                            disclose (such as confidential information of others, including their personally
                            identifiable information)
                        </li>
                        <li class="color-dark-gray">use any device, software, or process to interfere with, or attempt
                            to interfere with, the proper working of the Service, or any systems or networks connected
                            to the Service, or with any other person’s use of the Service
                        </li>
                        <li class="color-dark-gray">conduct, engage in or otherwise process End User information or data
                            to analyze individuals or groups of natural persons for unlawful or discriminatory purposes
                        </li>
                        <li class="color-dark-gray">use the Service or any Content for any purpose that is unlawful or
                            prohibited by the Terms of Service, or
                        </li>
                    </ul>
                    <p class="color-dark-gray legal-text">A breach or violation of any term in the Terms of Service,
                        including the AUP, as determined in
                        the sole discretion of Predictly may result in an immediate termination of your Services.</p>
                    <p class="color-dark-gray legal-text">WHICH MEANS</p>
                    <p class="color-dark-gray legal-text font-weight-bold">You are responsible for your Account and any
                        Materials you upload to the Predictly Service.

                        You may not take, steal, scrape data from the platform, lie about your account or try in any way
                        to stop, harm, or take down the service. Remember that if you violate these terms we may cancel
                        your service.

                        If we need to reach you, we will send you an email.</p>
                    <h2 class="color-dark-gray legal-title">2. Account Activation</h2>
                    <p class="color-dark-gray legal-text font-weight-bold">2.1 Predictly Account Owner </p>
                    <ol>
                        <li class="color-dark-gray">Subject to section 2.1(2), the person signing up for the Service by
                            opening an Account will be the contracting party (“Predictly Account Owner”) for the
                            purposes of our Terms of Service and will be the person who is authorized to use any
                            corresponding Account we may provide to the Predictly Account Owner in connection with the
                            Service.
                        </li>
                        <li class="color-dark-gray">If you are signing up for the Services on behalf of your employer,
                            your employer shall be the Predictly Account Owner. If you are signing up for the Services
                            on behalf of your employer, then you must use your employer-issued email address and you
                            represent and warrant that you have the authority to bind your employer to our Terms of
                            Service.
                        </li>
                        <li class="color-dark-gray">Your Predictly Account Owner can only be associated with one
                            Predictly User.
                        </li>
                    </ol>
                    <p class="color-dark-gray legal-text font-weight-bold">2.2 Staff Accounts</p>
                    <ol>
                        <li class="color-dark-gray">Based on your Predictly pricing plan, you can create one or more
                            staff accounts (“Staff Accounts”) allowing other people to access the Account. With Staff
                            Accounts, the Predictly Account Owner can set permissions and let other people work in their
                            Account while determining the level of access by Staff Accounts to specific business
                            information (for example, you can limit Staff Account access to only upload product research
                            data or prevent Staff Accounts from deleting old product research data).
                        </li>
                        <li class="color-dark-gray">The Predictly Account Owner is responsible and liable for the acts,
                            omissions and defaults arising from use of Staff Accounts in the performance of obligations
                            under these Terms of Service as if they were the Predictly Account Owner’s own acts,
                            omissions or defaults.
                        </li>
                        <li class="color-dark-gray">The Predictly Account Owner and the users under Staff Accounts are
                            each referred to as a “Predictly User”.
                        </li>
                    </ol>
                    <p class="color-dark-gray legal-text">WHICH MEANS</p>
                    <p class="color-dark-gray legal-text font-weight-bold">Only one person can be the “Predictly Account
                        Owner”, usually the person signing up for the Predictly Service. The Predictly Account Owner is
                        responsible for the Account. They are bound by these Terms of Service and are responsible for
                        the actions of others accessing the Account. If you sign up on behalf of your employer, your
                        employer is the Predictly Account Owner responsible for your Account.</p>
                    <h2 class="color-dark-gray legal-title">3. General Conditions</h2>
                    <p class="color-dark-gray legal-text">You must read, agree with and accept all of the terms and
                        conditions contained in these Terms of
                        Service, and our Privacy Policy before you may become a Predictly User.</p>
                    <ol>
                        <li class="color-dark-gray">Technical support in respect of the Services is only provided to
                            Predictly Users.
                        </li>
                        <li class="color-dark-gray">The Terms of Service shall be governed by and interpreted in
                            accordance with the laws of the Province of Ontario and the laws of Canada applicable
                            therein, without regard to principles of conflicts of laws. The United Nations Convention on
                            Contracts for the International Sale of Goods will not apply to these Terms of Service and
                            is hereby expressly excluded.
                        </li>
                        <li class="color-dark-gray">You acknowledge and agree that Predictly may amend these Terms of
                            Service at any time by posting the relevant amended and restated Terms of Service on
                            Predictly’s website, available at _________ and such amendments to the Terms of Service are
                            effective as of the date of posting. Your continued use of the Services after the amended
                            Terms of Service are posted to Predictly’s website constitutes your agreement to, and
                            acceptance of, the amended Terms of Service. If you do not agree to any changes to the Terms
                            of Service, do not continue to use the Service.
                        </li>
                        <li class="color-dark-gray">You may not use the Predictly Services for any illegal or
                            unauthorized purpose nor may you, in the use of the Service, violate any laws in your
                            jurisdiction (including but not limited to copyright laws), the laws applicable to you in
                            your customer’s jurisdiction, or the laws of Canada and the Province of Ontario. You will
                            comply with all applicable laws, rules and regulations in your use of the Service and your
                            performance of obligations under the Terms of Service.
                        </li>
                        <li class="color-dark-gray">You agree not to reproduce, duplicate, copy, sell, resell or exploit
                            any portion of the Service, use of the Services, or access to the Services without the
                            express written permission by Predictly.
                        </li>
                        <li class="color-dark-gray">You shall not purchase search engine or other pay per click keywords
                            (such as Google AdWords), or domain names that use Predictly or Predictly trademarks and/or
                            variations and misspellings thereof.
                        </li>
                        <li class="color-dark-gray">Questions about the Terms of Service should be sent to Predictly
                            Support.
                        </li>
                        <li class="color-dark-gray">You understand that your Materials (not including credit card
                            information), may be transferred unencrypted and involve (a) transmissions over various
                            networks; and (b) changes to conform and adapt to technical requirements of connecting
                            networks or devices. Credit card information is always encrypted during transfer over
                            networks.
                        </li>
                        <li class="color-dark-gray">You acknowledge and agree that your use of the Services, including
                            information transmitted to or stored by Predictly, is governed by its privacy policy at
                            ________________
                        </li>
                        <li class="color-dark-gray">The Terms of Service may be available in languages other than
                            English. To the extent of any inconsistencies or conflicts between these English Terms of
                            Service and Predictly’s Terms of Service available in another language, the most current
                            English version of the Terms of Service at _____________ will prevail.
                        </li>
                        <li class="color-dark-gray">All the terms and provisions of the Terms of Service shall be
                            binding upon and inure to the benefit of the parties to the Terms of Service and to their
                            respective heirs, successors, permitted assigns and legal representatives. Predictly shall
                            be permitted to assign these Terms of Service without notice to you or consent from you. You
                            shall have no right to assign or otherwise transfer the Terms of Service, or any of your
                            rights or obligations hereunder, to any third party without Predictly’s prior written
                            consent, to be given or withheld in Predictly’s sole discretion.
                        </li>
                        <li class="color-dark-gray">If any provision, or portion of the provision, in these Terms of
                            Service is, for any reason, held to be invalid, illegal or unenforceable in any respect,
                            then such invalidity, illegality or unenforceability will not affect any other provision (or
                            the unaffected portion of the provision) of the Terms of Service, and the Terms of Service
                            will be construed as if such invalid, illegal or unenforceable provision, or portion of the
                            provision, had never been contained within the Terms of Service.
                        </li>
                        <li class="color-dark-gray">Sections 1, 3(2)-(5), 4, 6-8, 13-14, 16(9)-(11), 18, 20 and 21 will
                            survive the termination or expiration of these Terms of Service.
                        </li>
                    </ol>
                    <p class="color-dark-gray legal-text">WHICH MEANS</p>
                    <p class="color-dark-gray legal-text font-weight-bold">The Predictly service belongs to us. You are
                        not allowed to rip it off. You are not allowed to steal any idea or portion of it. You are not
                        allowed to use it for any illegal or sketchy purpose. If you or your employees or contractors
                        use Predictly this applies to them as well.

                        Your Materials may be transferred unencrypted and may be altered, but credit card information is
                        always encrypted.</p>
                    <h2 class="color-dark-gray legal-title">4. Predictly Contracting Party</h2>
                    <ol>
                        <li class="color-dark-gray">If the billing address of your Business is located in the United
                            States, Canada, Europe, Asia, or South America this applies to you:
                        </li>
                    </ol>
                    <p class="color-dark-gray legal-text">a. “Predictly Contracting Party” means Predictly Inc., a
                        Canadian corporation, with offices located at 720 King Street, Suite 217, Toronto, Ontario, M5V
                        3S5.</p>
                    <p class="color-dark-gray legal-text">b. The parties irrevocably and unconditionally submit to the
                        exclusive jurisdiction of the courts of the Province of Ontario with respect to any dispute or
                        claim arising out of or in connection with the Terms of Service. The United Nations Convention
                        on Contracts for the International Sale of Goods will not apply to these Terms of Service and is
                        hereby expressly excluded.</p>
                    <p class="color-dark-gray legal-text">b. You irrevocably and unconditionally agree to submit to the
                        jurisdiction of Irish courts, which have jurisdiction to settle any disputes which may arise out
                        of or in connection with the validity, effect, interpretation or performance of these Terms of
                        Service and you similarly irrevocably and unconditionally waive any objection to any claim that
                        any suit, action or proceeding has been brought by Predictly in any other jurisdiction. The
                        United Nations Convention on Contracts for the International Sale of Goods will not apply to
                        these Terms of Service and is hereby expressly excluded.</p>
                    <p class="color-dark-gray legal-text">WHICH MEANS</p>
                    <p class="color-dark-gray legal-text font-weight-bold">If a dispute arises you may bring an action
                        to the Province of Ontario (Canada).</p>
                    <h2 class="color-dark-gray legal-title">5. Predictly Rights</h2>
                    <ol>
                        <li class="color-dark-gray">We reserve the right to modify or terminate the Services for any
                            reason, without notice at any time. Not all Services and features are available in every
                            jurisdiction and we are under no obligation to make any Services or features available in
                            any jurisdiction.
                        </li>
                        <li class="color-dark-gray">
                            We reserve the right to refuse service to anyone for any reason at any time.
                        </li>
                        <li class="color-dark-gray">
                            We reserve the right to terminate Predictly User Accounts for any reason at any time.
                        </li>
                        <li class="color-dark-gray">
                            Verbal or written abuse of any kind (including threats of abuse or retribution) of any
                            Predictly customer, Predictly employee, member, or officer will result in immediate Account
                            termination.
                        </li>
                        <li class="color-dark-gray">
                            Predictly does not pre-screen Materials and it is in our sole discretion to refuse or remove
                            any Materials from the Service, including your Predictly User Account.
                        </li>
                        <li class="color-dark-gray">
                            We reserve the right to provide our services to your competitors and make no promise of
                            exclusivity in any particular market segment. You further acknowledge and agree that
                            Predictly employees and contractors may also be Predictly customers/merchants and that they
                            may compete with you.
                        </li>
                        <li class="color-dark-gray">
                            In the event of a dispute regarding Account ownership, we reserve the right to request
                            documentation to determine or confirm Account ownership. Documentation may include, but is
                            not limited to, a scanned copy of your business license, government issued photo ID, the
                            last four digits of the credit card on file, your status as an employee of an entity, etc.
                        </li>
                        <li class="color-dark-gray">
                            Predictly retains the right to determine, in our sole judgment, rightful Account ownership
                            and transfer an Account to the rightful Predictly User Account Owner. If we are unable to
                            reasonably determine the rightful Predictly User Account Owner, without prejudice to our
                            other rights and remedies, Predictly reserves the right to temporarily disable an Account
                            until resolution has been determined between the disputing parties.
                        </li>
                    </ol>
                    <p class="color-dark-gray legal-text">WHICH MEANS</p>
                    <p class="color-dark-gray legal-text font-weight-bold">We can modify, cancel or refuse the service
                        at any time.

                        In the event of an ownership dispute over a Predictly account, we can freeze the account or
                        transfer it to the rightful owner, as determined by us.</p>
                    <h2 class="color-dark-gray legal-title">6. Confidentiality</h2>
                    <ol>
                        <li class="color-dark-gray">
                            “Confidential Information” shall include, but shall not be limited to, any and all
                            information associated with a party’s business and not publicly known, including specific
                            business information, technical processes and formulas, software, customer lists, names,
                            addresses and other information regarding customers and prospective customers, sales, and
                            other unpublished financial information, business plans, and any other confidential and
                            proprietary information, whether or not marked as confidential or proprietary that is not
                            obtainable by public or paid services. Predictly’s Confidential Information includes all
                            information that you receive relating to us, or to the Services, that is not known to the
                            general public including information related to our security program and practices.
                        </li>
                        <li class="color-dark-gray">
                            Each party agrees to use the other party’s Confidential Information solely as necessary for
                            performing its obligations under these Terms of Service and in accordance with any other
                            obligations in these Terms of Service including this Section 6. Each party agrees that it
                            shall take all reasonable steps, at least substantially equivalent to the steps it takes to
                            protect its own proprietary information, to prevent the duplication, disclosure or use of
                            any such Confidential Information, other than (i) by or to its employees, agents and
                            subcontractors who must have access to such Confidential Information to perform such party’s
                            obligations hereunder, who each shall treat such Confidential Information as provided
                            herein, and who are each subject to obligations of confidentiality to such party that are at
                            least as stringent as those contained herein; or (ii) as required by any law, regulation, or
                            order of any court of proper jurisdiction over the parties and the subject matter contained
                            in these Terms of Service, provided that, if legally permitted, the receiving party shall
                            give the disclosing party prompt written notice and use commercially reasonable efforts to
                            ensure that such disclosure is accorded confidential treatment. Confidential Information
                            shall not include any information that the receiving party can prove: (A) was already in the
                            public domain, or was already known by or in the possession of the receiving party, at the
                            time of disclosure of such information; (B) is independently developed by the receiving
                            party without use of or reference to the other party’s Confidential Information, and without
                            breaching any provisions of these Terms of Service; or (C) is thereafter rightly obtained by
                            the receiving party from a source other than the disclosing party without breaching any
                            provision of these Terms of Service.
                        </li>
                    </ol>
                    <p class="color-dark-gray legal-text">WHICH MEANS</p>
                    <p class="color-dark-gray legal-text font-weight-bold">Both you and Predictly agree to use the
                        Confidential Information of the other only to perform the obligations in these Terms of Service.
                        Confidential Information must be protected and respected.</p>
                    <h2 class="color-dark-gray legal-title">7. Limitation of Liability</h2>
                    <ol>
                        <li class="color-dark-gray">You expressly understand and agree that, to the extent permitted by
                            applicable laws, Predictly shall not be liable for any direct, indirect, incidental,
                            special, consequential or exemplary damages, including but not limited to, damages for loss
                            of profits, goodwill, use, data or other intangible losses resulting from the use of or
                            inability to use the Service.
                        </li>
                        <li class="color-dark-gray">To the extent permitted by applicable laws, in no event shall
                            Predictly or our suppliers be liable for lost profits or any special, incidental or
                            consequential damages arising out of or in connection with our site, our Services or these
                            Terms of Service (however arising including negligence). You agree to indemnify and hold us
                            and (as applicable) our parent, subsidiaries, affiliates, Predictly partners, officers,
                            directors, agents, employees, and suppliers harmless from any claim or demand, including
                            reasonable attorneys’ fees, made by any third party due to or arising out of your breach of
                            these Terms of Service or the documents it incorporates by reference (including the AUP), or
                            your violation of any law or the rights of a third party.
                        </li>
                        <li class="color-dark-gray">Your use of the Services is at your sole risk. The Services are
                            provided on an “as is” and “as available” basis without any warranty or condition, express,
                            implied or statutory.
                        </li>
                        <li class="color-dark-gray">Predictly does not warrant that the Services will be uninterrupted,
                            timely, secure, or error-free.
                        </li>
                        <li class="color-dark-gray">Predictly does not warrant that the results that may be obtained
                            from the use of the Services will be accurate or reliable.
                        </li>
                        <li class="color-dark-gray">Predictly does not warrant that the quality of any products,
                            services, information, or other materials purchased or obtained by you through the Services
                            will meet your expectations, or that any errors in the Services will be corrected.
                        </li>
                    </ol>
                    <p class="color-dark-gray legal-text">WHICH MEANS</p>
                    <p class="color-dark-gray legal-text font-weight-bold">We are not responsible if you break the law,
                        breach this agreement or go against the rights of a third party, especially if you get sued.

                        Service is “as is” so it may have errors or interruptions and we provide no warranties and our
                        liability is limited.</p>
                    <h2 class="color-dark-gray legal-title">8. Waiver and Complete Agreement</h2>
                    <p class="color-dark-gray legal-text">The failure of Predictly to exercise or enforce any right or
                        provision of the Terms of Service shall not constitute a waiver of such right or provision. The
                        Terms of Service, including the documents it incorporates by reference, constitute the entire
                        agreement between you and Predictly and govern your use of the Services and your Account,
                        superseding any prior agreements between you and Predictly (including, but not limited to, any
                        prior versions of the Terms of Service).</p>
                    <p class="color-dark-gray legal-text">WHICH MEANS</p>
                    <p class="color-dark-gray legal-text font-weight-bold">If Predictly chooses not to enforce any of
                        these provisions at any time, it does not mean that we give up that right later.

                        These Terms of Service make up the agreement that applies to you. This means that any previous
                        agreements between you and Predictly don’t apply if they conflict with these terms.</p>
                    <h2 class="color-dark-gray legal-title">9. Intellectual Property and Customer Content</h2>
                    <ol>
                        <li class="color-dark-gray">By uploading Materials, you agree: (a) to allow Predictly to store,
                            and (b) that Predictly can, at any time, review and delete all the Materials submitted to
                            its Service, although Predictly is not obligated to do so.
                        </li>
                    </ol>
                    <p class="color-dark-gray legal-text">WHICH MEANS</p>
                    <p class="color-dark-gray legal-text font-weight-bold">Anything you upload is your
                        responsibility.</p>
                    <h2 class="color-dark-gray legal-title">10. Payment of Fees</h2>
                    <ol>
                        <li class="color-dark-gray">You will pay the Fees applicable to your subscription to Online
                            Service (“Subscription Fees”) and any other applicable fees, including but not limited to
                            applicable fees relating to your purchase or use of any products or services Predictly
                            offers. Together, the Subscription Fees, Transaction Fees and the Additional Fees are
                            referred to as the “Fees”.
                        </li>
                        <li class="color-dark-gray">You must keep a valid payment method on file with us to pay for all
                            incurred and recurring Fees. Predictly will charge applicable Fees to any valid payment
                            method that you authorize (“Authorized Payment Method”), and Predictly will continue to
                            charge the Authorized Payment Method for applicable Fees until the Services are terminated,
                            and any and all outstanding Fees have been paid in full. Unless otherwise indicated, all
                            Fees and other charges are in U.S. dollars, and all payments shall be in U.S. currency.
                        </li>
                        <li class="color-dark-gray">For pay-per-use plans, the Service is billed in advance of using the
                            service and is non-refundable. There will be no refunds, or credits issued for partial
                            pay-per-use plans of the service, upgrade/downgrade refunds, or refunds for unused
                            pay-per-use credits.
                        </li>
                        <li class="color-dark-gray">For monthly payment plans, the Service is billed in advance on a
                            monthly basis and is non-refundable. There will be no refunds or credits for partial months
                            of service, upgrade/downgrade refunds, or refunds for months unused with an open account.
                        </li>
                        <li class="color-dark-gray">For annual payment plans, the Service is billed up front for a one
                            (1)-year period and is non-refundable. Your annual plan will automatically renew for
                            successive one (1)-year periods, and you will be charged the applicable fees on each annual
                            anniversary of your purchase, unless you cancel prior to the end of the then-current annual
                            term. There will be no refunds or credits for partial terms of service, upgrade/downgrade
                            refunds, or refunds for unused terms with an open account.
                        </li>
                        <li class="color-dark-gray">Certain credits may apply when you purchase an upgrade to the
                            Service or switch from a monthly plan to an annual payment plan.
                        </li>
                        <li class="color-dark-gray">If we are not able to process payment of Fees using an Authorized
                            Payment Method, we will make a second attempt to process payment using any Authorized
                            Payment Method 3 days later. If the second attempt is not successful, we will make a final
                            attempt 3 days following the second attempt. If our final attempt is not successful, we may
                            suspend and revoke access to your Account and the Services. Your Account will be reactivated
                            upon your payment of any outstanding Fees, plus the Fees applicable to your next billing
                            cycle. You may not be able to access your Account during any period of suspension. If the
                            outstanding Fees remain unpaid for 60 days following the date of suspension, Predictly
                            reserves the right to terminate your Account.
                        </li>
                        <li class="color-dark-gray">All Fees are exclusive of applicable federal, provincial, state,
                            local or other governmental sales, goods and services, harmonized or other taxes, fees or
                            charges now in force or enacted in the future (“Taxes”).
                        </li>
                        <li class="color-dark-gray">You are responsible for all applicable Taxes that arise from or as a
                            result of your subscription to or purchase of Predictly’s products and services. To the
                            extent that Predictly charges these Taxes, they are calculated using the tax rates that
                            apply based on the billing address you provide to us. Such amounts are in addition to the
                            Fees for such products and services and will be billed to your Authorized Payment Method. If
                            you are exempt from payment of such Taxes, you must provide us with evidence of your
                            exemption, which in some jurisdictions includes an original certificate that satisfies
                            applicable legal requirements attesting to tax-exempt status. Tax exemption will only apply
                            from and after the date we receive evidence satisfactory to Predictly of your exemption. If
                            you are not charged Taxes by Predictly, you are responsible for determining if Taxes are
                            payable, and if so, self-remitting Taxes to the appropriate tax authorities in your
                            jurisdiction.
                        </li>
                        <li class="color-dark-gray">For the avoidance of doubt, all sums payable by you to Predictly
                            under these Terms of Service shall be paid free and clear of any deductions or withholdings
                            whatsoever. Other than Taxes charged by Predictly to you and remitted to the appropriate tax
                            authorities on your behalf, any deductions or withholdings that are required by law shall be
                            borne by you and paid separately to the relevant taxation authority. Predictly shall be
                            entitled to charge the full amount of Fees stipulated under these Terms of Service to your
                            Authorized Payment Method ignoring any such deduction or withholding that may be required.
                        </li>
                        <li class="color-dark-gray">You must maintain an accurate location in the administration menu of
                            your Predictly User Account. If you change jurisdictions you must promptly update your
                            location in the administration menu.
                        </li>

                    </ol>
                    <p class="color-dark-gray legal-text">WHICH MEANS</p>
                    <p class="color-dark-gray legal-text font-weight-bold">A valid payment method (like a credit card)
                        is required for all Predictly User Accounts. You will be billed for your Subscription Fees every
                        30 days. Any Transaction Fees or Additional Fees will be charged to your payment method.

                        If we are not able to process payment of Fees using your payment method, we will try again in 3
                        days. If we are unable to process payment of Fees on the second attempt, we will make a third
                        and final attempt three days later. If payment of Fees is unsuccessful after three attempts,
                        Predictly may freeze your account. You may be required to remit Taxes to Predictly or to
                        self-remit to your local taxing authority. We do not give refunds.
                    </p>
                    <h2 class="color-dark-gray legal-title">11. Cancellation and Termination</h2>
                    <ol>
                        <li class="color-dark-gray">
                            You may cancel your Account and terminate the Terms of Service at any time by contacting
                            Predictly Support and then following the specific instructions indicated to you in
                            Predictly’s response.
                        </li>
                        <li class="color-dark-gray">
                            Upon termination of the Services by either party for any reason:
                            <ol>
                                <li class="color-dark-gray">Predictly will cease providing you with the Services and you
                                    will no longer be able to access your Account;
                                </li>
                                <li class="color-dark-gray">unless otherwise provided in the Terms of Service, you will
                                    not be entitled to any refunds of any Fees, pro rata or otherwise;
                                </li>
                                <li class="color-dark-gray">any outstanding balance owed to Predictly for your use of
                                    the Services through the effective date of such termination will immediately become
                                    due and payable in full.
                                </li>
                            </ol>
                        </li>
                        <li class="color-dark-gray">If at the date of termination of the Service, there are any
                            outstanding Fees owing by you, you will receive one final invoice via email. Once that
                            invoice has been paid in full, you will not be charged again.
                        </li>
                        <li class="color-dark-gray">We reserve the right to modify or terminate the Predictly Service,
                            the Terms of Service and/or your Account for any reason, without notice at any time.
                            Termination of the Terms of Service shall be without prejudice to any rights or obligations
                            which arose prior to the date of termination.
                        </li>
                        <li class="color-dark-gray">Fraud: Without limiting any other remedies, Predictly may suspend or
                            terminate your Account if we suspect that you (by conviction, settlement, insurance or
                            escrow investigation, or otherwise) have engaged in fraudulent activity in connection with
                            the use of the Services.
                        </li>

                    </ol>
                    <p class="color-dark-gray legal-text">WHICH MEANS</p>
                    <p class="color-dark-gray legal-text font-weight-bold">To initiate a termination contact
                        <router-link :to="{ name: 'support'}" tag="a">
                            Support
                        </router-link>
                        Predictly will respond with specific information regarding the termination process for your
                        account. Once termination is confirmed, you will no longer have access to any data that has been
                        stored on Predictly. If you cancel in the middle of your billing cycle, you’ll have one last
                        email invoice.

                        We may change or terminate your account at any time. Any fraud and we will suspend or terminate
                        your account.
                    </p>
                    <h2 class="color-dark-gray legal-title">12. Modifications to the Service and Prices</h2>
                    <ol>
                        <li class="color-dark-gray">Prices for using the Services are subject to change upon 15 days’
                            notice from Predictly. Such notice may be provided at any time by posting the changes to the
                            Predictly Site (Predictly.com) or the administration menu of your Predictly Store via an
                            announcement.
                        </li>
                        <li class="color-dark-gray">Predictly reserves the right at any time, and from time to time, to
                            modify or discontinue, the Services (or any part thereof) with or without notice.
                        </li>
                        <li class="color-dark-gray">Predictly shall not be liable to you or to any third party for any
                            modification, price change, suspension or discontinuance of the Service.
                        </li>
                    </ol>

                    <p class="color-dark-gray legal-text">WHICH MEANS</p>
                    <p class="color-dark-gray legal-text font-weight-bold">
                        We may change or discontinue the service at any time, without liability.
                    </p>
                    <h2 class="color-dark-gray legal-title">13. Third Party Services, Experts, and Experts
                        Marketplace</h2>
                    <ol>
                        <li class="color-dark-gray">
                            Predictly may from time to time recommend, provide you with access to, or enable third party
                            software, applications (“Apps”), products, services or website links (collectively, “Third
                            Party Services”) for your consideration or use, including via the Predictly App Store,
                            Predictly Experts Marketplace, Predictly Newsletter’s, social media channels or via in
                            application notifications. Such Third Party Services are made available only as a
                            convenience, and your purchase, access or use of any such Third Party Services is solely
                            between you and the applicable third party services provider (“Third Party Provider”). In
                            addition to these Terms of Service, you also agree to be bound by the additional
                            service-specific terms applicable to services you purchase from, or that are provided by,
                            Third Party Providers.
                        </li>
                        <li class="color-dark-gray">
                            Predictly Experts is an online directory of independent third parties (“Experts”) that can
                            help you build and operate your Predictly Store.
                        </li>
                        <li class="color-dark-gray">
                            You can engage and work with an Expert directly or through Experts Marketplace. Experts
                            Marketplace provides you with recommendations on Experts that can assist you with different
                            aspects of your Store. Using Experts Marketplace, you can find, hire, and communicate with
                            Experts directly from your Account admin.
                        </li>
                        <li class="color-dark-gray">
                            Any use by you of Third Party Services offered through the Services, Predictly Experts,
                            Predictly Experts Marketplace or Predictly’s website is entirely at your own risk and
                            discretion, and it is your responsibility to read the terms and conditions and/or privacy
                            policies applicable to such Third Party Services before using them. In some instances,
                            Predictly may receive a revenue share from Third Party Providers that Predictly recommends
                            to you or that you otherwise engage through your use of the Services, Predictly Experts,
                            Experts Marketplace or Predictly’s website.
                        </li>
                        <li class="color-dark-gray">
                            We do not provide any warranties or make representations to you with respect to Third Party
                            Services. You acknowledge that Predictly has no control over Third Party Services and shall
                            not be responsible or liable to you or anyone else for such Third Party Services. The
                            availability of Third Party Services on Predictly’s websites, including the Predictly App
                            Store or Experts Marketplace, or the integration or enabling of such Third Party Services
                            with the Services does not constitute or imply an endorsement, authorization, sponsorship,
                            or affiliation by or with Predictly. Predictly does not guarantee the availability of Third
                            Party Services and you acknowledge that Predictly may disable access to any Third Party
                            Services at any time in its sole discretion and without notice to you. Predictly is not
                            responsible or liable to anyone for discontinuation or suspension of access to, or
                            disablement of, any Third Party Service. Predictly strongly recommends that you seek
                            specialist advice before using or relying on Third Party Services, to ensure they will meet
                            your needs. In particular, tax calculators should be used for reference only and not as a
                            substitute for independent tax advice, when assessing the correct tax rates you should
                            charge to your customers.
                        </li>
                        <li class="color-dark-gray">
                            If you install or enable a Third Party Service for use with the Services, you grant us
                            permission to allow the applicable Third Party Provider to access your data and other
                            Materials and to take any other actions as required for the interoperation of the Third
                            Party Service with the Services, and any exchange of data or other Materials or other
                            interaction between you and the Third Party Provider is solely between you and such Third
                            Party Provider. Predictly is not responsible for any disclosure, modification or deletion of
                            your data or other Materials, or for any corresponding losses or damages you may suffer, as
                            a result of access by a Third Party Service or a Third Party Provider to your data or other
                            Materials.
                        </li>
                        <li class="color-dark-gray">
                            You acknowledge and agree that: (i) by submitting a request for assistance or other
                            information through Experts Marketplace, you consent to being contacted by one or more
                            Experts at the Account Owner’s registered email address (or such other email address
                            provided by you) as well as the applicable user email address; and (ii) Predictly will
                            receive all email communications exchanged via Experts Marketplace or in any reply emails
                            (each a “Reply”) that originate from Experts Marketplace (directly or indirectly) between
                            yourself and Experts. You further agree that Predictly may share your contact details and
                            the background information that you submit via the Experts Marketplace with Experts. Experts
                            may require access to certain admin pages on your Predictly Store. You choose the pages that
                            the Experts can access.
                        </li>
                        <li class="color-dark-gray">
                            The relationship between you and any Third Party Provider is strictly between you and such
                            Third Party Provider, and Predictly is not obligated to intervene in any dispute arising
                            between you and a Third Party Provider.
                        </li>
                        <li class="color-dark-gray">
                            Under no circumstances shall Predictly be liable for any direct, indirect, incidental,
                            special, consequential, punitive, extraordinary, exemplary or other damages whatsoever, that
                            result from any Third Party Services or your contractual relationship with any Third Party
                            Provider, including any Expert. These limitations shall apply even if Predictly has been
                            advised of the possibility of such damages. The foregoing limitations shall apply to the
                            fullest extent permitted by applicable law.
                        </li>
                        <li class="color-dark-gray">
                            You agree to indemnify and hold us and (as applicable) our parent, subsidiaries, affiliates,
                            Predictly partners, officers, directors, agents, employees, and suppliers harmless from any
                            claim or demand, including reasonable attorneys’ fees, arising out of your use of a Third
                            Party Service or your relationship with a Third Party Provider.
                        </li>
                    </ol>
                    <p class="color-dark-gray legal-text">WHICH MEANS</p>
                    <p class="color-dark-gray legal-text font-weight-bold">
                        We are not responsible for third party services so use them at your own risk. If you use Third
                        Party Services on the Predictly platform, you permit us to send your data to those services. If
                        you use Third Party Services you agree that we do not provide a warranty, so get advice
                        beforehand.
                    </p>
                    <h2 class="color-dark-gray legal-title">14.Beta Services</h2>
                    <p class="color-dark-gray legal-text">
                        From time to time, Predictly may, in its sole discretion, invite you to use, on a trial basis,
                        pre-release or beta features that are in development and not yet available to all merchants
                        (“Beta Services”). Beta Services may be subject to additional terms and conditions, which
                        Predictly will provide to you prior to your use of the Beta Services. Such Beta Services and all
                        associated conversations and materials relating thereto will be considered Predictly
                        Confidential Information and subject to the confidentiality provisions in this agreement.
                        Without limiting the generality of the foregoing, you agree that you will not make any public
                        statements or otherwise disclose your participation in the Beta Services without Predictly’s
                        prior written consent. Predictly makes no representations or warranties that the Beta Services
                        will function. Predictly may discontinue the Beta Services at any time in its sole discretion.
                        Predictly will have no liability for any harm or damage arising out of or in connection with a
                        Beta Service. The Beta Services may not work in the same way as a final version. Predictly may
                        change or not release a final or commercial version of a Beta Service in our sole discretion.
                    </p>
                    <h2 class="color-dark-gray legal-title">14. Feedback and Reviews</h2>
                    <p class="color-dark-gray legal-text">
                        Predictly welcomes any ideas and/or suggestions regarding improvements or additions to the
                        Services. Under no circumstances shall any disclosure of any idea, suggestion or related
                        material or any review of the Services, Third Party Services or any Third Party Provider
                        (collectively, “Feedback") to Predictly be subject to any obligation of confidentiality or
                        expectation of compensation. By submitting Feedback to Predictly (whether submitted directly to
                        Predictly or posted on any Predictly hosted forum or page), you waive any and all rights in the
                        Feedback and that Predictly is free to implement and use the Feedback if desired, as provided by
                        you or as modified by Predictly, without obtaining permission or license from you or from any
                        third party. Any reviews of a Third Party Service or Third Party Provider that you submit to
                        Predictly must be accurate to the best of your knowledge, and must not be illegal, obscene,
                        threatening, defamatory, invasive of privacy, infringing of intellectual property rights, or
                        otherwise injurious to third parties or objectionable. Predictly reserves the right (but not the
                        obligation) to remove or edit Feedback of Third Party Services or Third Party Providers, but
                        does not regularly inspect posted Feedback.
                    </p>
                    <h2 class="color-dark-gray legal-title">15. Rights of Third Parties</h2>
                    <p class="color-dark-gray legal-text">
                        Save for Predictly and its affiliates, Predictly Users or anyone accessing Predictly Services
                        pursuant to these Terms of Service, unless otherwise provided in these Terms of Service, no
                        person or entity who is not a party to these Terms of Service shall have any right to enforce
                        any term of these Terms of Service, regardless of whether such person or entity has been
                        identified by name, as a member of a class or as answering a particular description. For the
                        avoidance of doubt, this shall not affect the rights of any permitted assignee or transferee of
                        these Terms.
                    </p>
                    <p class="color-dark-gray legal-text">WHICH MEANS</p>
                    <p class="color-dark-gray legal-text font-weight-bold">
                        Only Predictly, Predictly Users and persons accessing Predictly Services have any rights under
                        these Terms of Service.
                    </p>
                    <h2 class="color-dark-gray legal-title">16. Privacy & Data Protection</h2>
                    <p class="color-dark-gray legal-text">
                        Predictly is firmly committed to protecting the privacy of your personal information and the
                        personal information of your customers. Our Global Privacy Policy applies to the use of the
                        Service and its terms are made a part of the Terms of Service by this reference. You understand
                        that by using the Service you consent to the collection, use, and disclosure of your Personal
                        Information and aggregate data as set forth in our Global Privacy Policy and EU & Swiss Privacy
                        Policy, and to have your Personal Information collected, used, transferred to, and processed in
                        Canada and the United States. We cannot guarantee that unauthorized third parties will never be
                        able to defeat our security measures. You acknowledge that you provide your information at your
                        own risk.
                    </p>
                    <p class="color-dark-gray legal-text">WHICH MEANS</p>
                    <p class="color-dark-gray legal-text font-weight-bold">
                        Predictly’s use and collection of personal information is governed by our Privacy Policy.
                        Additionally, if you or your customers are located in Europe, Predictly’s use and collection of
                        European personal information is sent and processed in Canada and/or the United States.
                    </p>
                </div>
            </div>

        </div>
    </div>
</template>

<script>
    import HeaderMain from '../../../layouts/HeaderMain';

    export default {
        components: {
            HeaderMain
        },
    }
</script>

<style lang="scss" scoped>
    @import '~@/_variables.scss';

    .legal {
        max-width: 688px;
    }

    .legal-block {
        margin-top: 70px;
    }

    .legal-title {
        font-weight: 600;
        font-size: 2rem;
        line-height: 38px;
        align-items: center;
        padding-bottom: 24px;
    }

    .legal-text {
        font-style: normal;
        font-weight: normal;
        font-size: 1.125rem;
        line-height: 26px;
    }
</style>
